<ion-view title='' >
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
						<img style="height:32px;" src=""/>
				</button>
	</ion-nav-buttons>
	<ion-content  ng-controller="RefprofileCtrl" >
		<div>hiii</div>
	</ion-content>

</ion-view>















