
<style>
.item-input .icon {
    min-width: 28px;
}
</style>
<ion-view title="">

	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;{{headername}} - Forgot Password
		</ion-nav-back-button>
	</ion-nav-bar>
	
	
	
    <ion-content ng-show="!state.success" has-header="true" has-tabs="true" padding="true">
		
       <form name="userForm">
	   <div class="list">
            <!--<label class="item item-input">
                <input name="mobile" type="tel" ng-init="data.mobile_no = ''" value="{{mobile_for_change}}" placeholder="Mobile No." ng-model="data.mobile_no" ng-minlength="10" ng-maxlength="10" required/>
            </label>-->
			<label class="item item-input">
			
				<input name="pass" type="text" ng-init="data.pass = ''" placeholder="New Password" ng-model="data.pass" ng-show="showPassword" required/>
                <input name="pass" type="password" ng-init="data.pass = ''" placeholder="New Password" ng-model="data.pass" ng-hide="showPassword" required/><i class="icon ion-eye" on-touch="showPassword = !showPassword"></i>
            </label>
        </div>
        <div class="assertive" ng-show="error.message">{{error.message}}</div>
        
		</form>
		<button class="button button-block button-positive" ng-click="reset(data)">
            RESET PASSWORD
        </button>
    </ion-content>
    <ion-content ng-show="state.success" has-header="true" has-tabs="true" padding="true">
        <div class="positive">An email has been sent to you with instructions on resetting your password.</div>
        <button class="button button-block button-clear button-calm" ng-click="login()">
            Log In
        </button>
    </ion-content>
</ion-view>