<ion-view title=''>
<ion-nav-buttons side="left">
		<button menu-toggle="left"  class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		</button>
	</ion-nav-buttons>
	<ion-content  ng-controller="FrthHomePageController" cache-view="false">
		<!-- <h3>Project Sales Manager Section's home</h3>
		<a class="button button-fullwidth" nav-clear ui-sref="root">Back to the Root</a> -->
		<div ng-hide="editorEnabled">
			<img class="full-image" style="height:220px;" ng-if="PCProfileDetails.BuilderUserTimelineImage != '' " src="{{PCeditTl}}" ng-src='{{image_url}}{{PCProfileDetails.BuilderUserTimelineImage}}'/>
			<img class="full-image" style="height:220px;" ng-if="PCProfileDetails.BuilderUserTimelineImage == '' " src="{{PCeditTl}}" ng-src='img/no_image.png'/>
		</div>
		<div ng-show="editorEnabled">
			<img ng-click="pcedittimeline()" class="full-image" style="height:220px;" ng-if="PCProfileDetails.BuilderUserTimelineImage != ''" src="{{PCeditTl}}" id="PCTimeLine" ng-src="{{image_url}}{{PCProfileDetails.BuilderUserTimelineImage}}">
			<img  ng-click="pcedittimeline()" class="full-image" style="height:220px;" ng-if="PCProfileDetails.BuilderUserTimelineImage == ''" src="{{PCeditTl}}" id="PCTimeLine" ng-src="img/no_image.png">
		</div>
			<div style="text-align:center;" class="row">
			<div class="col" >
				<div  ng-hide="editorEnabled">
					<img class="team-profile"  ng-if="PCProfileDetails.BuilderUserProfileImage != '' " src="{{PCeditPro}}" ng-src='{{image_url}}{{PCProfileDetails.BuilderUserProfileImage}}' />
					<img class="team-profile"  ng-if="PCProfileDetails.BuilderUserProfileImage == '' " src="{{PCeditPro}}"  ng-src='img/no_image.png'/>
				</div>
				<div  ng-show="editorEnabled">
					<p style="text-align:center;" ><img class="image-icon" src="img/builder/camera.png" style="position: relative;left: 55px; bottom: 70px;" /></p>
					<img class="team-profile"  style="margin-top: -194px; !important;" ng-click="pcProfileImg()" ng-if="PCProfileDetails.BuilderUserProfileImage != '' " src="{{PCeditPro}}" id="pcEditPro" ng-src='{{image_url}}{{PCProfileDetails.BuilderUserProfileImage}}' />
					<img class="team-profile"  style="margin-top: -194px; !important;" ng-click="pcProfileImg()" ng-if="PCProfileDetails.BuilderUserProfileImage == '' " src="{{PCeditPro}}" id="pcEditPro" ng-src='img/no_image.png'/>
				</div>
				<!--img style="margin-top:5px;width:25px" src="img/builder/edit.png"/-->
				</br><h4><span ng-hide="editorEnabled" >{{PCProfileDetails.OwnerName}}</span><span ng-show="editorEnabled"><input type="text" ng-model="PCProfileDetails.OwnerName" class="overflow" style="text-align: center;display: inline-block;font-size: 1em;" ></span></h4>
				<span><img style="width:10px;" src="img/builder/blocation.png"/></span>&nbsp;&nbsp;<span style="color:#737373;" ng-hide="editorEnabled">{{PCProfileDetails.CityName}}</span>
				<div class="item item-select city" ng-click="editCityList()" ng-show="editorEnabled" style="border: none; display: inline;padding: 5px 10px; ">
					<span style="color:#737373;" ng-if="editCityName == undefined">{{PCProfileDetails.CityName}}
					</span>
					<span style="color:#737373;" ng-if="editCityName != undefined">{{editCityName}}
					</span>
				</div>
                                </br>
                              
			</div>
		</div>
                
		<div class="row" ng-hide="editorEnabled">
			<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			<button  class="button button-clear pull-right" ng-click="PCProfileEdit()" ><img style="margin-top:5px;width:25px" src="img/builder/edit.png"/></button>
		</div><hr  ng-hide="editorEnabled" class="pull-right" style="margin-top: -5px; width: 96%;"/>
		<div class="row"  ng-show="editorEnabled">
			<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			<button class="button button-clear pull-right" ng-click="savePCProfileEdit()" ><img style="margin-top:5px;width:25px" src="img/builder/save_icon64.png"/></button>
		</div><hr  ng-show="editorEnabled" class="pull-right" style="margin-top: -5px; width: 96%;"/>
		<div class="list">
                    
            <!--<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/direction.png"/>
				<div class="input-label col col-50">
                                    
					Track Me
				</div>
                                <div class="input-label col col-50" style="margin-left: 52px;">
                                    
					<md-toggle ng-model="geotrack.checked" 
                                           ng-change="geotrackStatus(); ">        
                                        </md-toggle>
				</div>
			</label>-->
			
			<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;" >
				<img class="image-icon" src="img/builder/direction.png"/>
				<div class="input-label col col-50">
                                    
					Track Me Always
				</div>
				
                 <div class="input-label col col-122" style="margin-left: 52px;">
                               
					<md-toggle ng-model="geotrack.checked" ng-change="geotrackStatus();">        
                    </md-toggle>
				</div>
				
			</label>
			
			<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;" ng-show="trackingss">
					<img class="image-icon" src="img/builder/direction.png"/>
					<div class="input-label col col-50">
										
						Share My Location
					</div>
					 <div class="input-label col col-122" style="">
										
						
						  <button class="button button-small button-balanced pull-right" ng-click="sharemylocation()">
							   Share
						  </button>
						
					</div>
			</label>
			
			<label class="item item-input" style="padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/mobile.png"/>
				<div class="input-label">
					{{PCProfileDetails.MobileNo}}
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/msg.png"/>
				<div class="input-label" ng-hide="editorEnabled">
					{{PCProfileDetails.OwnerEmail}}
				</div>
				<div class="col" ng-show="editorEnabled">
					<input type="text" ng-model="PCProfileDetails.OwnerEmail"  ng-show="editorEnabled">
				</div>
			</label>
		</div>
	</ion-content>
</ion-view>