<ion-view title="<span style='margin-left: -200px;'>Sales Campaign</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
		  	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	<ion-content  class="campaign-content">
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:30px;" src="img/builder/loud_speaker_green.png"/></p>
			<div class="col col-75" ><h3 style="color:#fff;">Sales Campaign</h3></div>
		</div><hr class="pull-right" style="color:#fff; width:95%; margin-top:-10px;" />

		<!--div class="padding" style="text-align: center; ">
			<button class="button button-clear" style="width:70%; border: 2px solid #fff;  border-radius:5px;" ui-sref="frth.AddCampaign"><p style="color: #fff;">Add Sales Campaign</p></button>
		</div>
		<div class="padding" style="text-align: center; ">
			<button class="button button-clear" style="width:70%; border: 2px solid #fff; border-radius:5px;" ui-sref="frth.ViewAllCampaign"> <p style="color: #fff;">View All Sales Campaigns</p></button>
		</div>
		<!--div class="padding" style="text-align: center;">
			<button class="button button-clear" style="width:70%; border: 2px solid #fff;  border-radius:5px;"><p style="color: #fff;">Sales Campaign Approval</p></button>
		</div-->
		<div  ui-sref="frth.AddCampaign" class="row">
			<div class="col">
				<div class="list list-inset campaign">
					<div>Add Sales Campaign</div>
				</div>
			</div>
		</div>
		<div ui-sref="frth.ViewAllCampaign"  class="row">
			<div class="col">
				<div class="list list-inset campaign">
					<div>View Sales Campaign</div>
				</div>
			</div>
		</div>

	</ion-content>

</ion-view>

<script id="frth-ViewAllCampaign.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;View Sales Campaign
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="ExeSalesCampaignCtrl">
			<div ng-if="allsalescampigns != 0">
				<div class="row">
					<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/yaellownote_withplus.png"/></p>
					<div class="col col-75"><h3 class="dotdata" style="margin-top: 10px; margin-left: -15px;">View All Sales Campaigns</h3></div>
				</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
				<div ng-if="allsalescampigns.length != 0">
					<p style="margin-top:50%; margin-left:45%;" ng-if= "AllCampaigns.length == 0 "><ion-spinner icon="android" ng-if= "AllCampaigns.length == 0 " style=" " ></ion-spinner></p>
						<ul class="list">
							<li class="item list-item" ng-repeat="campaign in AllCampaigns" ng-click="select_campaign($index)" style="border-top:none; padding: 6px 0 10px 16px;">
								<h2>{{campaign.activity}}</h2>
							</li>
						</ul>
				</div>
			</div>
			<div ng-if="allsalescampigns.length == 0">
				<h4 style="text-align:center;" >No Sales Campaign Found!!!</h4>
			</div>
		</ion-content>
	</ion-view>
</script>


<script id="frth-ViewSelectedCampaign.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;View Sales Campaign
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="ExeSalesCampaignCtrl">
				<div class="row">
					<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/loud_speaker_green.png"/></p>
					<div class="col col-75"><h3 class="dotdata" style="margin-top: 10px; margin-left: -15px;">{{slected_campaign_details.activity}}</h3></div>
				</div><hr class="pull-right" style="margin-top: -10px; width: 96%;"/>
				<div class="list">
					<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
						<img class="image-icon" src="img/builder/calender6.png"/>
						<div class="col" style="margin-left: -10px;">
							From:&nbsp;<b>{{slected_campaign_details.fromDate | date:"dd/MM/yyyy"}}</b>
						</div>
						<img class="image-icon" src="img/builder/calender10.png"/>
						<div class="col" style="margin-left: -10px;">
							To:&nbsp;<b>{{slected_campaign_details.toDate | date:"dd/MM/yyyy"}}</b>
						</div>
					</label>

					<label class="item item-input">
						<img class="image-icon" src="img/builder/horn-light-grey.png"/>
						<div class="col overflow">
							Activity
						</div>
						<div class="col overflow">
							<b>{{slected_campaign_details.activity}}</b>
						</div>
					</label>
					<label class="item item-input">
						<img class="image-icon" src="img/builder/squrerupee.png"/>
						<div class="col overflow">
							Budget
						</div>
						<div class="col overflow">
							<b>&#8377; {{slected_campaign_details.budget}}</b>
						</div>
					</label>
					<!--label class="item item-input">
						<img class="image-icon" src="img/builder/map-location.png"/>
						<div class="col overflow">
							City:&nbsp;<b>{{slected_campaign_details.CityName}}</b>
						</div>
						<img class="image-icon" src="img/builder/map-location.png"/>
						<div class="col overflow">
							Location:&nbsp;<b>{{slected_campaign_details.ApprovedByName}}</b>
						</div>
					</label-->
					<label class="item item-input">
						<img class="image-icon" src="img/builder/circlecheck.png"/>
						<div class="col overflow">
							Approved By
						</div>
						<div class="col overflow">
							<b>{{slected_campaign_details.ApprovedByName}}</b>
						</div>
					</label>
					<label class="item item-input">
						<img class="image-icon" src="img/builder/building-block.png"/>
						<div class="col overflow">
							Project Name
						</div>
						<div class="col overflow">
							<b>{{slected_campaign_details.ProjectName}}</b>
						</div>
					</label>
					<label class="item item-input">
						<img class="image-icon" src="img/builder/map-location.png"/>
						<div class="col overflow">
							Campaign Location
						</div>
						<div class="col overflow">
							<b>{{slected_campaign_details.campaignLocation}}</b>
						</div>
					</label>
					<label class="item item-input">
						<img class="image-icon" src="img/builder/remarkicon.png"/>
						<div class="col overflow">
							Remarks
						</div>
						<div class="col overflow">
							<b>{{slected_campaign_details.remarks}}</b>
						</div>
					</label>
					<div class="item item-divider"></div>
					<div class="row">
						<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/blueflag.png"/></p>
						<div class="col col-75"><h3 class="dotdata" style="margin-top: 10px; margin-left: -15px;">Promotional Requirements</h3></div>
					</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
					<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
						<img style="height:25px;" src="img/builder/arrow.png"/>
						<div class="col overflow" style="margin-left:10px;">
							<b>{{slected_campaign_details.promotionalMaterialRequired}}</b>
						</div>
					</label>

					<div  class="item item-input" ui-sref="frth.attentedCamp" ng-click="AllAttentiveList(slected_campaign_details.projectSalesCampaignId)">
						<div style="padding:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/owner.png" /><h2>Attendance</h2></div>
						<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
					</div>
                                        <div ng-if="attendeeStatus.length == 0">
                                            <div class="item item-toggle" ng-hide="attend_toggle">
                                                    I Will Attend
                                                    <label class="toggle toggle-balanced">
                                                            <input type="checkbox" ng-model="attend" ng-click="Attend_button(attend, slected_campaign_details.projectSalesCampaignId)">
                                                            <div class="track"  >
                                                                    <div class="handle"></div>
                                                            </div>
                                                    </label>
                                            </div>
                                        </div>
                                
                                        <div ng-if="attendeeStatus.length == 1">
                                                <h4 style="color:red; margin-left:22px;" >Attended</h4>
                                        </div>
                                
					<!--div class="item item-toggle" ng-hide="attend_toggle"  ng-init="tab=1">
						<div class="col col-20 cb" ng-click="tab = 1" ng-class="{'cb-active': tab == 1}">tab 1</div>
						<div class="col cb">I Will Attend</div>
						<div class="col col-20 cb" ng-click="tab = 2">tab 2</div>
					</div-->

				</div>
				<!--button class="button button-full button-positive" ng-click="Attend_button(approve)">
					Submit
				</button-->
		</ion-content>
	</ion-view>
</script>

<script id="frth-attentedCamp.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;View All Attendance
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
			<div class="col"><h3>View All Attendance</h3></div>
		</div>
		<ion-content has-header="true" ng-controller="ExeSalesCampaignCtrl">
			
				<div ng-if="Attendee.length != 0">
					<p style="margin-top:50%; margin-left:45%;" ng-if= "Attendee.length == 0 "><ion-spinner icon="android" ng-if= "Attendee.length == 0 " style=" " ></ion-spinner></p>

						<ul class="list" style="margin-top: 40px; margin-bottom: 40px;">
							<li class="item list-item" ng-repeat="attened in Attendee">
								<h2>{{attened.attendBy}}</h2>
							</li>
						</ul>
				</div>
			
			<div ng-if="Attendee.length == 0" style="margin-top:55px;">
				<h4 style="text-align:center;" >No Person Found!!!</h4>
			</div>
		</ion-content>
	</ion-view>
</script>



<script id="frth-AddCampaign.html" type="text/ng-template">
	<ion-view title="" ng-controller="ExeSalesCampaignCtrl">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Add Sales Campaign
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" >
			<div class="row">
				<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/pinkspeakerplus.png"/></p>
				<div class="col col-75"><h3 class="dotdata" style="margin-top: 10px; margin-left: -15px;">Add Sales Campaign</h3></div>
			</div><hr class="pull-right" style="margin-top: -10px; width: 96%;"/>
			<div class="list">
				<div class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/calender6.png"/>
					<div class="col">
						<input  type="text" onfocus="(this.type='date')" name="from_date" id="date1" placeholder="From" ng-init="$parent.data.from_date = ''" ng-model="$parent.data.from_date"  min="{{todayDate |date:'yyyy-MM-dd'}}">
					</div>
					<img class="image-icon" src="img/builder/calender10.png"/>
					<div class="col">

						<input  type="text" onfocus="(this.type='date')" placeholder="To"   ng-init="$parent.data.to_date = ''" ng-model="$parent.data.to_date" class="textbox-n" id="date2" min="{{todayDate |date:'yyyy-MM-dd'}}">
						<!--input placeholder="To" type="text" onfocus="this.type='date';
                      this.setAttribute('onfocus','');this.blur();this.focus();"-->
					</div>
				</div>

				<label class="item item-input">
					<img class="image-icon" src="img/builder/horn-light-grey.png"/>
					<div class="col overflow">
						<input type="text"  ng-init="$parent.data.activity = ''" ng-model="$parent.data.activity" placeholder="Activity"/>
					</div>

				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/squrerupee.png"/>
					<div class="col overflow">
						<input type="number"  ng-init="$parent.data.budget = ''"  ng-model="$parent.data.budget" placeholder="Budget"/>
					</div>

				</label>
				<!--label class="item item-input ">
					<img class="image-icon" src="img/builder/map-location.png"/>
					<div class="col overflow item-select">
						<input type="text" ng-model="data.city" placeholder="City"/>
					</div>
					<img class="image-icon" src="img/builder/map-location.png"/>
					<div class="col overflow item-select">
						<input type="text" ng-model="data.location" placeholder="Location"/>
					</div>
				</label-->

				<label class="item item-input item-select" ng-click="ExeCamProjList()">
					<img class="image-icon" src="img/builder/building-block.png"/>
					<div class="col" ng-if='CamProjectName == undefined '>Project Name</div>
					<div class="col" ng-if='CamProjectName != ""'>
						{{CamProjectName}}
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/map-location.png"/>
					<div class="col overflow">
						<input type="text" ng-init="$parent.data.cam_loc = ''" ng-model="$parent.data.cam_loc" placeholder="Campaign Location"/>
					</div>

				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/flag_grey.png"/>
					<div class="col overflow">
						<input type="text" ng-init="$parent.data.promotional_materials = ''"  ng-model="$parent.data.promotional_materials" placeholder="Promotional Materials"/>
					</div>

				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/remarkicon.png"/>
					<div class="col overflow">
						<input type="text"  ng-init="$parent.data.remark = ''" ng-model="$parent.data.remark" placeholder="Remark"/>
					</div>

				</label>

			</div>

		</ion-content>
		<ion-footer-bar align-title="left" style="background-color:#3B5999;">
			<div class="button-bar button-clear">
				<a class="button button-clear" style="background-color:#3B5999; color:#fff;" ng-click="add_compaign(data)">Submit</a>
			</div>
		</ion-footer-bar>
	</ion-view>
</script>
