
<style>
.row {
    padding: 1px;
}
.col {
    padding: 0px;
}
</style>
<ion-view title="<span style='margin-left: -160px;'>View Team</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>

	  	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		
	</button>
	</ion-nav-buttons>
	
	<div class="row bar bar-subheader">
		<p style="margin:11px 10px 10px;"><img style="width:30px" src="img/builder/usergroup.png"/></p>
		<div class="col"><h4>List of Team Members</h4></div>
	</div>
	
	  <ion-content ng-controller="frthteamviewCtrl">
		<div ng-if="teamDetail.length != 0 ">
			<p style="margin-top:50%; margin-left:45%;" ng-if= "getAllPsccTeam.length == 0 "><ion-spinner icon="android" ng-if= "getAllPsccTeam.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px;margin-bottom: 40px;">

				<div class="item item-avatar item-thumbnail-left"   ng-repeat="team in getAllPsccTeam">

					<img  style="border:3px solid #29ABE0;" ng-if="team.profile_img != ''" ng-src="{{image_url}}{{team.profile_img}}" >
					<img style="border:3px solid #29ABE0;" ng-if="team.profile_img == ''" ng-src="img/no_image.png">
					<!--<h2 style="margin-top:10px;">{{team.name}}</h2>-->
					<h2 ng-if="team.user_role_id==1">{{team.name}} (Builder)</h2>
					<h2 ng-if="team.user_role_id==2">{{team.name}} (PSM)</h2>
					<h2 ng-if="team.user_role_id==3">{{team.name}} (PSE)</h2>
					<h2 ng-if="team.user_role_id==4">{{team.name}} (PSC)</h2>
					<p>{{team.mobile}}</p>
					<p>{{team.email}}</p>
					<div class="button-bar">
					<a class="button-small"  href="tel:{{team.mobile}}"><img class="" style="width:35px; margin-top:5px;" src="img/builder/call.png"></a>
					<a class="button-small"  href="whatsapp://send?text=Hello%20World!"><img class="" style="width:35px; margin-top:5px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button-small"  href="sms:{{team.mobile}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button-small"  href="mailto:{{team.email}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/mail.png"></a>
					<a class="button-small"  ng-click="geoLoc(team.builder_user_id,team.name)"><img class="" style="width:35px; margin-top:5px;" src="img/builder/maploc.png"/></a>
					
					
					
					</div>
				</div>
			</div>
		</div>
		<div ng-if="teamDetail.length == 0 " style="margin-top:55px;"><h4 style="text-align:center;">No Team Found..</h4> </div>

  </ion-content>
	
	
</ion-view>

<script id="frth-salesTeamLocation.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Location
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content ng-controller="frthteamviewCtrl">
			<div id="map_div" data-tap-disabled="true"></div>
		</ion-content>

	</ion-view>

</script>