
<style>
.row {
    padding: 1px;
}
.col {
    padding: 0px;
}
</style>

<ion-view title="<span style='margin-left: -220px;'>Collection Report</span>">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
    </ion-nav-buttons>
	 
	  <ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
			<div class="col"><h4>Select Project to continue</h4></div>
		</div>
      <ion-content has-header="true">
		<!--div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
			<div class="col"><h3>Projects</h3></div>
		</div-->
		  <div ng-if="pcallcolprojectlist.length != 0">
			  <p style="margin-top:50%; margin-left:45%;" ng-if= "AllCollsProjects.length == 0 "><ion-spinner icon="android" ng-if= "AllCollsProjects.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px;margin-bottom: 40px;">
				<a ng-click="selected_collsProject(sales.project_id)" ui-sref="frth.report" class="item item-thumbnail-left" ng-repeat="sales in AllCollsProjects">
					<img class="project-continue" ng-if="sales.main_image != ''" ng-src="{{image_url}}{{sales.main_image}}">
					<img class="project-continue" ng-if="sales.main_image == ''" ng-src="img/no_image.png">
					</br>
					<h2 style="margin-top:10px;">{{sales.name}}</h2>
				</a>
			</div>
		  </div>
		  <div  ng-if="pcallcolprojectlist.length == 0" style="margin-top:55px;"><h4 style="text-align:center;">No Project Found..</h4></div>

	</ion-content>
</ion-view>
<script id="frth-report.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Collection Report
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
      <ion-content>
		  <div class="row" >
			  <p style="margin:17px 10px 10px;"><img style="width:30px; margin-top:4px;" src="img/builder/connect.png"/></p>
			  <div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Collection Report</h3></div>
		  </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
		  <div class="list">
			  <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/bookingbc.png"/>
				<div class="col col-33 overflow">Bookings</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{CollsProjectReport[0]['booking_no'] | number}}</h2><h2>&#8377; {{CollsProjectReport[0]['booking_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handshakegray.png"/>
				<div class="col col-33 overflow">Sale Agreement</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{CollsProjectReport[0]['sales_agreement_no'] | number}}</h2><h2>&#8377; {{CollsProjectReport[0]['sales_agreement_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/percent.png"/>
				<div class="col col-33 overflow">Margin Payment</div>
				<div class="col col-20"><h2>No</h2></div>
				<div class="col "><h2>{{CollsProjectReport[0]['margin_payment_no'] | number}}</h2></div>
			</label>
			<div class="item item-divider"></div>
			  <div class="row" >
				  <p style="margin:17px 10px 10px;"><img style="height:25px; margin-top:4px;" src="img/builder/redsqurelayer.png"/></p>
				  <div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Collections </h3></div>
			  </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>

			  <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/circutcir.png"/>
				<div class="col col-33 overflow">First Level Collection</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{CollsProjectReport[0]['first_level_collection_no'] | number}}</h2><h2>&#8377; {{CollsProjectReport[0]['first_level_collection_amount'] | number}}</h2></div>
			</label>

			<label class="item item-input">
				<img class="image-icon" src="img/builder/cirhand.png"/>
				<div class="col col-33 overflow">Subsequent Collection</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{CollsProjectReport[0]['subsequent_collection_no'] | number}}</h2><h2>&#8377; {{CollsProjectReport[0]['subsequent_collection_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/fullcirhand.png"/>
				<div class="col col-33 overflow">Final Collection</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{CollsProjectReport[0]['final_collection_no'] | number}}</h2><h2>&#8377; {{CollsProjectReport[0]['final_collection_amount'] | number}}</h2></div>
			</label>
			
			<label class="item item-input">
				<img class="image-icon" src="img/builder/xcard.png"/>
				<div class="col col-33 overflow">Registration</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{CollsProjectReport[0]['registration_no'] | number}}</h2><h2>&#8377; {{CollsProjectReport[0]['registration_amount'] | number}}</h2></div>
			</label>
			
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handtwoline.png"/>
				<div class="col col-33 overflow">Handover</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{CollsProjectReport[0]['handover_no'] | number}}</h2><h2>&#8377; {{CollsProjectReport[0]['handover_amount'] | number}}</h2></div>
			</label>
		</div>
	</ion-content>
</ion-view>
</script>