  
	<style>
		.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

.check img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 30px;
}

.my-item.item {
  padding-top: 0;
  //padding-bottom: 0;
}

.full-width {
  width: 100%;
}

	</style>
<ion-view title="Search Customer">

		<ion-nav-buttons side="left">
				 <button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
		</ion-nav-buttons>
		
		<ion-header-bar class="bar-calm">
		
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
		<h1 class="title">Search Customer</h1>
      
		</ion-header-bar>
		
		
   
	
    <ion-header-bar class="bar-light bar-subheader">
	<div class="bar bar-header item-input-inset">
	<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" ng-keyup="Searcustomer(data)"
					 placeholder="Search by name or mobile no."
					 ng-model="$parent.data.search"
					 ng-focus="searchFocused = true"
					 ng-blur="searchFocused = false"
					 ng-change="scrollTop()"
					 class="full-width">
					 <button ng-if="search.length"
							  class="button button-icon ion-android-close input-button"
							  ng-click="clearSearch()">
					  </button>
	</label>
      
      
	  </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="my-item check" ng-if="AllSalespsmCustomerslist.length !=0" ng-click="selected_custPendingDetails(customer.consumerId)"
           ng-repeat="customer in AllSalespsmCustomerslist"
           item-height="getItemHeight(item)"
           id=""
           ng-style=""
           ng-class="">
          <img class="project-continue" ng-if="customer.consumerProfileImage != ''" ng-src="{{image_url}}{{customer.consumerProfileImage}}">
		  <img class="project-continue" ng-if="customer.consumerProfileImage == ''" ng-src="img/no_image.png">
		  <div class="" style="padding: 16px;">
          <h2>{{customer.consumerName}}</h2>
		  <h2>{{customer.mobile}}</h2>
			<h2>{{customer.email}}</h2>
			</div>
        </ion-item>
		<div ng-if="AllSalespsmCustomerslist.length == 0" style="margin-top:55px;"><h4 Style="text-align:center;">No Search Results</h4></div>
       
      </ion-list>
    </ion-content>
  </ion-view>
  
  <script id="frth-pendingDetails.html" type="text/ng-template">

	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customer Details
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		
		<ion-content  ng-controller="SearchCustomerCtrl">
		
			<img class="full-image" style="height:220px;" ng-if="SalesCustomerDetails[16] != ''" ng-src="{{image_url}}{{SalesCustomerDetails[16]}}">
			<img class="full-image" style="height:220px;"ng-if="SalesCustomerDetails[16] == ''" ng-src="img/no_image.png">
			<div style="text-align:center;" class="row">
				<div class="col"><img class="team-profile" ng-if="SalesCustomerDetails[15] != ''" ng-src="{{image_url}}{{SalesCustomerDetails[15]}}" /><img class="team-profile"  ng-if="SalesCustomerDetails[15] == ''" ng-src="img/no_image.png" /></br>
					<h4>{{SalesCustomerDetails[1]}}</h4>
					<!--<img style="width:10px;" src="img/builder/blocation.png"/>&nbsp;{{SalesCustomerDetails.CityName}}-->
				</div>
			</div>
			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			
			<div class="list">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/mobile.png"/>
					<div class="input-label">
						{{SalesCustomerDetails[6]}}
					</div>
				</label>
				<label class="item item-input" style="height:50px;">
					<img class="image-icon" src="img/builder/msg.png"/>
					<div class="input-label">
						{{SalesCustomerDetails[5]}}
					</div>
				</label>
				
			</div>
		</ion-content>
		<ion-footer-bar align-title="left" class="" style="height: 56px;" ng-controller="SearchCustomerCtrl">
		  <div class="button-bar" style="">
					<a class="button"  href="tel:{{SalesCustomerDetails[6]}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/call.png"></a>
					<a class="button"  href="whatsapp://send?abid=username&text=Hello%2C%20World!"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button"  href="sms:{{SalesCustomerDetails[6]}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button"  href="mailto:{{SalesCustomerDetails[5]}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/mail.png"></a>
					<a class="button" href="skype:{{SalesCustomerDetails[6]}}?chat"><img class="" style="width:31px; margin-top:5px;margin-left: -8px;" src="img/builder/skype.png"/></a>
					<a class="button"  ng-click="geoLoc(SalesCustomerDetails[0],SalesCustomerDetails[1])"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/maploc.png"/></a>
					
				</div>
		</ion-footer-bar>
	</ion-view>

</script>

<script id="frth-salesTeamLocation.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Location
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content ng-controller="SearchCustomerCtrl">
			<div id="map_div" data-tap-disabled="true"></div>
		</ion-content>

	</ion-view>

</script>