
<style>
.row {
    padding: 1px;
}
.col {
    padding: 0px;
}
</style>
<ion-view title="<span style='margin-left: -100px;'>Project Progress</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"  class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<div class="row bar bar-subheader">
		<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
		<div class="col"><h4>Select Project to Continue</h4></div>
	</div>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	<ion-content has-header="true" ng-controller="ProjectcontinueprogressCtrl">
		<div ng-if="progressproject.length != 0">
			<p style="margin-top: 45%; margin-left:45%;" ng-if= "AllProgressReports.length == 0 "><ion-spinner icon="android" ng-if= "AllProgressReports.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px;margin-bottom: 40px;">
				<a ng-click="selected_progress_proj(progress.project_id)" class="item item-thumbnail-left"  ng-repeat="progress in AllProgressReports">
					<img class="project-continue" ng-if="progress.main_image != ''" ng-src="{{image_url}}{{progress.main_image}}">
					<img class="project-continue" ng-if="progress.main_image == ''" ng-src="img/no_image.png">
					</br>
					<h2 style="margin-top:10px;">{{progress.name}}</h2>
				</a>
			</div>
		</div>
		<div ng-if="progressproject.length == 0" style="margin-top: 55px;">
			<h4 style="text-align:center;" >No Projects Found..</h4>
		</div>
	</ion-content>
</ion-view>
<script id="fst-projectslider.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Project Progress Report
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content ng-controller="ProjectcontinueprogressCtrl">
			<div ng-if="AllslidersImages.length != 0" style="height:200px;">
			<ion-slide-box  does-continue="true" slide-interval='1000'  auto-play="true" on-slide-changed="slideHasChanged()"  >
				<ion-slide ng-repeat="oimage in AllslidersImages">

					<img  class="full-image" ng-src="{{image_url}}{{oimage.Photo}}" style="height:200px;">

				</ion-slide>
			</ion-slide-box>
			</div>

			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="height:25px; margin-top:4px;" src="img/builder/block3.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Project Progress</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>

			<!--<div class="list">
				<form name="progressForm">
					<label class="item item-input item-select" ng-click="Status()" style="border-top:none; padding: 6px 0 10px 16px;">
						<img class="image-icon" src="img/builder/qmark.png"/>
						<div class="col col-50">Project Status</div>
						<div class="col" style="white-space: initial; text-overflow: ellipsis !important; " >{{progressStatus}}
						</div>
					</label>
					<div class="item item-input">
						<img class="image-icon" src="img/builder/brick.png"/><div class="col col-33 overflow" >Construction Stage</div>
						<img class="image-icon" src="img/builder/percent.png"/><div class="col col-10"><input type="number"  ng-init="data.percent = ''"  ng-model="data.percent" name="percent" min="0" max="100" Size="3" style="width:50px;"/><hr style="margin-top:-5px;"/></div>

						<img class="image-icon" src="img/builder/rupee.png"/><div class="col"><input type="number" ng-init="data.rs = ''" ng-model="data.rs" name = "rupess" min="0" /><hr style="margin-top:-5px;"/></div>
					</div>
					<span ng-show="progressForm.percent.$error.min" style="margin-left:50px;color:red;" >Percentage is not valid</span>
					<span ng-show="progressForm.percent.$error.max" style="margin-left:50px;color:red;" >Percentage is not valid</span>
					<span ng-show="progressForm.rupess.$error.min" style="margin-left:50px;color:red;" >Amount is not valid</span>
				</form>
				<button class="button button-full button-calm" ng-click="project_status_button(data)" style="margin-bottom:0px;" >Save</button>
			</div>-->
			
			<div class="list">
				
					<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
						<img class="image-icon" src="img/builder/qmark.png"/>
						<div class="col col-50">Project Status</div>
						<div class=""> {{Allprojectstatus[0]['name']}}
						</div>
					</label>
					<div class="item item-input">
						<img class="image-icon" src="img/builder/brick.png"/><div class="col col-33 overflow" >Construction Stage</div>
						<div class=""> {{Allprojectstatus[0]['construction_stage_percent']}}%
						</div>

						 &nbsp;&nbsp;<div class="">Rs. {{Allprojectstatus[0]['construction_stage_amt']}}
						</div>
					</div>
					
				
				
			</div>
		
			<div class="item item-divider"></div>
			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:4px;" src="img/builder/blue-home.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Progress Approved By Banks</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="list">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/green-up.png"/><div class="col col-20">Highest</div>
					<div class="col col-33"><h2 style="margin-bottom:16px;">Percentage</h2><h2>Amt</h2></div>

					<div class="col"><h2 style="margin-bottom:16px;">{{AllProgress[0]['highest']['approved_percentage']}} &#37;</h2><h2>&#8377; {{AllProgress[0]['highest']['approved_amount'] | number}}</h2></div>
				</label>
				<label class="item item-input" style="border-top: none;">
					<img class="image-icon" src="img/builder/uhome.png"/><div class="col">Bank Name</div>
					<div class="col col-10 col-offset-20"><img style="width:30px;height:30px; border-radius:5px;" src="{{image_url}}{{AllProgress[0]['highest']['logo']}}" /></div>
					<div class="col col-50 overflow">{{AllProgress[0]['highest']['name']}}</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/yellow-up.png"/><div class="col col-20">Lowest</div>
					<div class="col col-33"><h2 style="margin-bottom:16px;">Percentage</h2><h2>Amt</h2></div>
					<div class="col"><h2 style="margin-bottom:16px;">{{AllProgress[0]['lowest']['approved_percentage'] }}&#37; </h2><h2>&#8377; {{AllProgress[0]['lowest']['approved_amount'] | number}}</h2></div>
				</label>
				<label class="item item-input" style="border-top: none;">
					<img class="image-icon" src="img/builder/uhome.png"/><div class="col">Bank Name</div>
					<div class="col col-10 col-offset-20"><img style="width:30px;height:30px; border-radius:5px;" src="{{image_url}}{{AllProgress[0]['lowest']['logo']}}" /></div>
					<div class="col col-50 overflow">{{AllProgress[0]['lowest']['name']}}</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/average.png"/><div class="col col-20">Average</div>
					<div class="col col-33"><h2 style="margin-bottom:16px;">Percentage</h2><h2>Amt</h2></div>

					<div class="col"><h2 style="margin-bottom:16px;">{{AllProgress[0]['average']['AvgAppPer']}} &#37;</h2><h2>&#8377; {{AllProgress[0]['average']['AvgAppAmt'] | number}}</h2></div>
				</label>
				<label class="item item-input" style="border-top: none;">

					<img class="image-icon" src="img/builder/uhome.png"/>
					<div  class="col col-20">
						Banks Name
					</div>
					<div class="col col-offset-20">
						<b>All Banks</b>
					</div>

				</label>
			</div>
		</ion-content>

	</ion-view>


</script>
