
<style>
.row {
    padding: 1px;
}
.col {
    padding: 0px;
}
</style>
<ion-view title="<span style='margin-left: -62px;'>Project Sales Report</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"  class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<div class="row bar bar-subheader">
		<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
		<div class="col"><h4>Select Project to Continue</h4></div>
	</div>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	
  <ion-content has-header="true">

		  <div ng-if="salesproject.length != 0">
				  <p style="margin-top:45%; margin-left:45%" ng-if= "AllSalesReports.length == 0 "><ion-spinner icon="android" ng-if= "AllSalesReports.length == 0 " ></ion-spinner></p>
				<div class="list" style="margin-top: 40px;margin-bottom: 40px;">
					<a ng-click="selected_sales(sales.project_id)" ui-sref="fst.report" class="item item-thumbnail-left" ng-repeat="sales in AllSalesReports">
						<img class="project-continue" ng-if="sales.main_image != ''" ng-src="{{image_url}}{{sales.main_image}}">
						<img class="project-continue" ng-if="sales.main_image == ''" ng-src="img/no_image.png">
						</br>
						<h2 style="margin-top:10px;">{{sales.name}}</h2>
					</a>
				</div>
		  </div>
		  <div ng-if="salesproject.length == 0" style="margin-top:55px;">
				<h4 style="text-align:center;" >No Projects Found..</h4>
		  </div>
	</ion-content>
</ion-view>
<script id="fst-report.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Project Sales Reports
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
      <ion-content has-header="true">

		  <div class="row" >
			  <p style="margin:17px 10px 10px;"><img style="width:30px; margin-top:4px;" src="img/builder/connect.png"/></p>
			  <div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Project Sales Report</h3></div>
		  </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
		  <div class="list">
			  <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/redshare.png"/>
				<div class="col col-33 overflow">Leads</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{AllReports[0]['leads_no'] | number}}</h2><h2>&#8377; {{AllReports[0]['leads_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/walker.png"/>
				<div class="col col-33 overflow">Project Visit</div>
				<div class="col col-20"><h2>No</h2></div>
				<div class="col "><h2>{{AllReports[0]['project_visit_no'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/batch.png"/>
				<div class="col col-33 overflow">Bookings</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{AllReports[0]['booking_no'] | number}}</h2><h2>&#8377; {{AllReports[0]['booking_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/hand.png"/>
				<div class="col col-33 overflow">Sale Agreement</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{AllReports[0]['sales_agreement_no'] | number}}</h2><h2>&#8377; {{AllReports[0]['sales_agreement_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/redragister.png"/>
				<div class="col col-33 overflow">Sales Total</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{AllReports[0]['sales_total_no'] | number}}</h2><h2>&#8377; {{AllReports[0]['sales_total_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/redhome.png"/>
				<div class="col col-33 overflow">WL Banks</div>
				<div class="col col-20"><h2>No</h2></div>
				<div class="col"><h2>{{AllReports[0]['wl_banks_no'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handloan.png"/>
				<div class="col col-33 overflow">Collections</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{AllReports[0]['collections_no'] | number}}</h2><h2>&#8377; {{AllReports[0]['collections_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handcircle.png"/>
				<div class="col col-33 overflow">Final Collection</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{AllReports[0]['final_collection_no'] | number}}</h2><h2>&#8377; {{AllReports[0]['final_collection_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/redcard.png"/>
				<div class="col col-33 overflow">Registration</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{AllReports[0]['registration_no'] | number}}</h2><h2>&#8377; {{AllReports[0]['registration_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handloan.png"/>
				<div class="col col-33 overflow">Handover</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col "><h2 style="margin-bottom:16px;">{{AllReports[0]['handover_no'] | number}}</h2><h2>&#8377; {{AllReports[0]['handover_amount'] | number}}</h2></div>
			</label>
		</div>
	</ion-content>
</ion-view>

</script>