<ion-side-menus>
    <ion-side-menu-content ng-controller="NavController">
        <ion-nav-bar class="bar-calm nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="fst" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content >
    <ion-side-menu side="left"  cache-view="false">
		<ion-header-bar style="height:153px;padding:0px;border:none;" >
			<div class="row" style="background-color: #83bfe5; background:#83bfe5 url({{image_url}}{{profile[0].BuilderTimelineImage}}) no-repeat center center fixed; -webkit-background-size: contain;-moz-background-size: cover;"  ng-controller="BuilderProfileCtrl">
				<div class="col"><img style="margin-top:35px;width:60px; height: 60px; border-radius:100%;" ng-if ="profile[0].BuilderLogo != ''" ng-src='{{image_url}}{{profile[0].BuilderLogo}}'/>
					<img style="margin-top:35px;width:60px; height: 60px; border-radius:100%;" ng-if ="profile[0].BuilderLogo == ''" ng-src='img/no_image.png'/></div>
				<div class="col col-75"></br></br>
					<div  style="margin-left:10px;"><h4 class="white-latter" ><b>{{profile[0].BuilderName}}</b></h4>
					<h6 class="white-latter"><img style="width:10px" src="img/builder/map.png"/> {{profile[0].CityName}}</h6></div>
					<p style="text-align:right; margin-top:20px;"><img style="width:120px" src="img/builder/powered.png"/></p>
				</div>
			</div>
		</ion-header-bar> 
        <ion-content has-header="true" ng-controller="LoginCtrl">
			<div style="margin-top: 107px;" class="list">
				<a class="item menu-close" ui-sref="fst.builderprofile">
					<img class="menu-image" src="img/builder/usericon.png"/><h2>Profile</h2>
				</a>
				<div class="item item-divider"></div>
				<a onclick="toggle_team('team');" class="item item-icon-right" >
					<img class="menu-image" src="img/builder/teamplus.png"/><h2>View & Add Team</h2>
					<i class="icon ion-ios-plus-empty" style="display:block; margin-top:0px;  height:11.25px;" id="teamplus"></i>
					<i  class="icon ion-ios-minus-empty" style="display:none;margin-top:0px;  height:11.25px;" id="teamminus"></i>
				</a>
				<div id="team" style="display:none;">

					<a class="item item-icon-right menu-close" cache-view="false"  ui-sref="fst.builderTeam">
						<h2 style="margin-left:20%;">View Team Members</h2>
						<!--i class="icon ion-ios-arrow-right"></i-->
					</a>
					<a class="item item-icon-right menu-close" ui-sref="fst.registerteam" >
						<h2 style="margin-left:20%;">Add Team Member</h2>
						<!--i class="icon ion-ios-arrow-right"></i-->
					</a>

				</div>
				<a class="item menu-close" ui-sref="fst.quickoverview" >
					<img class="menu-image" src="img/builder/quick.png"/><h2>Project Quick Overview</h2>
				</a>
				<a class="item menu-close" ui-sref="fst.projectdetails" >
					<img class="menu-image" src="img/builder/circlemenu.png"/><h2>Project Details</h2>
					<!--<i class="icon ion-ios-plus-empty"></i>-->
				</a>
				<a class="item item-icon-right menu-close" ui-sref="fst.addlead" >
					<img class="menu-image" src="img/builder/teamplus.png"/><h2>Add Lead</h2>
					<!--<i class="icon ion-ios-plus-empty"></i>-->
				</a>
				<a class="item item-icon-right menu-close" ui-sref="fst.usersearch" >
					<img class="menu-image" src="img/builder/searchdark.png"/><h2>Search Customer</h2>
					<!--<i class="icon ion-ios-plus-empty"></i>-->
				</a>
				<div class="item item-divider">
				</div>
					<a onclick="toggle_report('report');" class="item item-icon-right" >
					<img class="menu-image" src="img/builder/conneted.png"/><h2>Reports</h2>
					<i  class="icon ion-ios-plus-empty" style="display:block; margin-top:0px;  height:11.25px;" id="reportplus"></i>
					<i  class="icon ion-ios-minus-empty" style="display:none; margin-top:0px;  height:11.25px;" id="reportminus"></i>
				</a>
				<div id="report" style="display:none;">
				<a class="item item-icon-right menu-close" ui-sref="fst.projectcontinueprogress" >
						<h2 style="margin-left:20%;">Project Progress</h2>
						<!--i class="icon ion-ios-arrow-right"></i-->
					</a>
					<a class="item item-icon-right menu-close" ui-sref="fst.projectcontinuesales" >
						<h2 style="margin-left:20%;">Project Sales Report</h2>
						<!--i class="icon ion-ios-arrow-right"></i-->
					</a>
					
					<a class="item item-icon-right menu-close" ui-sref="fst.salesTeamReport" >
						<h2 style="margin-left:20%;">Sales & Collections Report</h2>
						<!--i class="icon ion-ios-arrow-right"></i-->
					</a>
					

				</div>
				
				<!--a class="item menu-close" ui-sref="fst.consumersfollowupdetails">
					<img class="menu-image" src="img/builder/vediobw.png"/><h2>Consumer Follow Up</h2>
				</a-->
				<!--<a class="item menu-close" ui-sref="fst.vaastu">
					<img class="menu-image" src="img/builder/compase.png"/><h2>Vaastu</h2>
				</a>
				<a class="item menu-close" ui-sref="fst.mailbox">
					<img class="menu-image" src="img/builder/mailbox.png"/><h2>Mail Box</h2>
				</a>-->
				<a class="item menu-close" ui-sref="fst.projectcashflow">
					<img class="menu-image" src="img/builder/ratearrow.png"/><h2>Project Cash Flow</h2>
				</a>
				<a class="item item-icon-right menu-close" ui-sref="fst.cashflowcalender">
					<img class="menu-image" src="img/builder/rupeecalender.png"/><h2>Cash Flow Calendar</h2>
					<!--<i class="icon ion-ios-plus-empty"></i>-->
				</a>
				<a class="item item-icon-right menu-close" ui-sref="fst.bankwisereport">
					<img class="menu-image" src="img/builder/building-u.png"/><h2>Bankwise Report</h2>
					<!--<i class="icon ion-ios-plus-empty"></i>-->
				</a>
				<div class="item item-divider"></div>
				<a class="item menu-close" ng-click="builder_logout()">
					<img class="menu-image" src="img/builder/out.png"/><h2>Sign Out</h2>
				</a>
				<div class="item item-input" style="border-bottom:none;">          </div>
			</div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
