<ion-view title="Customers">
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="ion-arrow-left-c"></i> Back
		</ion-nav-back-button>
		</ion-nav-bar>
      <ion-content has-header="true">
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:30px" src="img/builder/greengroup.png"/></p>
			<div class="col"><h3>Customers Lists</h3></div>
		</div>
		<div class="list">
			<a class="item item-avatar item-thumbnail-left" href="#">
				<img src="img/profile.JPG"></br>
				<h2 style="float:left;" >Chandra Prakash</h2>
				<div class="button-right"><button class="button button-small button-calm" >Open</button></div>
			</a>
			<a class="item item-avatar item-thumbnail-left" href="#">
				<img src="img/image-1.png"></br>
				<h2 style="float:left;">Ramesh Arvindan</h2>
				<div class="button-right"><button class="button button-small button-calm" >Open</button></div>
			</a>
			<a class="item item-avatar item-thumbnail-left" href="#">
				<img src="img/image-2.png"></br>
				<h2 style="float:left;">Aravind Murthy</h2>
				<div class="button-right"><button class="button button-small button-calm" >Open</button></div>
			</a>
			<a class="item item-avatar item-thumbnail-left" href="#">
				<img src="img/image-3.png"></br>
				<h2 style="float:left;">Shaila Mehek</h2>
				<div class="button-right"><button class="button button-small button-calm" >Open</button></div>
			</a>
		</div>
	</ion-content>
</ion-view>
