<ion-view title="Project Cash Flow">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="ion-arrow-left-c"></i> Back
			</ion-nav-back-button>
		</ion-nav-bar>
      <ion-content has-header="true">
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/userredtype.png"/></p>
			<div class="col"><h3>Project Cash Flow</h3></div>
		</div>
		<div class="list">
			<label class="item item-input">
				<img class="image-icon" src="img/builder/menucheked.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total Units Sold</div>
					<div class="col col-50"><h2>{{AllMasCashflow[0]['total_units_sold']}} Units</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/fourcircle.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Available Units </div>
					<div class="col col-50"><h2>{{AllMasCashflow[0]['available_units']}} Units</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupeeround.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total Sales Gross</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['total_sales_gross'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handcut.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Project Receipts for the Month</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['project_reciepts_permonth'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handcut.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Project Receipts up to Month</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['project_reciepts_uptomonth'] | number}}</h2></div>
				</div>	
			</label>
			<label class="item item-input">				<img class="image-icon" src="img/builder/homeplus.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Project Receipts for the Month - Bank</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['project_reciepts_permonth_bank'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/homeplus.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Project Receipts up to the Month - Bank</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['project_reciepts_uptomonth_bank'] | number}}</h2></div>
				</div>
			</label>
			<!--div class="row responsive-sm">
				<div class="col"><button  class="button button-block button-energized" ui-sref="fst.annualcashflow">View Cash Flow Table ({{cyear | date:'yyyy'}}-{{nyear | date:'yy'}})</button></div>
			</div-->
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" style="background-color:#FEA500;">
		<div class="button-bar button-clear">
			<a class="button button-clear" style="background-color:#FEA500;" ui-sref="fst.annualcashflow">View Cash Flow Table ({{cyear | date:'yyyy'}}-{{nyear | date:'yy'}})</a>
		</div>
	</ion-footer-bar>
</ion-view>
