<ion-view title="MailBox">
	 <ion-nav-buttons side="left">
		 <button menu-toggle="left" class="button button-clear"><img style="width:32px;" src="img/builder/menu-icon.png"/></button>
      </ion-nav-buttons>
    <ion-content has-header="true">
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/profile.jpg">
				<h2>Marty McFly</h2>
				<div class="button-right"><button class="button button-outline button-small button-assertive" >Today</button></div>
			</div>
			<div class="item item-body">
				<p>
				This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
				the content is from a card-body consisting of an image and paragraph text. The footer
				consists of tabs, icons aligned left, within the card-footer.
				</p>
				<p class="button-right">
					<a href="#" class="subdued"><img class="image-icon" src="img/builder/share.png"/></a>
					<a href="#" class="subdued"><img class="image-icon" src="img/builder/share.png"/></a>
				</p>
			</div>
		</div>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/profile.jpg">
				<h2>Marty McFly</h2>
				<div class="button-right"><button class="button button-outline button-small button-assertive" >Today</button></div>
			</div>
			<div class="item item-body">
				<p>
				This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
				the content is from a card-body consisting of an image and paragraph text. The footer
				consists of tabs, icons aligned left, within the card-footer.
				</p>
				<p class="button-right">
					<a href="#" class="subdued"><img class="image-icon" src="img/builder/share.png"/></a>
					<a href="#" class="subdued"><img class="image-icon" src="img/builder/share.png"/></a>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>
