
<ion-view title="">
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;Choose DSA Partner
		</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
<ion-content ng-controller="BuilderRegCtrl">
	<div ng-if="AllDsas.length != 0">
	<ul class="list" ><p style="margin-top:50%; margin-left: 45%;" ng-if= "AllDsas.length == 0 "><ion-spinner icon="android" ng-if= "AllDsas.length == 0 " ></ion-spinner></p>
		<li class="item item-checkbox" ng-repeat="dsa in AllDsas">
			<label class="checkbox">
				<input type="checkbox"   ng-model="dsa.checked"
					   ng-checked="dsa.checked" ng-value="dsa.DsaId">
			</label><p>{{dsa.DsaName}}</p>
		</li>

	</ul>
		<button class="button  button-full button-positive" ng-click="dsapatener_save()">Save</button>
	</div>
	<div ng-if="AllBanks.length == 0"><h4>No DSA Partner Found..</h4></div>

</ion-content>
</ion-view>
