<style>
.row {
    padding: 1px;
}
.col {
    padding: 0px;
}

</style>
<ion-view title="<span style='margin-left: -90px;'>Project Cash Flow</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"  class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<div class="row bar bar-subheader">
		<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
		<div class="col"><h4>Select Project to Continue</h4></div>
	</div>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
		</div>
      <ion-content has-header="true" ng-controller="ProjectCashFlowCtrl">
		  <div ng-if="cashflowproject.length != 0">
				  <p style="margin-top:45%; margin-left:45%;" ng-if= "AllCashReports.length == 0 "><ion-spinner icon="android" ng-if= "AllCashReports.length == 0 " ></ion-spinner></p>
				<div class="list" style="margin-top: 40px;margin-bottom: 40px;">
					<a ng-click="selected_cashproject(cash.project_id)" ui-sref="fst.cashflow" class="item item-thumbnail-left" ng-repeat="cash in AllCashReports">
						<img class="project-continue" ng-if="cash.main_image != ''" ng-src="{{image_url}}{{cash.main_image}}">
						<img class="project-continue" ng-if="cash.main_image == ''" ng-src="img/no_image.png">
						</br>
						<h2 style="margin-top:10px;">{{cash.name}}</h2>
					</a>
				</div>
		  </div>
		  <div ng-if="cashflowproject.length == 0" style="margin-top:55px;">
			  <h4 style="text-align:center;" >No Projects Found..</h4>
		  </div>
	</ion-content>
</ion-view>
<script id="fst-cashflow.html" type="text/ng-template">
	<ion-view title="" ng-controller="ProjectCashFlowCtrl">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Project Cash Flow
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
      <ion-content has-header="true" >
		  <div class="row" >
			  <p style="margin:17px 10px 10px;"><img style="width:30px; margin-top:4px;" src="img/builder/brownhomers.png"/></p>
			  <div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Project Cash Flow</h3></div>
		  </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
		  <div class="list">
			  <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/menucheked.png"/>

					<div  class="col col-50 overflow">
						Total Units Sold
					</div>
					<div class="col col-50"><h2>{{AllMasCashflow[0]['total_units_sold']}} Units</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/fourcircle.png"/>
					<div  class="col col-50 overflow">
					Available Units </div>
					<div class="col col-50"><h2>{{AllMasCashflow[0]['available_units']}} Units</h2></div>

			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupeeround.png"/>

					<div class="col col-50 overflow">
					Total Sales Gross</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['total_sales_gross'] | number}}</h2></div>

			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handcut.png"/>

					<div  class="col col-50 overflow">
					Project Receipts for the Month</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['project_reciepts_permonth'] | number}}</h2></div>

			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handcut.png"/>

					<div class="col col-50 overflow">
						Project Receipts up to Month
					</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['project_reciepts_uptomonth'] | number}}</h2></div>

			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/homecutcircle.png"/>

					<div class="col col-50 overflow">
					Project Receipts for the Month - Bank</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['project_reciepts_permonth_bank'] | number}}</h2></div>

			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/homecutcircle.png"/>

					<div  class="col col-50 overflow">
					Project Receipts up to the Month - Bank</div>
					<div class="col col-50"><h2>&#8377; {{AllMasCashflow[0]['project_reciepts_uptomonth_bank'] | number}}</h2></div>

			</label>
		</div>
		  <!--button  class="button button-full button-energized" style="margin-bottom:-20px; background-color:orange;"ui-sref="fst.annualcashflow">View Cash Flow Table ({{currentyear}}-{{currentyear+1}})</button-->

	</ion-content>
		<ion-footer-bar align-title="left" style="background-color:#FEA500;">
			<div class="button-bar button-clear">
				<a class="button button-clear" style="background-color:#FEA500; color: #fff;" ui-sref="fst.annualcashflow">View Cash Flow Table ({{currentyear}}-{{currentyear+1}})</a>
			</div>
		</ion-footer-bar>
</ion-view>
</script>
<script id="fst-annualcashflow.html" type="text/ng-template">
	<ion-view title="">
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;Annual Projected Cash Flow
		</ion-nav-back-button>
		</ion-nav-bar>

      <ion-content has-header="true" ng-controller="ProjectCashFlowCtrl">
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:30px;" src="img/builder/greenhomwrs.png"/></p>
			<div class="col"><h3>Cash Flow Table({{currentyear}}-{{currentyear+1}})</h3></div>
		</div>
		<div class="list">
			<div  ui-sref="fst.month" class="item item-input">
				<div style="padding:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/calender10.png"/><h2 id="selmonth">Select A Month</h2></div>
				<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
			</div>
			<div ng-show="showmonth == 'yes'">
				<label class="item item-input">
					<img class="image-icon" src="img/builder/sqanalitic.png"/>
					<div class="row">
						<div style="padding-left:0px;" class="col col-50 overflow">
							Projected </div>
						<div class="col col-50"><h2>&#8377; {{AllFlowDetails[0]['projected'] | number}}</h2></div>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/circlecheck.png"/>
					<div class="row">
						<div style="padding-left:0px;" class="col col-50 overflow">
							Actual  </div>
						<div class="col col-50"><h2>&#8377; {{AllFlowDetails[0]['actual'] | number}}</h2></div>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/circledownarrow.png"/>
					<div class="row">
						<div style="padding-left:0px;" class="col col-50 overflow">
							Shortfall  </div>
						<div class="col col-50"><h2>&#8377; {{AllFlowDetails[0]['shortfal'] | number}}</h2></div>
					</div>
				</label>
			</div>
			<div  ui-sref="fst.quarter" class="item item-input">
				<div style="padding:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/calendercut.png"/><h2 id="selquarter">Select A Quarter</h2></div>
				<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
			</div>
			<div ng-show="showquarter == 'yes'">
				<label class="item item-input">
					<img class="image-icon" src="img/builder/sqanalitic.png"/>
					<div class="row">
						<div style="padding-left:0px;" class="col col-50 overflow">
							Projected </div>
						<div class="col col-50"><h2>&#8377; {{AllFlowDetails[0]['Projected'] | number}}</h2></div>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/circlecheck.png"/>
					<div class="row">
						<div style="padding-left:0px;" class="col col-50 overflow">
							Actual  </div>
						<div class="col col-50"><h2>&#8377; {{AllFlowDetails[0]['Actual'] | number}}</h2></div>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/circledownarrow.png"/>
					<div class="row">
						<div style="padding-left:0px;" class="col col-50 overflow">
							Shortfall  </div>
						<div class="col col-50"><h2>&#8377; {{AllFlowDetails[0]['Shortfall'] | number}}</h2></div>
					</div>
				</label>
			</div>
			<div  ui-sref="fst.annuual" class="item item-input">
				<div style="padding:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/calendercircle.png"/><h2 id="selannual">Annual FY Upto Month</h2></div>

				<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
			</div>
			<div ng-show="showannual == 'yes'">
				<label class="item item-input">
					<img class="image-icon" src="img/builder/sqanalitic.png"/>
					<div class="row">
						<div style="padding-left:0px;" class="col col-50 overflow">
							Projected </div>
						<div class="col col-50"><h2>&#8377; {{AllFlowDetails[0]['Projected'] | number}}</h2></div>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/circlecheck.png"/>
					<div class="row">
						<div style="padding-left:0px;" class="col col-50 overflow">
							Actual  </div>
						<div class="col col-50"><h2>&#8377; {{AllFlowDetails[0]['Actual'] | number}}</h2></div>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/circledownarrow.png"/>
					<div class="row">
						<div style="padding-left:0px;" class="col col-50 overflow">
							Shortfall  </div>
						<div class="col col-50"><h2>&#8377; {{AllFlowDetails[0]['Shortfall'] | number}}</h2></div>
					</div>
				</label>
			</div>
		</div>
	</ion-content>
</ion-view>

<script id="fst-month.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Select Month
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="ProjectCashFlowCtrl">
			<ul class="list">
				<li ng-click="selected_month(month.MonthName,month.MonthId)" class="item" ui-sref="fst.annualcashflow" ng-repeat="month in AllMonth">{{month.MonthName}}</li>
			</ul>
		</ion-content>
	</ion-view>
</script>
<script id="fst-quarter.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Select Quarter
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="ProjectCashFlowCtrl">
			<ul class="list">
				<li ng-click="selected_quarter(quarter.quarterName, quarter.quarterId)" class="item" ui-sref="fst.annualcashflow" ng-repeat="quarter in AllQuarters">{{quarter.quarterName}}</li>
			</ul>
		</ion-content>
	</ion-view>
</script>
<script id="fst-annuual.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Select Year
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="ProjectCashFlowCtrl">
			<ul class="list">
				<li ng-click="selected_year(year.YearName)" class="item" ui-sref="fst.annualcashflow" ng-repeat="year in AllYears">{{year.YearName}}</li>
			</ul>
		</ion-content>
	</ion-view>
</script>
</script>

