<ion-view title="<span style='margin-left: -58px;font-size:17px'>Project Quick Overview</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>

      <ion-content has-header="true"  overflow-scroll="true" ng-controller="QuickOverviewCtrl">
	  <ion-scroll zooming="true" style=" height: 100%;">
		  <div class="row">
			  <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/impcircle.png"/></p>
			  <div class="col "><h4 style="margin-top: 10px; margin-left: -15px;">Project Quick Overview</h4></div>
		  </div><!--<hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
		  <div class="list">
			<label class="item item-input item-select" ng-click="quickcitylist()" ng-disabled="citydisabled" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/location.png"/>
				<div class="col col-50">Select City</div>
				<div class="col" style="white-space: initial; text-overflow: ellipsis !important; " >{{quickCity}}
				</div>
			</label>
			<label class="item item-input item-select" ng-click="quicklocationlist()" ng-disabled="locationdisabled">
				<img class="image-icon" src="img/builder/location.png"/>
				<div class="col col-50">Select Location</div>
				<div class="col" style="white-space: initial; text-overflow: ellipsis !important;" >{{quickLocation}}
				</div>
			</label>-->
			<label class="item item-input item-select" ng-click="quickprojectlist()" ng-disabled="projectdisabled">
				<img class="image-icon" src="img/builder/building.png"/>
				<div class="col col-50">{{selectname}}</div>
				<div class="col" style="white-space: initial; text-overflow: ellipsis !important;">{{quickProject}}
				</div>
			</label>

			<div class="item item-input" ng-show="quickalldetail">
				<img style="float:left;" class="image-icon" src="img/builder/homeplus.png"/>
				<div  class="col col-50">
					Development Type
				</div>
				<div class="col" >
					<b style="white-space: initial; text-overflow: ellipsis !important;">{{AllDevelopmentType.DevType}}</b>
				</div>

			</div>
			<div class="item item-input" ng-show="quickalldetail">
				<img style="float:left;" class="image-icon" src="img/builder/binoculer.png"/>
				<div  class="col col-50">
					Total Land Area
				</div>
				<div class="col" >
					<b >{{AllDevelopmentType.total_land_area}}</b>
				</div>
			</div>
			    <div class="item item-input" ng-show="quickalldetail">
                  <img style="float:left;" class="image-icon" src="img/builder/calender.png"/>
                  <div class="col col-50">Launch Date</div>
				  <div class="col" ng-if="AllDevelopmentType.LaunchDate=='0000-00-00'"><b>--</b></div>
                  <div class="col" ng-if="AllDevelopmentType.LaunchDate!='0000-00-00'">
                      <b>{{AllDevelopmentType.LaunchDate | date:"dd/MM/yyyy"}}</b>
                  </div>
				  </div>
		    <div class="item item-input" ng-show="quickalldetail">
                  <img style="float:left;" class="image-icon" src="img/builder/calender10.png"/>
                  <div class="col col-50">Possession Date</div>
				   <div class="col" ng-if="AllDevelopmentType.PossessionDate=='0000-00-00'"><b>--</b></div>
                  <div class="col" ng-if = "AllDevelopmentType.PossessionDate!='0000-00-00'">
                      <b>{{AllDevelopmentType.PossessionDate | date:"dd/MM/yyyy"}}</b>
                  </div>
				  </div>
              		  
           	<label class="item item-input" ng-show="quickalldetail">
			
				<img style="float:left;" class="image-icon" src="img/builder/fourcircle.png"/>
				<div class="col col-50">
					Total Units
				</div>
				<div class="col input-label" >
					<b>{{AllDevelopmentType.TotalUnits | number}}</b>
				</div>
			</label>
			
			   	<label class="item item-input" ng-show="quickalldetail">
			
				<img style="float:left;" class="image-icon" src="img/builder/menucheked.png"/>
				<div class="col col-50">
					Units Sold
				</div>
				<div class="col input-label" >
					<b>{{AllDevelopmentType.UnitsSold | number}}</b>
				</div>
			</label>
			   	<label class="item item-input" ng-show="quickalldetail">
			
				<img style="float:left;" class="image-icon" src="img/builder/flowergray.png"/>
				<div class="col col-50">
					Units Available
				</div>
				<div class="col input-label" >
					<b>{{AllDevelopmentType.UnitsForSale}}</b>
				</div>
			</label>
			
			<label class="item item-input" ng-show="quickalldetail" ng-repeat="bhk in ExeGetUnitTypeDetails" >
                  <img class="image-icon" src="img/builder/building-block.png" />
                  <div class="col col-50">{{bhk.UnitName}} Units</div>
                  <div class="col input-label" >
                      <b>{{bhk.UnitCount}}</b>
                  </div>
              </label>
			 <div class="item item-divider" ng-show="quickalldetail" ></div>
			<label class="item item-input item-select" ng-click="quickapartmentlist()" ng-show="quickalldetail">
				<img class="image-icon" src="img/builder/eye.png"/>
				<div class="col col-50">Unit Size</div>
				<div class="col" style="white-space: initial; text-overflow: ellipsis !important;" >{{quickApartment}}
				</div>
			</label>

			<label class="item item-input" ng-show="quickalldetail">
				<img style="float:left;" class="image-icon" src="img/builder/home-rupee.png"/>
				<div class="col col-50">
					Unit Price range
				</div>
				<div class="col " >
					<b>&#8377; {{apertmentprice[0].min_price | number}} to &#8377; </br>{{apertmentprice[0].max_price | number}}</b>
				</div>

			</label>
			<label class="item item-input" ng-show="quickalldetail">
				<div style="padding:0px;" class="col col-70"><img class="image-icon" src="img/builder/picture.png"/>Project Photos</div>
				<div class="col" style="margin-right:-78px;"><button class="button button-small button-calm" ui-sref="fst.projectphoto">View</button></div>
			</label>

		</ion-scroll>
      </ion-content>
    </ion-view>
<script type="text/javascript">
	$('.closee').on('click', function(){
		console.log('This is Close');
	});
</script>
<script id="fst-projectphoto.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Project Photos
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true" ng-controller="QuickOverviewCtrl">
        <div ng-if="projectPhotosList.length != 0">
			<p style="margin-top: 50%; margin-left:45%;" ng-if= "AllProjectPhotos.length == 0 "><ion-spinner icon="android" ng-if= "AllProjectPhotos.length == 0 " ></ion-spinner></p>
			<div class="list card" ng-repeat="photo in AllProjectPhotos">

				<div class="item item-body">
					<img class="full-image" ng-if="photo.Photo != ''" ng-src="{{image_url}}{{photo.Photo}}">
					<img class="full-image" ng-if="photo.Photo == ''" ng-src="img/no_image.png">

				</div>
			</div>
            </div>
            <div ng-if="projectPhotosList.length == 0"><h4 style="text-align: center;">No Image Found..</h4></div>
	</ion-view>
</script>