<style>
    
    .list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.button-bar{
	    padding-left: 48px;
}
.card, .list-inset {
   
    margin: 0px -15px -1px -15px;
  
	}
</style>

<ion-view title="">
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;&nbsp;&nbsp;Project DSA
		</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
      <ion-content has-header="true" >
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:35px" src="img/builder/usericon.png"/></p>
			<div class="col col-75"><h4>Tap on Bank for DSA Details</h4></div>
		</div>
		 
		
          <div ng-controller="ProjectdetailsCtrl" ng-if="GetAllProjectDsaList.length != 0"><p style="margin-top:45%; margin-left:45%;" ng-if= "GetAllDsa.length == 0 "><ion-spinner icon="android" ng-if= "GetAllDsa.length == 0 " ></ion-spinner></p>
		
                     <ion-list>
                        <div ng-repeat="dsalist in GetAllDsa">
                            
                          <ion-item class="item-stable"
                                    ng-click="toggleGroup(dsalist);selected_bankid(dsalist.bank_id)"
                                    ng-class="{active: isGroupShown(dsalist)}">
                              <i class="icon" ng-class="isGroupShown(dsalist) ? 'ion-minus' : 'ion-plus'"></i>
                            &nbsp;
                            {{dsalist.bank_name}}
                          </ion-item>
                          <ion-item class="item-accordion" 
                                    ng-if="GetAllProjectBankDsaList.length != 0" 
                                    ng-show="isGroupShown(dsalist)"  ng-repeat="item in GetAllBankDsa">
                             <div class="card"> 
                              <div class="item item-divider">
							<span class="">Organization : &nbsp;{{item.dsaName}}</span>			
                              </div>
                              <div class="item item-body row">				  				   				  
								<div class="col">Name : &nbsp;{{item.name}}</div>
								
                              </div>
							   <div class="item item-body row">				  				   				  
								<div class="col">Mobile : &nbsp;{{item.mobile}}</div>
								
                              </div>
							    <div class="item item-body row">				  				   				  
								<div class="col">Email : &nbsp;{{item.ofc_email}}</div>
								
                              </div>
							<div class="button-bar button-clear" style="padding: 0px;border-color: #5B6ED8;">
									<a class="button button-clear" style="padding:4px;border-right: 1px solid #E5E5E5;" href="tel:{{dsalist.mobile}}"><img style="width:35px;" src="img/builder/call.png"></a>
									
									<a class="button button-clear" style="padding:4px;border-right: 1px solid #E5E5E5;" href="whatsapp://send?text=Hello%20World!"><img style="width:35px;"  src="img/builder/whatsapplogo.png"></a>
									<a class="button button-clear" style="padding:4px;border-right: 1px solid #E5E5E5;" href="sms:{{dsalist.mobile}}"><img style="width:35px;"  src="img/builder/chat.png"></a>
									<a class="button button-clear" style="padding:4px;border-right: 1px solid #E5E5E5;" href="mailto:{{item.ofc_email}}" target="_blank"><img style="width:35px;"  src="img/builder/mail.png"></a>
								</div>
                             </div>
                          </ion-item>                          
                        </div>
                     </ion-list>
          </div>
		<div ng-controller="ProjectdetailsCtrl" ng-if="GetAllProjectDsaList.length == 0"  style="margin-top:55px;"><h4 style="text-align:center;">No DSA Found..</h4></div>  
	  
	</ion-content>
</ion-view>