<ion-view title="Vaastu">
	 <ion-nav-buttons side="left">
		 <button menu-toggle="left" class="button button-clear"><img style="width:32px;" src="img/builder/menu-icon.png"/></button>
      </ion-nav-buttons>
    <ion-content has-header="true">
		<div class="list">
			<div class="row">
				<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/compase.png"/></p>
				<div class="col"><h3>Project Vaastu</h3></div>
			</div>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/rupeegreen.png"/>Master Plan Vaastu</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/rupeegreen.png"/>Master Plan Actual</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<div class="row">
				<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/location.png"/></p>
				<div class="col"><h3>Home Unit Vaastu</h3></div>
			</div>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/fourblock.png"/>Unit Floor Plan Vaastu</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/fourblock.png"/>Unit Floor Plan Actual</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
		</div>
	</ion-content>
</ion-view>
