
<ion-view title="<span style='margin-left: -80px;'>Add Team Member</span>" ng-controller="TeamRegCtrl" >
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>

	<form name="teamForm"  novalidate>
      <ion-content  has-footer="true" cache-view="false" >

				<div class="row responsive-sm">
					<div class="col" style="margin-top: -30px;"><p style="text-align:center;" ><img class="image-icon" src="img/builder/camera.png" style="position: relative;left: 55px;top: 52px;" /></p><p style="margin-top:10px;text-align:center; "  ><img ng-click="team_profile_pic()" class="team-profile" style="margin-top: 0px !important;" ng-src="{{team_profile}}"  id="teamProfileImage" src="img/builder/user-tie.png"/></p></div>
				</div>
		  <div class="row" >
			  <p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
			  <div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
		  </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
		  <div class="list">
					<label class="item item-input item-select" ng-click="roleList()" style="border-top:none; padding: 6px 0 10px 16px;">
						<img class="image-icon" src="img/builder/uhome.png"/>
						<div class="col col-60" ng-if="assignRole == ''">Assign Role</div>
						<div class="col col-60"  ng-if="assignRole != ''" >{{assignRole}}
						</div>
					</label>
					<span class="error" ng-show="submitted && assignRole == ''"  style="margin-left:50px;color:red;">Role is required.</span>
					<label class="item item-input" ng-class="{true: 'error'}[submitted && teamForm.team_name.$invalid]">
						<img class="image-icon" src="img/builder/owner.png"/><input type="text" ng-init="$parent.data.team_name = ''" ng-model="$parent.data.team_name" name="team_name" placeholder="Enter Name" ng-required="true" ng-minlength="4" ng-maxlength="100">
					</label>
					<span ng-show="submitted && teamForm.team_name.$error.required" style="margin-left:50px;color:red;">Name is required</span>
					<!--span ng-show="submitted && teamForm.team_name.$error.minlength" style="margin-left:50px;color:red;" >Name is too short</span-->

					<label class="item item-input">
						<div class="input-label">
							Select a Document to Upload
						</div>
					</label>
					<!--div class="row">
						<div class="col" >
							<label ng-repeat=" proof in AllIdProofs">
								<input type="radio" ng-init="$parent.data.id_proof_name=''" ng-model="$parent.data.id_proof_name"  value="{{proof.id_proof_id}}" name="id_proof_name">
								{{proof.name}}
							</label><br/>
						</div>
					</div-->
					<div class="idProof" ng-repeat=" proof in AllIdProofs" >
						<div class="row" ng-if="$even" style="padding:0px;">
							<div class="col"  >
									<!--a class="" href="#" ng-click="showImage($index)">
										<img style="width:100% !important"  ng-src="{{Images[$index].src}}" class="image-list-thumb"/>
									</a-->
									<input type="radio" ng-init="$parent.data.id_proof_name=''" ng-model="$parent.data.id_proof_name"  value="{{AllIdProofs[$index].id_proof_id}}" name="id_proof_name">
									{{AllIdProofs[$index].name}}
							</div>
							<div class="col" ng-if="AllIdProofs[$index+1].id_proof_id != NULL">

									<input type="radio" ng-init="$parent.data.id_proof_name=''" ng-model="$parent.data.id_proof_name"  value="{{AllIdProofs[$index+1].id_proof_id}}" name="id_proof_name">
									{{AllIdProofs[$index+1].name}}


							</div>
						</div>
					</div>
					<div class="item item-input" ng-show="data.id_proof_name">
						<img class="image-icon" src="img/builder/card.png"/>
						<div class="col">ID Proof</div>
						<div class="col pull-right"><img style="height:50px; width:50px; border:none;" src="{{team_id_proof}}"  id="idproofImage"/></div>
						<div class="col pull-right"><button class="button button-small button-calm" ng-click="team_Id_button()">Upload</button></div>
					</div>
					<label class="item item-input" >
						<img class="image-icon" src="img/builder/msg.png"/><input type="email"  name="email" ng-init="$parent.data.team_email = ''" ng-model="$parent.data.team_email" placeholder="Office Email Id" ng-pattern=" /^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required/>
					</label>
					<span ng-show="teamForm.email.$invalid && teamForm.email.$pattern && !teamForm.email.$pristine" style="margin-left:50px;color:red;" class="help-block">Enter a valid email.</span>
					<label class="item item-input" ng-class="{true: 'error'}[submitted && teamForm.team_mob_no.$invalid]">
						<img class="image-icon" src="img/builder/mobile.png"/><input type="tel"  name="office_mob" ng-model="$parent.data.team_mob_no"  placeholder="Mobile No"  ng-required="true" ng-minlength="10" ng-maxlength="10"/>
					</label>
					<span ng-show="submitted && teamForm.office_mob.$error.required" style="margin-left:50px;color:red;">Mobile Number is required</span>
					<span ng-show="submitted && teamForm.office_mob.$error.minlength" style="margin-left:50px;color:red;" >Mobile Number is not valid</span>
					<span ng-show="submitted && teamForm.office_mob.$error.maxlength"  style="margin-left:50px;color:red;">Mobile Number is not valid</span>
					<!--span ng-show="submitted && teamForm.office_mob.$error.pattern" ng-pattern="/^[789]\d{9}$/" style="margin-left:50px;color:red;">Mobile Number is not valid</span-->


				</div>
			  <!--button class="button button-full button-positive" style="margin-bottom:0px;" ng-click="team_reg(data)">Submit</button-->



      </ion-content>
		<ion-footer-bar align-title="left" style="background-color:#3B5999;">
			<div class="button-bar button-clear">
				<a class="button button-clear" style="background-color:#3B5999;" ng-click="team_reg(data)">Submit</a>
			</div>
		</ion-footer-bar>
	<!--div class="bar bar-footer button-bar button-positive" >



	</div-->
	</form>

</ion-view>
