<ion-view title="<span style='margin-left: -70px;'>Cash Flow Calendar</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"  class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
      <ion-content has-header="true">
		  <div class="row" >
			  <p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:2px;"  src="img/builder/pinkrupcal.png"/></p>
			  <div class="col "><h4 style="margin-top: 13px; margin-left: -5px;">Cash Flow Calendar</h4></div>
		  </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
		  <div class="list">
			<label class="item item-input item-select" ng-click="CalProjList()" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/building-block.png"/>
				<div class="col col-50" ng-if='calProject == undefined '>Pick A Project</div>
				<div class="col col-50" ng-if='calProject != ""' style="white-space: initial; text-overflow: ellipsis !important;">
					<b style="color:#ED1F24;">{{calProject}}</b>
				</div>
			</label>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img style="height:20px;" src="img/builder/time.png"/></p>
				<div class="col"><h4 style="float:left;color:#ED1F24;">Daily&nbsp;</h4><h4 ng-hide="allProject == 'yes'" style="color:#ED1F24;">- All Projects</h4></div>
			</div>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Projected By Collections</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['daily_pro_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['daily_pro_tot'] | number}}</h2></div>
				</div>
			</label>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Actual</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['daily_act_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['daily_act_tot'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/notebunndle.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Balance</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['daily_bal_tot'] | number}}</h2></div>
				</div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/blockinbox.png"/></p>
				<div class="col"><h4 style="float:left;color:#ED1F24;">Weekly&nbsp;</h4><h4 ng-hide="allProject == 'yes'" style="color:#ED1F24;">- All Projects</h4></div>
			</div>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Projected By Collections</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['weekly_pro_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['weekly_pro_tot'] | number}}</h2></div>
				</div>
			</label>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Actual</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['weekly_act_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['weekly_act_tot'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/notebunndle.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Balance</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['weekly_bal_tot'] | number}}</h2></div>
				</div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/redcutcircle.png"/></p>
				<div class="col"><h4 style="float:left;color:#ED1F24;">Monthly&nbsp;</h4><h4 ng-hide="allProject == 'yes'" style="color:#ED1F24;">- All Projects</h4></div>
			</div>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Projected By Collections</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['monthly_pro_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['monthly_pro_tot'] | number}}</h2></div>
				</div>
			</label>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Actual</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['monthly_act_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['monthly_act_tot'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/notebunndle.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Balance</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['monthly_bal_tot'] | number}}</h2></div>
				</div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/redquater.png"/></p>
				<div class="col"><h4 style="float:left;color:#ED1F24;">Quarterly&nbsp;</h4><h4 ng-hide="allProject == 'yes'" style="color:#ED1F24;">- All Projects</h4></div>
			</div>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Projected By Collections</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['quarterly_pro_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['quarterly_pro_tot'] | number}}</h2></div>
				</div>
			</label>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Actual</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['quarterly_act_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['quarterly_act_tot'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/notebunndle.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Balance</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['quarterly_bal_tot'] | number}}</h2></div>
				</div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/redcircle.png"/></p>
				<div class="col"><h4 style="color:#ED1F24;">Cumulative FY {{cyear | date:'yyyy'}}-{{nyear | date:'yy'}}</h4></div>
			</div>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Projected By Collections</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['cumulative_pro_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['cumulative_pro_tot'] | number}}</h2></div>
				</div>
			</label>
			<div class="row">
				<p style="margin:12px 10px 10px;"></p>
				<div class="col"><h4>Actual</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					WL Banks </div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['cumulative_act_wl'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Total</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['cumulative_act_tot'] | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/notebunndle.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Balance</div>
					<div class="col col-50"><h2>&#8377; {{AllRegCashflow[0]['cumulative_bal_tot'] | number}}</h2></div>
				</div>
			</label>
		</div>
	</ion-content>
</ion-view>
