<ion-view  cache-view="false" title=''>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>

	<ion-content has-header="true" ng-controller="BuilderProfileCtrl">
		<form>
		<div style="text-align:center;" class="row">
			<div class="col">
				<div>
					<p>
						<img class="team-profile" style="margin-top:10px;" ng-if="profile[0].BuilderLogo != '' " ng-src='{{image_url}}{{profile[0].BuilderLogo}}' />
						<img  class="team-profile" style="margin-top:10px;" ng-if="profile[0].BuilderLogo == '' " ng-src='img/no_image.png' />
					</p>
				</div>
				<!--div    ng-show="editorEnabled" >
					<p  ng-click="logo_button()"><img style="margin-top:10px;width:120px; border-radius:100%;"  ng-src="{{updated_logo}}" src="img/builder/bprofile.png"/></p>

				</div-->

				<h4>{{profile[0].BuilderName}}</h4>
				<img style=" width:10px;" src="img/builder/blocation.png"/> <span style="margin-top:0px;">{{profile[0].CityName}}</span>
			</div>


		</div>
		<div class="row" ng-hide="editorEnabled">
			<p style="margin:17px 10px 10px;"><img style="width:25px; "  src="img/builder/builder.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			<button class="button button-clear pull-right" ng-click="enableEditor()" ><img style="margin-top:15px;width:25px" src="img/builder/edit.png"/></button>
		</div><hr  ng-hide="editorEnabled" class="pull-right" style="margin-top: -5px; width: 96%;"/>

		<div class="row" ng-show="editorEnabled">
			<p style="margin:17px 10px 10px;"><img style="width:25px;"  src="img/builder/builder.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			<button class="button button-clear pull-right" ng-click="profile_update()" ><img style="margin-top:15px;width:25px" src="img/builder/save_icon64.png"/></button>
		</div><hr  ng-show="editorEnabled" class="pull-right" style="margin-top: -5px; width: 96%;"/>

			<div class="list">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/mobile.png"/>
					<div class="col col-50">
					 	Mobile No.
					</div>
					<div class="col">
					  <b>{{profile[0].MobileNo}}</b>
					</div>
			</label>
			<label class="item item-input">
					<img class="image-icon" src="img/builder/location.png"/>
					<div class="col col-50">
					   Office Address
					</div>
					<div class="col overflow" ng-hide="editorEnabled">
					  <b>{{profile[0].BuilderAddress}}</b>

					</div>
					<div class="col overflow" ng-show="editorEnabled" >
						<input type="text" ng-model="profile[0].BuilderAddress" class="overflow" ng-show="editorEnabled">
					</div>
			</label>
			<label class="item item-input">
					<img class="image-icon" src="img/builder/credai.png"/>
					<div class="col col-50">
					     CREDAI No.
					</div>
					<div class="col overflow" ng-hide="editorEnabled" >
					 	<b>{{profile[0].Credai}}</b>
					</div>
					<div class="col" ng-show="editorEnabled">
						<input type="text" ng-model="profile[0].Credai" ng-show="editorEnabled">
					</div>
			</label>
			<label class="item item-input">
				    <img class="image-icon" src="img/builder/service.png"/>
					<div class="col col-50">
					  Service Tax No.
					</div>
					<div class="col overflow" ng-hide="editorEnabled">
					    <b>{{profile[0].ServiceTaxNo}}</b>
					</div>
					<div class="col" ng-show="editorEnabled">
						<input type="text" ng-model="profile[0].ServiceTaxNo" ng-show="editorEnabled">
					</div>
			</label>
			<label class="item item-input">
				    <img class="image-icon" src="img/builder/vat.png"/>
					<div class="col col-50">
					      VAT No.
					</div>
					<div class="col" ng-hide="editorEnabled">
					      <b>{{profile[0].VatNo}}</b>
					</div>
					<div class="col" ng-show="editorEnabled">
						<input type="text" ng-model="profile[0].VatNo" ng-show="editorEnabled">
					</div>
			</label>
			<label class="item item-input">
				    <img class="image-icon" src="img/builder/xcard.png"/>
					<div  class="col col-50">
						 Company PAN No.
					</div>
					<div class="col" ng-hide="editorEnabled">
					     <b>{{profile[0].PanNo}}</b>
					</div>
					<div class="col" ng-show="editorEnabled">
						<input type="text" ng-model="profile[0].PanNo" ng-show="editorEnabled">
					</div>
			</label>
			<div class="item item-input" ng-hide="editorEnabled">
				<img class="image-icon" src="img/builder/card.png"/>
				<div class="col col-50">Identity Proof</div>
				<div class="col button-left" ><button class="button button-small button-small button-calm" ui-sref="fst.idproof">View</button></div>
			</div>
			<label class="item item-input" ng-show="editorEnabled">
				<div class="input-label">
					Select a Document to Upload
				</div>
			</label>
			
			<!--div class="row" ng-show="editorEnabled">
				<div class="col" >
					<label ng-repeat=" proof in AllIdProofs">
						<input type="radio" ng-init="$parent.editableId = ''" ng-model="profile[0].IdProofID"  value="{{proof.id_proof_id}}" name="editableId">
						{{proof.name}}
					</label><br/>
				</div>
			</div-->

				<div class="idProof" ng-repeat=" proof in AllIdProofs" ng-show="editorEnabled" >
					<div class="row" ng-if="$even" style="padding:0px;">
						<div class="col"  >
							<!--a class="" href="#" ng-click="showImage($index)">
                                <img style="width:100% !important"  ng-src="{{Images[$index].src}}" class="image-list-thumb"/>
                            </a-->
							<input type="radio" ng-init="$parent.data.id_proof_name=''" ng-model="profile[0].IdProofID"  value="{{AllIdProofs[$index].id_proof_id}}" name="editableId">
							{{AllIdProofs[$index].name}}
						</div>
						<div class="col" >

							<input type="radio" ng-init="$parent.data.id_proof_name=''" ng-model="profile[0].IdProofID"  value="{{AllIdProofs[$index+1].id_proof_id}}" name="editableId">
							{{AllIdProofs[$index+1].name}}


						</div>
					</div>
				</div>
			<div ng-show="editorEnabled">
				<div class="item item-input" ng-show="profile[0].IdProofID" >
					<img class="image-icon" src="img/builder/card.png"/>
					<div class="col">ID Proof</div>
					<div class="col"><img class="pull-right" style="height:50px;width: 50px;" ng-src="{{updated_id}}"  src="{{image_url}}{{profile[0].IdProof}}" id="updatedId"/></div>
					<div class="col" ><button class="button button-small button-calm pull-right" ng-click="update_Id_button()">Upload</button></div>
				</div>
			</div>
			<div class="item item-divider">
			</div>
			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen1.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Bank Details</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="item item-input" ng-hide="editorEnabled" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/uhome.png"/>
					<div class="col col-50">
						Bank Name
					</div>
					<img ng-if="editbanklogo != undefined" style="width:30px; height:30px; border-radius:5px;" ng-src="{{image_url}}{{editbanklogo}}"/>
					<img ng-if="editbanklogo == undefined"style="width:30px; height:30px; border-radius:5px;" ng-src="{{image_url}}{{profile[0].BankLogo}}"/>
					<div class="col overflow" >

					 	<b>{{profile[0].BankName}}</b>
					</div>
			</div>
			<label class="item item-input item-select" ng-click="editbankList()" ng-show="editorEnabled" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="input-label col col-50">Bank Name</div>

				<img ng-if = "editbank_id == undefined" style="width:30px; height:30px;" ng-src="{{image_url}}{{profile[0].BankLogo}}"/>
				<div class="col overflow" ng-if = "editbank_id == undefined">{{profile[0].BankName}}</div>
					<img ng-if = "editbank_id != undefined" style="width:30px; height:30px;" ng-src="{{image_url}}{{editbanklogo}}"/>
				<div class="col overflow" ng-if = "editbank_id != undefined" style="white-space: initial; text-overflow: ellipsis !important; text-align:justify;">{{builderselectbank}}
				</div>
			</label>
			<label class="item item-input">
				    <img class="image-icon" src="img/builder/location.png"/>
					<div class="col col-50">
					  <span class="input-label">Branch Name</span>
					</div>
					<div class="col overflow" ng-hide="editorEnabled">
					   <b>{{profile[0].BranchName}}</b>
					</div>
					<div class="col" ng-show="editorEnabled">
						<input type="text" ng-model="profile[0].BranchName" ng-show="editorEnabled">
					</div>.
			</label>
			<label class="item item-input">
				    <img class="image-icon" src="img/builder/owner.png"/>
					<div style="padding:0px;" class="col col-50">
					      Account No.
					</div>
					<div class="col overflow" ng-hide="editorEnabled">
					 	<b>{{profile[0].AccNo}}</b>
					</div>
					<div class="col" ng-show="editorEnabled">
						<input type="text" ng-model="profile[0].AccNo" ng-show="editorEnabled">
					</div>
			</label>
				<div class="item item-input">
				<img class="image-icon" src="img/builder/card.png"/>
				<div class="col col-50 overflow">DSA Bank Codes</div>
				<div class="col button-left" ng-hide="editorEnabled"><button class="button button-small button-calm" ui-sref="fst.bank-code">View</button></div>
				<div class="col button-left" ng-show="editorEnabled"><button class="button button-small button-calm" ui-sref="fst.exist-bank-code">Choose</button></div>
			</div>
			<div class="item item-divider">
			</div>
			<div class="row" ng-hide="editorEnabled">
				<p style="margin:17px 10px 10px;"><img style="width:30px; margin-top:5px;"  src="img/builder/home.png"/></p>
				<div class="col "><h3 style="margin-top: 18px; margin-left: -9px;">About Us</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			
			<!--<label class="item item-input">
				<img class="image-icon" src="img/builder/home.png"/>
				<div class="input-label">
				  		<b>About Us</b>
				</div>
			</label>-->
			<Div class="item item-input" ng-hide="editorEnabled" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/calender.png"/>
				<div class="col col-50">Since</div>
				<div class="col" ng-if="year == undefined"><b>{{profile[0].StartYear}}</b>
				</div>
				<div class="col" ng-if="year != undefined"><b>{{year}}</b>
				</div>
			</Div>
			
			<div class="item item-input" ng-hide="editorEnabled">
				    <img class="image-icon" src="img/builder/exp.png"/>
					<div class="col col-50">
					       Experience
					</div>
					<div class="col" ng-if="profile[0].StartYear == ''">

					</div>
					<div class="col" ng-if="profile[0].StartYear != ''">
					        <b>{{yearexp-profile[0].StartYear}}&nbsp;Years</b>
					</div>
			</div>
			<div class="padding" ng-hide="editorEnabled">
				<p style="text-align : justify;" ng-bind-html="profile[0].BuilderAbout" ></p>
			</div>
			<!--<div class="padding" ng-hide="editorEnabled">
				<textarea ng-model="profile[0].BuilderAbout" style="display: block;background: white;margin: auto; height: 12em; max-height: 12em;width: 100%; max-width: 100%; text-align:justify;"></textarea>
			</div>-->
			
			

			

		
		</div>
		<!--div class="button-bar" ng-show="editorEnabled">
			<a class="button button-calm" ng-click="profile_update()">Save</a>
			<a class="button button-assertive"ng-click="disableEditor()">Cancel</a>
		</div-->
		</form>
    </ion-content>
</ion-view>
<script id="fst-bank-code.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;DSA Bank Codes
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true" ng-controller="BuilderProfileCtrl">
			<ul class="list" ng-hide="editorEnabled" >
				<li class="item item-checkbox"  ng-repeat="bank in selectedbankcode">
					<label class="checkbox">
						<input type="checkbox"  ng-model="checkbox" ng-true-value="{{bankchecked}}" ng-false-value="0" disabled>
					</label><img style="float:left;margin-right:20px;width:12%" ng-src="{{image_url}}{{bank.BankLogo}}"/>
					<p>{{bank.BankName}}</p>
				</li>

			</ul>
		</ion-content>
	</ion-view>
</script>
<script id="fst-exist-bank-code.html" type="text/ng-template">
	<ion-view title="" ng-controller="BuilderProfileCtrl">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;DSA Bank Codes
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" >
			<ul class="list" >
				<li class="item item-checkbox"  ng-repeat="bank in AllBanks">
					<label class="checkbox">
						<input type="checkbox"  ng-init="checked == ''" ng-model="bank.checked"
							   ng-checked="bank.checked"  ng-true-value="'1'" ng-false-value="'0'">
					</label><img style="float:left;margin-right:20px;width:12%" ng-src="{{image_url}}{{bank.BankLogo}}"/>
					<p>{{bank.BankName}}</p>
				</li>
			</ul>
			<!--button class="button button-full  button-positive" ng-click="dsacodes_save(bank)">Save</button-->
		</ion-content>
		<ion-footer-bar align-title="left" style="background-color:#3B5999;">
			<div class="button-bar button-clear">
				<a class="button button-clear" style="background-color:#3B5999;" ng-click="dsacodes_save(bank)">Submit</a>
			</div>
		</ion-footer-bar>
	</ion-view>
</script>

<script id="fst-idopen.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Identity Proof
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true" ng-controller="BuilderProfileCtrl">
			<div class="list card">
				<div class="item item-body">
					<img class="full-image" ng-if="profile[0].IdProof != ''" ng-src="{{image_url}}{{profile[0].IdProof}}"/>
					<img class="full-image" ng-if="profile[0].IdProof == ''" ng-src="img/no_image.png"/>
				</div>
			</div>
		</ion-content>
	</ion-view>
</script>