
<style>
.row {
    padding: 1px;
}
.col {
    padding: 0px;
}
h4.mem{
    font-size: 16px;
	margin-top: 0px;
}
</style>
<ion-view title="<span style='margin-left: -14px;'>Sales & Collections Report</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"  class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<div class="row bar bar-subheader">
		<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
		<div class="col"><h4>Select Project to Continue</h4></div>
	</div>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	
    <ion-content has-header="true" ng-controller="SalesTeamReportCtrl">
		<div ng-if="salesteamproject.length != 0">
			<p style="margin-top:50%; margin-left:45%;" ng-if= "ReportByProject.length == 0 "><ion-spinner icon="android" ng-if= "ReportByProject.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px;margin-bottom: 40px;">
				<a ng-click="selected_report_project(project.project_id)" ui-sref="fst.reportTeamList" class="item item-thumbnail-left" ng-repeat="project in ReportByProject">
					<img class="project-continue" ng-if="project.main_image != ''" ng-src="{{image_url}}{{project.main_image}}">
					<img class="project-continue" ng-if="project.main_image == ''" ng-src="img/no_image.png">
					</br>
					<h2 style="margin:10px;">{{project.name}}</h2>
				</a>
			</div>
		</div>
		<div ng-if="salesteamproject.length == 0" style="margin-top: 55px;" >
			<h4 style="text-align:center;" >No Projects Found..</h4>
		</div>
    </ion-content>

</ion-view>
<script id="fst-reportTeamList.html" type="text/ng-template">
    <ion-view title = "">
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;Sales & Collections Report
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	<div class="row bar bar-subheader">
		<p style="margin:6px 10px 10px;"><img style="width:30px" src="img/builder/usergroup.png"/></p>
		<div class="col col-75"><h4 class="mem" style="font-size: 16px;margin-top: 1px">Select Team Member to Continue</h4></div>
	</div>
	<ion-content has-header="true" ng-controller="SalesTeamReportCtrl">
		<div ng-if="getTeamData.length != 0"><p style="margin-top:50%; margin-left:45%" ng-if= "GetAllReportTeam.length == 0 "><ion-spinner icon="android" ng-if= "GetAllReportTeam.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px;margin-bottom: 40px;">
				<a class="item item-avatar item-thumbnail-left" ui-sref="fst.reportTeamProfile" ng-click="selectRepTeam(team.builder_user_id)" ng-repeat="team in GetAllReportTeam">
					<img  style="border:3px solid #29ABE0;" ng-if="team.profile_img != ''" ng-src="{{image_url}}{{team.profile_img}}" >
					<img  style="border:3px solid #29ABE0;" ng-if="team.profile_img == ''" ng-src="img/no_image.png"></br>
					<h2 style="margin-top: 10px;">{{team.name}}</h2>
				</a>
			</div>
		</div>
		<div  ng-if="getTeamData.length == 0" style="margin-top:55px;"><h4 style="text-align:center;">No Sales Team Found..</h4></div>

	</ion-content>
</ion-view>
</script>
<script id="fst-reportTeamProfile.html" type="text/ng-template">
	<ion-view title="" >
		  <ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Report
			</ion-nav-back-button>
		  </ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true" ng-controller="SalesTeamReportCtrl">
		<a style="background:#EDE6D9;" class="item item-avatar item-thumbnail-left" href="#" ng-show="UserHeaderInfo">
			<img  ng-if="UserDetails.profile_img != ''" ng-src="{{image_url}}{{UserDetails.profile_img}}"  >
			<img ng-if="UserDetails.profile_img == ''" ng-src="img/no_image.png"></br>
			<h2>{{UserType}}</h2>
			<h2><b>{{UserDetails.UserName}}</b></h2>
		</a>


		<div class="row" >
			<p style="margin:17px 10px 10px;"><img class="image-icon" ng-src="{{HeaderIcon}}"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">{{UserHeading}}</h3></div>
		</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>

		<div class="list">
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/reddot.png"/></p>
				<div class="col col-75"><h4 style="color:#ED1F24;">{{Sales}} Target</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/sevendot.png"/>
				<div class="col overflow">{{para}} Per Week</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col">{{UserSalesTraget.weekly_no | number}}</br><h2 style="margin-top:15px">&#8377; {{UserSalesTraget.weekly_amount | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlecut.png"/>
				<div class="col overflow">{{para}} Per Month</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col ">{{UserSalesTraget.monthly_no | number}}</br><h2 style="margin-top:15px">&#8377; {{UserSalesTraget.monthly_amount |number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlecut1.png"/>
				<div class="col overflow">{{para}} Per Quarter</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col">{{UserSalesTraget.quarterly_no | number}}</br><h2 style="margin-top:15px">&#8377; {{UserSalesTraget.quarterly_amount | number}}</h2></div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/circle-red.png"/></p>
				<div class="col col-75"><h4 style="color:#ED1F24;">{{Sales}} Achievement</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/sevendot.png"/>
				<div class="col overflow">{{para}} Per Week</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col">{{UserSalesAchievement.weekly_no | number}}</br><h2 style="margin-top:15px">&#8377; {{UserSalesAchievement.weekly_amount | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlecut.png"/>
				<div class="col overflow">{{para}} Per Month</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col ">{{UserSalesAchievement.monthly_no | number}}</br><h2 style="margin-top:15px">&#8377; {{UserSalesAchievement.monthly_amount | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlecut1.png"/>
				<div class="col overflow">{{para}} Per Quarter</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col">{{UserSalesAchievement.quarterly_no | number}}</br><h2 style="margin-top:15px">&#8377; {{UserSalesAchievement.quarterly_amount | number}}</h2></div>
			</label>
			<div class="item item-divider"></div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/greenrupee.png"/><div class="col col-67">Incentive Plan</div>
				<div class="col button-right"><button class="button button-small button-calm" ui-sref="fst.incentivePlan">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/rupeegreen.png"/><div  class="col col-67">Incentive Earned</div>
				<div class="col button-right"><button class="button button-small button-calm" ui-sref="fst.earnPlan">View</button></div>
			</div>
			<div class="item item-divider"></div>
			<div class="item item-input" ng-show="demondnote">
				<img class="image-icon" src="img/builder/redchek.png"/><div  class="col col-67"><h4 style="color:#ED1F24;  font-size: 18px;">Demand Note Sent</h4></div>
				<div class="col button-right "><button class="button button-small button-calm" ui-sref="fst.demandnote" >View</button></div>
			</div>

			<label class="item item-input" style="border-top:none;" ng-show="demondnote">
				<img  class="image-icon" src="img/builder/one.png"/>
				<div class="col col-50"><h2>No</h2></div>
				<div class="col "><h2>{{demandData.NumDemandNotes | number}}</h2></div>
			</label>
			<label class="item item-input" style="border-top:none;" ng-show="demondnote">
				<img class="image-icon"   src="img/builder/rupee.png"/>
				<div class="col col-50"><h2>Amt</h2></div>
				<div class="col "><h2 >&#8377; {{demandData.Amount | number}}</h2></div>
			</label>
			<div class="item item-input" ng-show="demondnote">
				<img class="image-icon" src="img/builder/user.png"/><div  class="col col-67">Customer List</div>
				<div class="col button-right"><button class="button button-small button-calm" ui-sref="fst.bookinglist">View</button></div>
			</div>
			<div class="item item-divider" ng-show="demondnote"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img style="width:25px" ng-src="{{homeloanicon}}"/></p>
				<div class="col col-75"><h4 style="color:#ED1F24;">{{From}} Home Loan</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/sevendot.png"/>
				<div class="col overflow">{{para}} Per Week</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col">{{UserHomeLoan.weekly_no | number}}</br><h2 style="margin-top:15px">&#8377; {{UserHomeLoan.weekly_amount | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlecut.png"/>
				<div class="col overflow">{{para}} Per Month</div>
				<div class0="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col ">{{UserHomeLoan.monthly_no | number}}</br><h2 style="margin-top:15px">&#8377; {{UserHomeLoan.monthly_amount | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlecut1.png"/>
				<div class="col overflow">{{cumulat}}</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col">{{UserHomeLoan.cumulative_no | number}}</br><h2 style="margin-top:15px">&#8377; {{UserHomeLoan.cumulative_amount | number}}</h2></div>
			</label>
		</div>
		  <!--div class="button-bar ">
			  <a class="button button-positive"><img style="margin-top:10px;  height:27px " src="img/builder/call.png"/></a>
			  <a class="button button-positive"><img style="margin-top:10px; height:27px " src="img/builder/chat.png"/></a>
			  <a class="button button-positive"><img style="margin-top:10px; height:27px " src="img/builder/mail.png"/></a>
		  </div-->
	</ion-content>
</ion-view>
</script>
<script id="fst-earnPlan.html" type="text/ng-template">
	<ion-view title="">
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;Incentive Earned
		</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
      <ion-content has-header="true" ng-controller="SalesTeamReportCtrl">
		  <div class="row" >
			  <p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:5px;" src="img/builder/rupeegreen.png"/></p>
			  <div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Incentive Earned</h3></div>
		  </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
		  <div class="list">
			  <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/sevendot.png"/>
				<div class="col overflow">Weekly</div>
				<div class="col">&#8377; {{Earned.weekly_amount | number}}</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlecut.png"/>
				<div class="col overflow">Monthly</div>
				<div class="col">&#8377; {{Earned.monthly_amount | number}}</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlecut1.png"/>
				<div class="col overflow">Quarterly</div>
				<div class="col">&#8377; {{Earned.quarterly_amount | number}}</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/fullcircle.png"/>
				<div class="col overflow">Yearly</div>
				<div class="col">&#8377; {{Earned.yearly_amount | number}}</div>
			</label>
		</div>
	</ion-content>
</ion-view>
</script>
<script id="fst-incentivePlan.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Incentive Plan
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black; font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="SalesTeamReportCtrl">
			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:7px;"  src="img/builder/greenrupee.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Incentive Plan</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="list">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/sevendot.png"/>
					<div class="col overflow">Weekly</div>
					<div class="col">&#8377; {{Planed.weekly_amount | number}}</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/circlecut.png"/>
					<div class="col overflow">Monthly</div>
					<div class="col">&#8377; {{Planed.monthly_amount |number}}</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/circlecut1.png"/>
					<div class="col overflow">Quarterly</div>
					<div class="col">&#8377; {{Planed.quarterly_amount | number}}</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/fullcircle.png"/>
					<div class="col overflow">Yearly</div>
					<div class="col">&#8377; {{Planed.yearly_amount | number}}</div>
				</label>
			</div>

		</ion-content>
	</ion-view>
</script>
<script id="fst-bookinglist.html" type="text/ng-template">
	<ion-view title = "">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customers List
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black; font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="SalesTeamReportCtrl">
			<div class="row">
				<p style="margin:6px 10px 10px;"><img style="width:30px" src="img/builder/greengroup.png"/></p>
				<div class="col col-75"><h3>Customer List</h3></div>
			</div>
			<p style="text-align:center;" ng-if= "GetAllBooking.length == 0 "><ion-spinner icon="android" ng-if= "GetAllBooking.length == 0 " ></ion-spinner></p>
			<div class="list">
				<div class="item item-avatar item-thumbnail-left"  ng-repeat="booking in GetAllBooking">
					<img  ng-if="booking.consumerProfileImage != ''" ng-src="{{image_url}}{{booking.consumerProfileImage}}" >
					<img ng-if="booking.consumerProfileImage == ''" ng-src="img/no_image.png"></br>
					<h2 style="margin:10px;"> {{booking.coOwnerName}}</h2>

				</div>
			</div>
		</ion-content>
	</ion-view>
</script>
<script id="fst-demandnote.html" type="text/ng-template">
	<ion-view title = "">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Demand Note
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="SalesTeamReportCtrl">
			<div class="row">
				<p style="margin:6px 10px 10px;"><img style="width:30px" src="img/builder/greengroup.png"/></p>
				<div class="col col-75"><h3>Customer List</h3></div>
			</div>
			<p style="text-align:center;" ng-if= "GetAllDemandNote.length == 0 "><ion-spinner icon="android" ng-if= "GetAllDemandNote.length == 0 " ></ion-spinner></p>
			<div class="list">
				<a class="item item-avatar item-thumbnail-left" ui-sref="fst.demandnoteimage" ng-click="selected_customer(demand.consumer_id)" ng-repeat="demand in GetAllDemandNote">
					<img  ng-if="demand.profile_image != ''" ng-src="{{image_url}}{{demand.profile_image}}" >
					<img ng-if="demand.profile_image == ''" ng-src="img/no_image.png"></br>
					<h2 style="margin-top:10px;">{{demand.name}}</h2>

				</a>
			</div>
		</ion-content>
	</ion-view>
</script>
<script id="fst-demandnoteimage.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customers
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="SalesTeamReportCtrl">
			<div class="list card">
				<div class="item item-body">
					<img class="full-image" ng-if="DemondImage != ''" ng-src="{{image_url}}{{DemondImage}}"/>
					<img class="full-image" ng-if="DemondImage == ''" ng-src="img/no_image.png"/>
				</div>
			</div>
		</ion-content>
	</ion-view>
</script>
