<ion-view title='Consumer Follow Up'>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-content  >
		<img class="full-image" style="height:220px;" ng-if="SalesProfileDetails.BuilderUserTimelineImage != ''" ng-src="img/no_image.png">
		<img class="full-image" style="height:220px;"ng-if="SalesProfileDetails.BuilderUserTimelineImage == ''" ng-src="img/no_image.png">
		<div style="text-align:center;" class="row">
			<div class="col"><img class="team-profile" ng-if="SalesProfileDetails.BuilderUserProfileImage != ''" ng-src="img/no_image.png"/><img class="team-profile"  ng-if="SalesProfileDetails.BuilderUserProfileImage == ''" ng-src="img/no_image.png" /></br><h4>Manish</h4>
				<img style="width:10px;" src="img/builder/blocation.png"/>&nbsp;Bangalore
			</div>
		</div>
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:45px" src="img/builder/pen.png"/></p>
			<div class="col col-75"><h3>Details</h3></div>

		</div>
		<div class="list">
			<label class="item item-input">
				<img class="image-icon" src="img/builder/mobile.png"/>
				<div class="input-label">
					9005631630
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/msg.png"/>
				<div class="input-label">
					mkj9005@gmail.com
				</div>
			</label>

			<div class="item item-divider"></div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/calender.png"/>
				<div class="col col-50">Meeting Date</div>
				<div class="input-label">
					12/12/2015
				</div>
			</label>

			<label class="item item-input item-select" ng-click="consumerFollowUpStatus()">
				<img class="image-icon" src="img/builder/rotate.png"/>
				<div class="col" ng-if='exeProject == undefined '>Follow Up Status</div>
				<div class="col" ng-if='exeProject != ""'>
					{{exeProject}}
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/calender6.png"/>
				<div class="col">
					<input  type="text" onfocus="(this.type='date')" name="from_date" id="date1" placeholder="From" ng-init="data.from_date = ''" ng-model="data.from_date"  min="{{todayDate |date:'yyyy-MM-dd'}}">
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/remarkicon.png"/>
				<div class="col"><input type="text" placeholder="Remarks"></div>

			</label>
			
		</div>
		<button class="button button-full button-positive">
			Submit
		</button>
	</ion-content>

</ion-view>