<ion-view title="Advertisements & Presence">
	 <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
    <ion-content has-header="true">
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/compase.png"/></p>
			<div class="col"><h3>Advertisements</h3></div>
		</div>
		<div class="list">
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/location.png"/>Print Ads</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/location.png"/>TV Commercials</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/location.png"/>Theatre Ads</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/location.png"/>Hoardings</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/location.png"/>FM Radio Spots</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/location.png"/>Property Expos</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/location.png"/>Event Sponsorships</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
			<label class="item item-input">
				<div style="padding:0px;" class="col col-75"><img class="image-icon" src="img/builder/location.png"/>Online Presence</div>
				<div class="col button-right"><button class="button button-small button-calm" >Upload</button></div>
			</label>
		</div>
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/compase.png"/></p>
			<div class="col"><h3>Online Presence</h3></div>
		</div>
		<ul class="list">
			<li class="item item-checkbox">
			 <label class="checkbox">
			   <input type="checkbox">
			 </label><img style="float:left;margin-right:20px;width:40px" src="img/builder/axis.png"/>
			 <b>Common Floor</p>
			</li>
			<li class="item item-checkbox">
			 <label class="checkbox">
			   <input type="checkbox">
			 </label><img style="float:left;margin-right:20px;width:40px" src="img/builder/axis.png"/>
			 <b>Housing</p>
			</li>
			<li class="item item-checkbox">
			 <label class="checkbox">
			   <input type="checkbox">
			 </label><img style="float:left;margin-right:20px;width:40px" src="img/builder/axis.png"/>
			 <b>Prop Tiger</p>
			</li>
		</ul>
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/compase.png"/></p>
			<div class="col"><h3>Social Media Presence</h3></div>
		</div>
		<ul class="list">
			<li class="item item-checkbox">
			 <label class="checkbox">
			   <input type="checkbox">
			 </label><img style="float:left;margin-right:20px;width:40px" src="img/builder/axis.png"/>
			 <b>Facebook</p>
			</li>
			<li class="item item-checkbox">
			 <label class="checkbox">
			   <input type="checkbox">
			 </label><img style="float:left;margin-right:20px;width:40px" src="img/builder/axis.png"/>
			 <b>LinkedIn</p>
			</li>
			<li class="item item-checkbox">
			 <label class="checkbox">
			   <input type="checkbox">
			 </label><img style="float:left;margin-right:20px;width:40px" src="img/builder/axis.png"/>
			 <b>Twitter</p>
			</li>
			<li class="item item-checkbox">
			 <label class="checkbox">
			   <input type="checkbox">
			 </label><img style="float:left;margin-right:20px;width:40px" src="img/builder/axis.png"/>
			 <b>YouTube</p>
			</li>
		</ul>
	</ion-content>
</ion-view>
