<ion-view title="<span style='margin-left: -160px;'>View Team</span>" >
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	<div class="row bar bar-subheader" >
		<p style="margin:6px 10px 10px;"><img style="width:30px" src="img/builder/usergroup.png"/></p>
		<div class="col"><h4 style="margin-top: 2px;">List of Team Members</h4></div>
		<!--<img class="" style="width:35px; margin-top:5px;"  ng-click="trackallteam()" src="img/builder/multitrack.png">-->
	</div>
    <ion-content ng-controller="BuilderTeamCtrl">
	
		<div ng-if="teamDetail.length != 0 ">
			<p style="margin-top:50%; margin-left:45%;" ng-if= "getAllBuilderTeam.length == 0 "><ion-spinner icon="android" ng-if= "getAllBuilderTeam.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px;margin-bottom: 40px;">

				<div class="item item-avatar item-thumbnail-left"   ng-repeat="team in getAllBuilderTeam" >

					<img  style="border:3px solid #29ABE0;" ng-if="team.builderProfileImage != ''" ng-src="{{image_url}}{{team.builderProfileImage}}" >
					<img style="border:3px solid #29ABE0;" ng-if="team.builderProfileImage == ''" ng-src="img/no_image.png"></br>
					<h2 ng-if="team.user_role_id==1">{{team.builderUserName}} (Builder Owner)</h2>
					<h2 ng-if="team.user_role_id==2">{{team.builderUserName}} (PSM)</h2>
					<h2 ng-if="team.user_role_id==3">{{team.builderUserName}} (PSE)</h2>
					<h2 ng-if="team.user_role_id==4">{{team.builderUserName}} (PSC)</h2>
					<!--<h2 ng-if="team.user_role_id==1">{{team.builderUserName}} (Builder)</h2>
					<h2 ng-if="team.user_role_id==2">{{team.builderUsername}} (PSM)</h2>
					<h2 ng-if="team.user_role_id==3">{{team.builderUsername}} (PSE)</h2>
					<h2 ng-if="team.user_role_id==4">{{team.builderUsername}} (PSC)</h2>-->
					<p>{{team.builderUserMobile}}</p>
					<p>{{team.builderUserEmail}}</p>
					<div class="button-bar">
					<a class="button-small"  href="tel:{{team.builderUserMobile}}"><img class="" style="width:35px; margin-top:5px;" src="img/builder/call.png"></a>
					<a class="button-small"  href="whatsapp://send?text=Hello%20World!"><img class="" style="width:35px; margin-top:5px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button-small"  href="sms:{{team.builderUserMobile}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button-small"  href="mailto:{{team.builderUserEmail}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/mail.png"></a>
					<a class="button-small"  ng-click="geoLoc(team.builder_user_id,team.builderUserName)" ><img class="" style="width:35px; margin-top:5px;" src="img/builder/maploc.png"/></a>
					<!--<a class="button-small"  ng-click="geoLoc(team.builder_user_id,team.name)"><img class="" style="width:35px; margin-top:5px;" src="img/builder/trackon.png"/></a>
					
					<a class="button-small"  ng-click="trackallteam(team.builder_user_id,team.name)" ng-if="team.trackon == 1"><img class="" style="width:35px; margin-top:5px;" src="img/builder/trackon.png"/></a>-->
					
					
					</div>
				</div>
			</div>
		</div>
		<div ng-if="teamDetail.length == 0 " style="margin-top:55px;"><h4 style="text-align:center;">No Team Found..</h4> </div>

  </ion-content>
</ion-view>

<script id="fst-salesTeamDetails.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Team Details
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
	<ion-content ng-controller="BuilderTeamCtrl" >
		<!-- <h3>Project Sales Manager Section's home</h3>
		<a class="button button-fullwidth" nav-clear ui-sref="root">Back to the Root</a> -->
		<img class="full-image" style="height:220px;" ng-if="MemberDetails.builderUserTimelineImage != '' " ng-src='{{image_url}}{{MemberDetails.builderUserTimelineImage}}'/>
		<img class="full-image" style="height:220px;" ng-if="MemberDetails.builderUserTimelineImage == '' " ng-src='img/no_image.png'/>
		<div style="text-align:center;" class="row">
			<div class="col">
				<img class="team-profile"  ng-if="MemberDetails.builderProfileImage != '' " ng-src='{{image_url}}{{MemberDetails.builderProfileImage}}' />
				<img class="team-profile"  ng-if="MemberDetails.builderProfileImage == '' " ng-src='img/no_image.png'/>
				</br><h4>{{MemberDetails.builderUserName}}</h4>
				<!--span><img style="width:10px;" src="img/builder/blocation.png"/></span>&nbsp;&nbsp;{{MemberDetails.CityName}}-->
			</div>
		</div>
		<!--div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:45px" src="img/builder/pen.png"/></p>
			<div class="col"><h3>Details</h3></div>
			<a class="col"  ng-click="geoLoc(MemberDetails.builder_user_id)"><img class="pull-right" style="width:45px" src="img/builder/locationmap.png"/></a>
		</div-->
		<div class="row" >
			<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			<a class="col"  ng-click="geoLoc(MemberDetails.builder_user_id)"><img class="pull-right" style="width:35px; margin-top:5px;" src="img/builder/locationmap.png"/></a>
		</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
		<div class="list">
			<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/mobile.png"/>
				<div class="input-label">
					{{MemberDetails.builderUserMobile}}
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/msg.png"/>
				<div class="input-label">
					{{MemberDetails.builderUserEmail}}
				</div>
			</label>
		</div>
	</ion-content>
		<ion-footer-bar align-title="left" style="background-color:#3B5999;">
			<div class="button-bar button-clear">
				<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="tel:{{MemberDetails.builderUserMobile}}"><img style="width:30px;" src="img/builder/call.png"></a>
				<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" ><img style="width:30px;"  src="img/builder/chat.png"></a>
				<a class="button button-clear" style="background-color:#3B5999;" href="mailto:{{MemberDetails.builderUserEmail}}" target="_blank"><img style="width:30px;"  src="img/builder/mail.png"></a>
			</div>

		</ion-footer-bar>
		<!--div  class="bar bar-footer button-bar">
			<a class="button " style="background-color:#3B5999;border-color: #6A93EC;" href="tel:{{MemberDetails.builderUserMobile}}"><img style="margin-top: 8px;width:30px;" src="img/builder/call.png"></a>
			<a class="button " style="background-color:#3B5999;border-color: #6A93EC;" ><img style="margin-top: 8px;width:30px;"  src="img/builder/chat.png"></a>
			<a class="button" style="background-color:#3B5999; border-color: #6A93EC;" href="mailto:{{MemberDetails.builderUserEmail}}" target="_blank"><img style="margin-top: 8px;width:30px;"  src="img/builder/mail.png"></a>
		</div-->
</ion-view>
</script>




<script id="fst-salesTeamLocation.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Location
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content ng-controller="BuilderTeamCtrl">
			<div id="map_div" data-tap-disabled="true"></div>
		</ion-content>

	</ion-view>

</script>


