<ion-view title="<span style='margin-left: -120px;'>Project Details</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>

      <ion-content has-header="true" ng-controller="ProjectdetailsCtrl">
		  <div class="row">
			  <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/menudots.png"/></p>
			  <div class="col "><h3 style="margin-top: 10px; margin-left: -15px;">Project Details</h3></div>
		  </div><!--<hr class="pull-right" style="margin-top: -5px; width: 96%;"/>-->
		  <div class="list">
			<!--<label class="item item-input item-select" ng-click="Pro_city()" ng-disabled="detailcitydisable" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/location.png"/>
				<div class="col col-50 overflow">Select City</div>
				<div class="col overflow" >{{pcity}}
				</div>
			</label>
			<label class="item item-input item-select" ng-click="Pro_location()" ng-disabled="detaillocdisable">
				<img class="image-icon" src="img/builder/location.png"/>
				<div class="col col-50 overflow">Select Project Location</div>
				<div class="col overflow">{{plocation}}
				</div>
			</label>-->
			<label class="item item-input item-select" ng-click="Pro_Name()" ng-disabled="detailprodisable">
				<img class="image-icon" src="img/builder/building-block.png"/>
				<div class="col col-50 overflow">Project Name</div>
				<div class="col overflow" >{{pName}}
				</div>
			</label>
				<!--div  ui-sref="fst.location" class="item item-input">
					<div style="padding:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/location.png"/><h2 id="sellocation">Select Project Location</h2></div>
					<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
				</div-->
				<!--div  ui-sref="fst.projectname" class="item item-input">
					<div style="padding:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/building-block.png"/><h2 id="proname">Project Name</h2></div>
					<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
				</div-->
			<div ng-show="projectsalesteam">
			<div  ui-sref="fst.approved" class="item item-input">
				<div style="padding:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/uhome.png"/><h2 id="appbank">Project Approved Banks</h2></div>
				<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
			</div>

			  <div class="item item-divider" ng-show="projectsalesteam"></div>
			<!--<div class="row"  ng-show="projectsalesteam">
				<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/location.png"/></p>
				<div class="col "><h4 style="margin-top: 10px; margin-left: -18px;">Available Units</h4></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="item item-label" style="border-top:none; padding: 6px 0 10px 16px;" ><img class="image-icon" src="img/builder/twobuild.png"/>Select Block</div>
			<div class="row" ng-show="projectsalesteam">

				<div class="col col-20 choose-item" ng-repeat="block in AllBlocks">
					<label class="item item-radio">
						<input type="radio" name="block" ng-click="select_block(block.BlockId)" >
						<div class="item-content block-bg">
						  <img class="image-icon" src="img/builder/building-white.png"/></br>&nbsp;&nbsp;{{block.BlockName}}
						</div>
						<i class="radio-icon ion-checkmark"></i>
					</label>
				</div>
			</div>
				<div ng-show="builderFloorlist">
					<div class="item item-label" ng-show="builderFloorlist"><img class="image-icon" src="img/builder/fourblock.png"/>Select Floor</div>
					<div class="row" ng-show="builderFloorlist">
						<div class="col col-20 choose-item" ng-repeat="floor in AllFloors">
							<label class="item item-radio">
								<input type="radio" name="floor" ng-click="select_floor(floor.FloorId)">
								<div class="item-content block-bg">
								  <img class="image-icon" src="img/builder/floor_list_icon.png"/></br>&nbsp;&nbsp;<span style="text-align:center;">{{floor.FloorNumber}}</span>
								</div>
								<i class="radio-icon ion-checkmark"></i>
							</label>
						</div>
					</div>
				</div>
				<div>
					<div class="item item-label" ng-show="builderUnitsList" ><img class="image-icon" src="img/builder/fourcircle.png"/>Select Unit No</div>
					<div class="row" >
						<div class="col col-20 choose-item" ng-repeat="unit in AllUnits" ng-show="builderUnitsList">
							<label class="item item-radio">
								<input type="radio" name="unit">
								<div class="item-content ">
								  <img class="image-icon" style="margin-left: 4px;" src="img/builder/unit_list_icon.png"/></br><span style="text-align:center;">{{unit.UnitName}}</span>
								</div>
								<i class="radio-icon ion-checkmark"></i>
							</label>
						</div>
						<div ng-show="builderUnitsListNotFound">{{nounitavailable}}</div>
					</div>

				</div>-->
			<label class="item item-input">
				<img class="image-icon" src="img/builder/calender.png"/>
				<div  class="col overflow">Launch Date</div>
				<div class="col" ng-if="AllDetails[0]['LaunchDate']=='0000-00-00'"><b>--</b></div>
				<div class="col" ng-if="AllDetails[0]['LaunchDate']!='0000-00-00'"><b>{{AllDetails[0]['LaunchDate'] | date:'dd/MM/yyyy'}}</b></div>
			</label>
			   <label class="item item-input">
                  <img class="image-icon" src="img/builder/calender10.png"/>
                  <div class="col overflow">Possession Date</div>
				   <div class="col overflow" ng-if="AllDetails[0]['PossessionDate']=='0000-00-00'">
                      <b>--</b>
                  </div>
                  <div class="col overflow" ng-if="AllDetails[0]['PossessionDate']!='0000-00-00'">
                      <b>{{AllDetails[0]['PossessionDate'] | date:"dd/MM/yyyy"}}</b>
                  </div>
              </label>
			 <label class="item item-input">
                  <img class="image-icon" src="img/builder/area.png"/>
                  <div class="col  overflow">Total Land Area</div>
                  <div class="col overflow" >
                      <b>{{AllDetails[0]['TotalLandArea']}}&nbsp;</b><!--{{GetSmallDetails[0].DevSize}}-->
                  </div>
              </label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/fourcircle.png"/>
				<div  class="col overflow">Total Units</div>
				<div class="col"><b>{{AllDetails[0]['TotalUnits'] | number}}</b></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/menucheked.png"/>
				<div  class="col  overflow">Units Sold</div>
				<div class="col"><b>{{AllDetails[0]['UnitsSold'] | number}}</b></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlewatch.png"/>
				<div  class="col overflow">Units Available</div>
				<div class="col"><b>{{AllDetails[0]['UnitsForSale'] | number}}</b></div>
			</label>
			
			 
              <label class="item item-input" ng-repeat="bhk in ExeGetUnitTypeDetails" >
                  <img class="image-icon" src="img/builder/building-block.png" />
                  <div class="col overflow">{{bhk.UnitName}} Units</div>
                  <div class="col overflow" >
                      <b>{{bhk.UnitCount}}</b>
                  </div>
              </label>
			  <div class="item item-divider"></div>
              <div class="item item-input">
                  <img class="image-icon" src="img/builder/campassgray.png"/><div class="col col-50 overflow">Master Plan</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ng-click="exemaster_plan()">View</button></div>
              </div>
              <div class="item item-input">
                  <img class="image-icon" src="img/builder/fourblock.png"/><div class="col col-50 overflow">Floor Plan</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="fst.unitfloorplan" >View</button></div>
              </div>
              <div class="item item-input">
                  <img class="image-icon" src="img/builder/houserupee.png"/><div class="col col-50 overflow">Unit Plan</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="fst.unitplan">View</button></div>
              </div>
              <!--div class="item item-input">
                  <img class="image-icon" src="img/builder/rupeegray.png"/><div class="col col-50 overflow">Unit Price Plan</div>
                  <div class="col"><button class="button button-small button-calm" ng-click="update_Id_button()">View</button></div>
              </div-->
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/circlecheck.png"/><div class="col col-50 overflow">Availability List</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="fst.SearchUnitAvailability">View</button></div>
              </label>
			 <div class="item item-divider" ></div>
			<div class="item item-input" ng-show="projectsalesteam">
			<img class="image-icon" src="img/builder/customergray.png"/>
				<div class="col">Project Sales Team</div>
				<div class="col button-right"><button class="button button-small button-calm" ui-sref="fst.salesteam">View</button></div>
			</div>
			<div class="item item-input" ng-show="projectsalesteam">
				<img class="image-icon" src="img/builder/share.png"/>
				<div  class="col">Project Enquiries</div>
				<div class="col button-right"><button class="button button-small button-calm" ui-sref="fst.customerlist">View</button></div>
			</div>
			   <div class="item item-input">
                  <img class="image-icon" src="img/builder/grayman.png"/><div class="col col-50 overflow">Project Site Visits</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="fst.SiteVisit">View</button></div>
              </div>
			<div class="item item-input" ng-show="projectsalesteam">
				<img class="image-icon" src="img/builder/bookingbc.png"/>
				<div  class="col">Project Bookings</div>
				<div class="col button-right"><button class="button button-small button-calm" ui-sref="fst.allbooking">View</button></div>
			</div>
		
			<div class="item item-input" ng-show="projectsalesteam">
				<img class="image-icon" src="img/builder/usericon.png"/>
				<div  class="col">Project DSA</div>
				<div class="col button-right"><button class="button button-small button-calm" ui-sref="fst.homeloan">View</button></div>
			</div>
             			<div class="item item-divider" ></div>
			
						<label class="item item-input" >
				<img class="image-icon" src="img/builder/rupeecircle.png"/>
				<div  class="col  overflow">Total Sales</div>
				<div class="col">&#8377; {{AllDetails[0]['TotalLandArea'] | number}}</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/notebunndle.png"/>
				<div class="col overflow">Balance Receivables</div>
				<div class="col">&#8377; {{AllDetails[0]['BalRec'] | number}}</div>
			</label>
			<label class="item item-input" >
				<img class="image-icon" src="img/builder/manchek.png"/>
				<div  class="col  overflow">Received From Buyers</div>
				<div class="col">&#8377; {{AllDetails[0]['RecBuy'] | number}}</div>
			</label>
			<label class="item item-input" >
				<img class="image-icon" src="img/builder/manrupee.png"/>
				<div class="col overflow">Total Receivables From Buyers</div>
				<div class="col">&#8377; {{AllDetails[0]['TotRec'] | number}}</div>
			</label>
			 <div class="item item-divider" ></div>
			<!--div class="row" ng-show="projectsalesteam">
				<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/buildingchek.png"/></p>
				<div class="col"><h3>Net Receivables From Banks</h3></div>
			</div-->
			<div class="row">
				<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/buildingchek.png"/></p>
				<div class="col "><h3 style="margin-top: 10px; margin-left: -15px;">Net Receivables From Bank</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<label class="item item-input item-select" ng-click="Net_Bank()"  ng-disabled="detailbanksdisable" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="col overflow">Choose a Bank</div>
				<div class="col overflow"  >{{pBank}}
				</div>
			</label>

			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupeearrow.png"/>
				<div class="col col-33 overflow">Loan Login Files</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['loan_login_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['loan_login_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input" >
				<img class="image-icon" src="img/builder/acircle.png"/>
				<div class="col col-33 overflow">Sanctions</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['Sanctions_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['Sanctions_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupeeplus.png"/>
				<div class="col col-33 overflow">Disbursal Fresh Files</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['disbursalfreshfiles_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['disbursalfreshfiles_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input" >
				<img class="image-icon" src="img/builder/halfciclw.png"/>
				<div class="col col-33 overflow">Disbursal Part Files</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['disbursalpartfiles_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['disbursalpartfiles_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input" >
				<img class="image-icon" src="img/builder/halfciclw.png"/>
				<div class="col col-33 overflow">Final Disbursal</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['finaldisbursal_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['finaldisbursal_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/halfciclw.png"/>
				<div class="col col-33 overflow">Balance</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['balance_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['balance_amount'] | number}}</h2></div>
			</label>
			<!--<div class="item item-divider"></div>

				<div class="row">
					<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/humanblue.png"/></p>
					<div class="col "><h3 style="margin-top: 10px; margin-left: -15px;">Project Sales Manager</h3></div>
				</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
				<div ng-repeat="manager in SalesTeamManager">
					<div class="item item-thumbnail-left" style="border-bottom:none; border-top:none; padding: 6px 0 10px 16px;" >
					  <img style="border-radius:3px;" ng-if="manager.profile_img != ''" ng-src="{{image_url}}{{manager.profile_img}}"> <img style="border-radius:3px;" ng-if="manager.profile_img == ''" ng-src="img/no_image.png"></br>
					  <h2>{{manager.name}}</h2></br>
					</div>

					<h4 class="padding" style=" border-top:none;"><b>Details</b></h4>
					<label class="item item-input">
						<img class="image-icon" ng-src="img/builder/mobile.png"/>{{manager.mobile}}
					</label>
					<label class="item item-input">
						<img class="image-icon" src="img/builder/msg.png"/>{{manager.email}}
					</label>
				</div>
			<div class="item item-divider"></div>-->
			
			<!--<div class="item item-divider" ></div>
			<div class="item item-input" ng-show="projectsalesteam">
				<img class="image-icon" src="img/builder/lead.png"/>
				<div  class="col">My Leads</div>
				<div class="col button-right"><button class="button button-small button-calm" ui-sref="fst.myleads">Add</button></div>
			</div>-->

			
			<!--<div class="item item-input" ng-show="projectsalesteam">
				<img class="image-icon" src="img/builder/green.png"/>
				<div  class="col">Payment Demand Note</div>
				<div class="col button-right"><button class="button button-small button-calm" ui-sref="fst.demandnote">View</button></div>
			</div>-->
			</div>
		</div>
		  <!--button style="margin-bottom:0px;" ng-show="projectsalesteam" class="button button-full button-calm" type="submit" >Track PSM</button>
		  <div class="button-bar " ng-show="projectsalesteam">
			  <a class="button button-positive" ng-href="tel: {{manager.mobile}}" ><img style="margin-top:10px;  height:27px " src="img/builder/call.png"/></a>
			  <a class="button button-positive"><img style="margin-top:10px; height:27px " src="img/builder/chat.png"/></a>
			  <a class="button button-positive"><img style="margin-top:10px; height:27px " src="img/builder/mail.png"/></a>
		  </div-->
      </ion-content>
    </ion-view>
	
	<script id="fst-customerview.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Customer Details
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ProjectdetailsCtrl">
		
            <div style="text-align:center;" class="row">
                <div class="col"  >
                    <div>
                        <p>
                            <img class="team-profile" style="margin-top:0px;" ng-if="exeCustomerDetails[15] != ''" ng-src='{{image_url}}{{exeCustomerDetails[15]}}' />
                            <img class="team-profile" style="margin-top:0px;" ng-if="exeCustomerDetails[15] == ''" ng-src='img/no_image.png' />
                        </p>
                    </div>
                    <h4>{{exeCustomerDetails[1]}}</h4>
					
                  
                </div>
            </div>

            <div class="row" >
                <p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
                <div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
                <a class="col"  ng-click="geoLoc(exeCustomerDetails.builder_user_id)"><!--<img class="pull-right" style="width:45px" src="img/builder/locationmap.png"/>--></a>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/mobile.png"/>
                    <div class="col ">
                        {{exeCustomerDetails[6]}}
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/msg.png"/>
                    <div class="col ">
                        {{exeCustomerDetails[5]}}
                    </div>
                </label>
             </div>

        </ion-content>
		
		<ion-footer-bar align-title="left" class="" style="height: 56px;" ng-controller="ProjectdetailsCtrl">
		  <div class="button-bar" style="">
					<a class="button"  href="tel:{{exeCustomerDetails[6]}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/call.png"></a>
					<a class="button"  href="whatsapp://send?abid=username&text=Hello%2C%20World!"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button"  href="sms:{{exeCustomerDetails[6]}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button"  href="mailto:{{exeCustomerDetails[5]}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/mail.png"></a>
					<a class="button" href="skype:{{exeCustomerDetails[6]}}?chat"><img class="" style="width:31px; margin-top:5px;margin-left: -8px;" src="img/builder/skype.png"/></a>
					<a class="button"  ng-click="geoLocdd(exeCustomerDetails[0],exeCustomerDetails[1])"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/maploc.png"/></a>
					
				</div>
		</ion-footer-bar>
    </ion-view>
</script>
	
	
<script id="fst-customerlist.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Project Enquiries
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <div class="row bar bar-subheader">
            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
            <div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">Select Customer to continue</h4></div>
        </div>
	
        <ion-content  ng-controller="ProjectdetailsCtrl">
			
            <div ng-if="execustomer.length != 0" >
                <p style="margin-top:50%; margin-left:45%;" ng-if= "ExeGetCustomer.length == 0 "><ion-spinner icon="android" ng-if= "ExeGetCustomer.length == 0 " ></ion-spinner></p>
                <ul class="list" style="margin-top: 40px; margin-bottom: 40px;">
                    <li class="item item-avatar item-thumbnail-left" ng-click="getdetailscustomer(customer.consumer_id)" ng-repeat="customer in ExeGetCustomer">
                        <img style="border: 3px solid #52CBFF;top: 29px;" ng-if="customer.profile_image != ''" src="{{image_url}}{{customer.profile_image}}">
                        <img style="border: 3px solid #52CBFF;top: 29px;" ng-if="customer.profile_image == ''" src="img/no_image.png"></br>
                        <h2 style="" >{{customer.consumerName}}</h2>
						<h2 style="" >{{customer.mobile}}</h2>
						<h2 style="" >{{customer.email}}</h2>
						<h2 style="" >Unit Name : {{customer.unitName}}</h2>
						<h2 style="" >Enquiry On : {{customer.date_created}}</h2>
						<!--<h2 style="" ng-repeat="i in customer.dataput">{{customer.statusname}} : <b>{{customer.splitunitname[i]}}</b> on {{customer.date_created[i]}}</h2>-->
						
						
                    </li>
                </ul>
            </div>
            <div ng-if="execustomer.length == 0" style="margin-top:55px;"><h4 Style="text-align:center;"> No Customer Found</h4></div>
        </ion-content>
    </ion-view>
</script>



<script id="fst-SiteVisit.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Project Site Visits
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <div class="row bar bar-subheader">
            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
            <div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">Customer for Site Visit</h4></div>
        </div>

        <ion-content  ng-controller="ProjectdetailsCtrl">
			
            <div ng-if="sitevisitecustomer[0].length != 0" >
                <p style="margin-top:50%; margin-left:45%;" ng-if= "sitevisitecustomer[0].length == 0 "><ion-spinner icon="android" ng-if= "sitevisitecustomer[0].length == 0 " ></ion-spinner></p>
                <ul class="list" style="margin-top: 40px; margin-bottom: 40px;">
                    <li class="item item-avatar item-thumbnail-left" ng-repeat="customer in sitevisitecustomer[0]">
                        <img style="border: 3px solid #52CBFF;top: 29px;" ng-if="customer.profile_image != ''" src="{{image_url}}{{customer.profile_image}}">
                        <img style="border: 3px solid #52CBFF;top: 29px;" ng-if="customer.profile_image == ''" src="img/no_image.png"></br>
						
                        <h2 style="" >{{customer.name}}</h2>
						<h2 style="" >{{customer.mobile}}</h2>
						<h2 style="" >{{customer.email}}</h2>
						<b>Pick Date : {{customer.pick_date | date:"dd/MM/yyyy" }}</b></br>
						<b>Pick Time : {{customer.pick_time}}</b>
						<div class="button-bar">
							<a class="button-small"  href="tel:{{customer.mobile}}"><img class="" style="width:35px; margin-top:5px;" src="img/builder/call.png"></a>
							<a class="button-small"  href="whatsapp://send?text=Hello%20World!"><img class="" style="width:35px; margin-top:5px;" src="img/builder/whatsapplogo.png"/></a>
							<a class="button-small"  href="sms:{{customer.mobile}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/chat.png"></a>
							<!--<a class="button-small" href="skype:{{team.mobile}}?chat"><img class="" style="width:31px; margin-top:5px;" src="img/builder/skype.png"/></a>-->
							
							<a class="button-small"  href="mailto:{{customer.email}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/mail.png"></a>
							<a class="button-small"  ng-click="geoLoc(customer.consumer_id)"><img class="" style="width:35px; margin-top:5px;" src="img/builder/maploc.png"/></a>
					
						</div>
                    </li>
                </ul>
            </div>
            <div ng-if="sitevisitecustomer[0].length == 0" style="margin-top:55px;"><h4 Style="text-align:center;">No Customer Site Visit</h4></div>
        </ion-content>
    </ion-view>
</script>


<script id="fst-allbooking.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Project Bookings
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <div class="row bar bar-subheader">
            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
            <div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">Select Customer to continue</h4></div>
        </div>

        <ion-content has-header="true" ng-controller="ProjectdetailsCtrl">

			
            <div ng-if="bookingdata.length != 0">
                <p style="margin-top:50%; margin-left:45%;" ng-if= "ExeAllBooking.length == 0 "><ion-spinner icon="android" ng-if= "ExeAllBooking.length == 0 " ></ion-spinner></p>
                <div class="list" style="margin-top: 40px; margin-bottom: 40px;">
                    <a class="item item-avatar item-thumbnail-left"   ng-repeat="booking in ExeAllBooking" ng-click="CustomerDetails(booking.bookingId, booking.consumerId)">
                        <img style="border: 3px solid #52CBFF;top: 28px;" ng-if="booking.consumerProfileImage != ''" ng-src="{{image_url}}{{booking.consumerProfileImage}}">
                        <img style="border: 3px solid #52CBFF;" ng-if="booking.consumerProfileImage == ''" src="img/no_image.png"></br>
                        <h2 ><b>{{booking.consumerName}}</b></h2>
						<p><img class="image-icon" src="img/builder/twobuild.png"> Block :&nbsp;<b>{{booking.blockName}}</b></p>
						 <p ng-if="booking.floorName !=0"><img class="image-icon" src="img/builder/fourblock.png">Floor :&nbsp;<b>{{booking.floorName}}</b></p>
                        <p><img class="image-icon" src="img/builder/houserupee.png"> Unit :&nbsp;<b>{{booking.unitName}}</b></p>
						
						<p>Booked On :&nbsp;{{booking.bookedon | date:'MMM-dd-yyyy' }}</p>
						<p ng-if="booking.is_confirmed == 0" style="color:orange">Pending</p>
						<p ng-if="booking.is_confirmed == 1" style="color:green">Confirmed On : {{booking.confirmedon | date:"dd/MM/yyyy" }}</p>
						<p ng-if="booking.is_confirmed == 2" style="color:red">Rejected On : {{booking.confirmedon | date:"dd/MM/yyyy" }}</p>
                    </a>
                </div>
            </div>
            <div ng-if="bookingdata.length == 0"  style="margin-top:55px;"><h4 Style="text-align:center;"> No Customer Found</h4></div>
        </ion-content>
    </ion-view>
</script>

<script id="fst-customerBookingDetails.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Customer Details
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ProjectdetailsCtrl">
            <div style="text-align:center;" class="row">
                <div class="col"  >
                    <div>
                        <p>
                            <img class="team-profile" style="margin-top:0px;" ng-if="consumerDetail.profileImage != ''" ng-src='{{image_url}}{{consumerDetail.profileImage}}' />
                            <img class="team-profile" style="margin-top:0px;" ng-if="consumerDetail.profileImage == ''" ng-src='img/no_image.png' />
                        </p>
                    </div>
                    <h4>{{consumerDetail.consumerName}}</h4>
                    <img style=" width:10px;" src="img/builder/blocation.png"/> <span style="margin-top:0px;">{{consumerDetail.cityName}}</span>
                </div>
            </div>

            <div class="row" >
                <p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
                <div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
                <a class="col"  ng-click="geoLoc(consumerDetail.builder_user_id)"><!--<img class="pull-right" style="width:45px" src="img/builder/locationmap.png"/>--></a>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/mobile.png"/>
                    <div class="col ">
                        {{consumerDetail.mobile}}
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/msg.png"/>
                    <div class="col ">
                        {{consumerDetail.email}}
                    </div>
                </label>
                <div class="item item-divider"></div>

                <div class="row">
                    <p style="margin:17px 10px 10px;"><img style="width:25px" src="img/builder/impcircle.png"/></p>
                    <div class="col col-75"><h3 style="margin-top: 13px; margin-left: -9px;">Property Details</h3></div>
                </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
                <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/building-block.png"/>
                    <div class="col overflow">Project Name</div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.projectName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/homeplus.png"/>
                    <div class="col overflow">Property Type</div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.properytTypeName}}</b>
                    </div>

                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/direction.png"/>
                    <div class="col overflow">
                        Unit Facing
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.directionName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/twobuild.png"/>
                    <div class="col overflow ">
                        Block No
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.blockName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/fourblock.png"/>
                    <div class="col overflow">
                        Floor No
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.floorName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/fourcircle.png"/>
                    <div class="col ">
                        Unit No
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.unitName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/rotate.png"/>
                    <div class="col overflow">
                        Status
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.bookingConsumerStatus}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/circlewatch.png"/>
                    <div class="col overflow">
                        Completion Status
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerProjectReg.regStatus}}</b>
                    </div>
                </label>
				<label class="item item-input">
                    <img class="image-icon" src="img/builder/calendergray.png"/>
                    <div class="col overflow">
                        Registration Date
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerProjectReg.dateOfReg | date:'dd/MM/yyyy'}}</b>
                    </div>
                				
              	</label>
				
                <div class="item item-divider"></div>
                <div class="row">
					<div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/fourblock.png"/></p>
                            <div class="col"><h4 style="margin-top:2px;">Floor Plan</h4></div>
                        </div><hr style="width:85%;margin-top:-10px;"/>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="height:25px;" src="img/builder/houserupee.png"/></p>
                            <div class="col"><h4 style="margin-top:2px;">Unit Plan</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                    
                </div>

				
                <div class="row">
                   
                    <div class="col" style="border-radius:5px;" ui-sref="thrd.unitfloorplan">
                        <img   style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;"  ng-if="consumerFloorPlan != ''" class="full-image" ng-src="{{image_url}}{{consumerFloorPlan}}" />
                        <img   style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;"  ng-if="consumerFloorPlan == ''" class="full-image" src="img/no_image.png"/>
                    </div>
					 <div class="col" ng-click="MasterPlanImageView()" >
                        <img   style="border-radius:5px; width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerunitPlan != ''" class="full-image" ng-src="{{image_url}}{{consumerunitPlan}}"/>
                        <img   style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;"  ng-if="consumerunitPlan == ''" class="full-image" src="img/no_image.png"/>
                    </div>
                </div>
				<div class="item item-divider" ></div>
             
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/brownhomers.png"/>
                    <div class="col ">Payment Schedule</div>
                    <div class="col button-right"><button class="button button-small button-small button-calm" id="{{image_url}}{{consumerPaymentSchedule}}" onclick="window.open('https://docs.google.com/gview?embedded=true&url='+this.id,  '_blank','location=no');">View</button></div>
                </label>
					<label class="item item-input" >
                    <img class="image-icon" src="img/builder/squrerupee.png"/>
                    <div class="col ">Demand Note</div>
                    <div class="col button-right"><button class="button button-small button-small button-calm" id="{{image_url}}{{consumerDemandNote}}" onclick="window.open('https://docs.google.com/viewer?url='+this.id,  '_blank','location=no');">View</button></div>
                </label>
                <div class="row">
                    <!--div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/brownhomers.png"/></p>
                            <div class="col"><h4 style="margin-top:5px;">Payment Schedule</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                    <div class="col">
                        <div class="row"-->
                            <p style="margin:6px 10px 10px;"><img style="width:25px; margin-top:3px;" src="img/builder/green.png"/></p>
                            <div class="col"><h4 style="margin-top:5px;">Margin Money</h4></div>

                </div><hr style="width:90%; margin-top:-10px;"/>
                    <!--/div>
                </div-->


                <div class="row">
                    <!--div class="col">
                        <img   style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerPaymentSchedule != ''" class="full-image" ng-src="{{image_url}}{{consumerPaymentSchedule}}"/>
                        <img   style="border-radius:5px;  width:85%;  height:90px; margin-left:15px; border:1px solid gray;"  ng-if="consumerPaymentSchedule == ''" class="full-image" src="img/no_image.png"/>
                    </div-->
                    <div class="col" style="border-radius:5px;">
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/rupeecircle.png"/>
                            <div class="col overflow">Total:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerMarginMaster.total}}</div>

                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/handtwoline.png"/>
                            <div class="col overflow">Paid:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerMarginMaster.paid}}</div>
                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/notebunndle.png"/>
                            <div class="col overflow">Balance:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerMarginMaster.balance}}</div>
                        </label></div>
                </div> <hr style="width:95%;"/>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/purplecr.png"/></p>
                            <div class="col"><h4 style="margin-top:0px;">Payments</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:15px" src="img/builder/red-colom.png"/></p>
                            <div class="col"><h4 style="margin-top:0px;">Demand Details</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                </div>


                <div class="row">
                    <div class="col" style="border-radius:5px;">
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/rupeecircle.png"/>
                            <div class="col overflow">Total:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerPaymentMaster.total}}</div>

                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/handtwoline.png"/>
                            <div class="col overflow">Received:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerPaymentMaster.Rec}}</div>
                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/notebunndle.png"/>
                            <div class="col overflow">Balance:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerPaymentMaster.balance}}</div>
                        </label>
                    </div>
                    <div class="col" style="border-radius:5px;">
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/rupeecircle.png"/>
                            <div class="col overflow">Total:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerDemandsDetail.total}}</div>

                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/handtwoline.png"/>
                            <div class="col overflow">Received:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerDemandsDetail.paid}}</div>
                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/notebunndle.png"/>
                            <div class="col overflow">Balance:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerDemandsDetail.balance}}</div>
                        </label>
                    </div>
                </div>
                 <!--<div class="row">
                    <div style="text-align:center;" class="col" id = "{{image_url}}{{consumerDemandNote}}" onclick="window.open('https://docs.google.com/viewer?url='+this.id,  '_blank','location=no');" ><b ><u style="color:#6D6D6C;cursor:pointer;font-size:21px;">View Demand Note</u></b></div>
                </div>
                <div class="item item-divider"></div>
               div class="row">
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="height:25px;" src="img/builder/brown-box.png"/></p>
                            <div class="col"><h4 style="margin-top:2px;">Sales Agreement</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/BOX-YELLOW.png"/></p>
                            <div class="col"><h4 style="margin-top:2px;">Sales Deed</h4></div>
                        </div><hr style="width:85%;margin-top:-10px;"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img style="border-radius:5px; width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerProjectFile[1].image != '' " src="{{image_url}}{{consumerProjectFile[1].image}}">
                        <img style="border-radius:5px; width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerProjectFile[1].image == '' " src="img/no_image.png">
                    </div>
                    <div class="col">
                        <img  style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerProjectFile[2].image != '' " src="{{image_url}}{{consumerProjectFile[2].image}}">
                        <img  style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerProjectFile[2].image == '' " src="img/no_image.png">
                    </div>
                </div-->
				<div class="item item-divider" ></div>
			
                <div class="item item-input" style="border:none;">
                    <img class="image-icon" src="img/builder/handshakegray.png"/>
                    <div class="col ">Sale Agreement</div>
                    <div class="col button-right"><button class="button button-small button-small button-calm" id="{{image_url}}{{consumerProjectFile[1].image}}" onclick="window.open('https://docs.google.com/gview?embedded=true&url='+this.id,  '_blank','location=no');">View</button></div>
                </div>

                <Lable class="item item-input" >
                    <img class="image-icon" src="img/builder/BOX-YELLOW.png"/>
                    <div class="col ">Sale Deed</div>
                    <div class="col button-right"><button class="button button-small button-small button-calm" id="{{image_url}}{{consumerProjectFile[2].image}}" onclick="window.open('https://docs.google.com/gview?embedded=true&url='+this.id,  '_blank','location=no');">View</button></div>
                </lable>
				
				<!--<lable class="item item-input" style="margin-bottom:80px;">
                    <img class="image-icon" src="img/builder/BOX-YELLOW.png"/>
                    <div class="col ">Price Waiver</div>
                    <div class="col button-right"><button class="button button-small button-small button-calm" ui-sref="fst.priceWaiver">Add</button></div>
                </lable>-->
				
		
            </div>
            <!--<button class="button button-small button-assertive" ui-sref="fst.priceWaiver" style="margin-bottom:80px; padding:0px;">
                Add Price Waiver
            </button>-->
			
        </ion-content>
		
		<ion-footer-bar align-title="left" class="" style="height: 56px;" ng-controller="ProjectdetailsCtrl">
		  <div class="button-bar" style="">
					<a class="button"  href="tel:{{consumerDetail.mobile}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/call.png"></a>
					<a class="button"  href="whatsapp://send?abid=username&text=Hello%2C%20World!"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button"  href="sms:{{consumerDetail.mobile}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button"  href="mailto:{{consumerDetail.email}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/mail.png"></a>
					<a class="button" href="skype:{{consumerDetail.mobile}}?chat"><img class="" style="width:31px; margin-top:5px;margin-left: -8px;" src="img/builder/skype.png"/></a>
					<a class="button"  ng-click="geoLocdd(consumerDetail.consumerId,consumerDetail.consumerName)"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/maploc.png"/></a>
					
				</div>
		</ion-footer-bar>
    </ion-view>
</script>

<script id="fst-priceWaiver.html" type="text/ng-template">
    <ion-view title="" ng-controller="ProjectdetailsCtrl">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>Add Price Waiver
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <ion-content has-header="true" >
            <div class="row" >
                <p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
                <div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input item-select" ng-click="waiver_type()" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/crossrupee.png"/>
                    <div class="col" ng-if="ExeWaiverName == undefined">Waiver For</div>
                    <div class="col" ng-if="ExeWaiverName != undefined">{{ExeWaiverName}}
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/graycircle-box.png"/><input type="number" ng-init="$parent.data.price = ''"  ng-model="$parent.data.price" placeholder="List Price">
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/money.png"/><input type="number" ng-init="$parent.data.reqRate = ''"  ng-model="$parent.data.reqRate" placeholder="Required Rate">
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/remarkicon.png"/><input type="text" ng-init="$parent.data.remark = ''"  ng-model="$parent.data.remark" placeholder="Remarks">
                </label>

            </div>
            <!--button class="button button-block button-positive" ng-click="submitWaiver(data)">
                Submit
            </button-->
        </ion-content>
        <ion-footer-bar align-title="left" style="background-color:#3B5999;">
            <div class="button-bar button-clear">
                <a class="button button-clear" style="background-color:#3B5999; color:#fff;" ng-click="submitWaiver(data)">Submit</a>
            </div>
        </ion-footer-bar>
    </ion-view>
</script>

<script id="fst-approved.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Project Approved Banks
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true" ng-controller="ProjectdetailsCtrl">
			<ul class="list">
				<li class="item" ng-repeat="bank in AllApprovedBanks"><img style="float:left;margin-right:20px;width:12%" ng-src="{{image_url}}{{bank.BankLogo}}"/>{{bank.BankName}}</li>
			</ul>
		</ion-content>
	</ion-view>
</script>

<script  id="fst-myleads.html" type="text/ng-template" >
	<ion-view title="" ng-controller="ProjectdetailsCtrl">
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;My Leads
		</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true" >
		  <form name="leadForm"  novalidate>
			  <div class="row">
				  <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/lead.png"/></p>
				  <div class="col "><h3 style="margin-top: 10px; margin-left: -18px;">Add Lead</h3></div>
			  </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
				<div class="list">
					<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
						<img class="image-icon" src="img/builder/owner.png"/><input type="text" ng-init="$parent.lead.name = ''"  ng-model="$parent.lead.name" placeholder="Enter Name" name="name" required/>
					</label>
					<span ng-show="submitted && leadForm.name.$error.required" style="margin-left:50px;color:red;">Please Enter name</span>
					<label class="item item-input">
						<img class="image-icon" src="img/builder/mobile.png"/><input type="tel"   ng-model="$parent.lead.mob_no" placeholder="Enter Phone No" name="mob" ng-minlength="10" ng-maxlength="10" required/>
					</label>
					<span ng-show="submitted && leadForm.mob.$error.required" style="margin-left:50px;color:red;">Please Enter Mobile No.</span>
					<span ng-show="submitted && leadForm.mob.$error.minlength" style="margin-left:50px;color:red;" >Please Enter a valid Mobile No.</span>
					<span ng-show="submitted && leadForm.mob.$error.maxlength"  style="margin-left:50px;color:red;">Please Enter a valid Mobile No.</span>
					<label class="item item-input">
						<img class="image-icon" src="img/builder/msg.png"/><input type="email" ng-init="$parent.lead.email = '' " ng-model="$parent.lead.email" name="email" placeholder="Enter Email Id">
					</label>
			  		<span ng-show="leadForm.email.$invalid && !leadForm.email.$pristine" style="margin-left:50px;color:red;" class="help-block">Please Enter valid Email Id</span>
					<label class="item item-input item-select" ng-click="Lead_project()" ng-disabled="leadprodisable">
						<img class="image-icon" src="img/builder/building-block.png"/>
						<div class="col col-50 overflow" ng-if="lProject == undefined">Project Name</div>
						<div class="col overflow" ng-if="lProject != undefined">{{lProject}}
						</div>
					</label>
					<!--span class="error" ng-show="submitted && lProject == undefined"  style="margin-left:50px;color:red;">Project is required.</span-->
					<label class="item item-input item-select" ng-click="Lead_status()" ng-disabled="leadstatusdisable">
						<img class="image-icon" src="img/builder/home-search.png"/>
						<div class="col col-50 overflow" ng-if="lStatus == undefined">Property Requirement</div>
						<div class="col overflow" ng-if="lStatus != undefined" >{{lStatus}}
						</div>
					</label>
					<!--span class="error" ng-show="submitted && lStatus == undefined"  style="margin-left:50px;color:red;">Property Requirement is required.</span-->
					<!--<label class="item item-input">
						<img lass="image-icon" src="img/builder/home-search.png"/><input type="text" ng-model="lead.req"  placeholder="Property Requirement">
					</label>-->
				</div>
				  <!--button style="margin-bottom:0px;" class="button button-full button-block button-positive" ng-click="mylead_button(lead)">Submit</button-->
		  </form>
	</ion-content>
	<ion-footer-bar align-title="left" style="background-color:#3B5999;">
		<div class="button-bar button-clear">
			<a class="button button-clear" style="background-color:#3B5999;" ng-click="mylead_button(lead)">Submit</a>
		</div>
	</ion-footer-bar>
</ion-view>
</script>


<script id="fst-masterplan.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Master Plan
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ProjectdetailsCtrl">
                <ion-scroll zooming="true" direction="xy" scrollbar-x="false" scrollbar-y="false" style=" height: 100%;">
                    <div class="list card">
                        <div class="item item-body">
                            <img class="full-image" ng-if="exemaster != ''" ng-src="{{image_url}}{{exemaster}}"/>
                            <img class="full-image" ng-if="exemaster == ''" ng-src="img/no_image.png"/>
                        </div>
                    </div>
                </ion-scroll>

        </ion-content>
    </ion-view>
</script>

<script id="fst-unitfloorplan.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Floor Plan
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ProjectdetailsCtrl">
            <!--div class="row">
                <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/buildingpink.png"/></p>
                <div class="col col-50 item-select" ng-click="ExeSelectFloors()"><h4 ng-if="exefloor == undefined">Unit Floor Plan</h4><h4 ng-if="exefloor != undefined">{{exefloor}}</h4></div>
                <div  class="col"><span ng-click="enableEditor()" ><img class="pull-right" style="width:45px" src="img/builder/teloowcalender.png"/></span></div>
            </div-->
            <div class="item row">
                <div class="col">
                    <label style="border-width:0px;" class="item item-input item-select" ng-click="ExeSelectFloors()">
                        <img class="image-icon" src="img/builder/buildingpink.png"/>
                        <div class="col" ng-if="exefloor == undefined">Select Block & Floor</div>
                        <div class="col" ng-if="exefloor != undefined">{{exefloor}}
                        </div>
                    </label>
                </div>
                <!--div class="col col-20">
                    <img style="width:40px;" src="img/builder/teloowcalender.png"/>
                </div-->
            </div>

                <ion-scroll zooming="true" direction="xy"  scrollbar-x="false" scrollbar-y="false" style=" height: 100%;">
                    <div class="list card" ng-if="exefloor != undefined">
                        <div class="item item-body">
                            <img class="full-image" ng-if="exefloorimg != ''" ng-src="{{image_url}}{{exefloorimg}}"/>
                            <img class="full-image" ng-if="exefloorimg == ''" ng-src="img/no_image.png"/>
                        </div>
                    </div>
                </ion-scroll>
        </ion-content>
    </ion-view>
</script>

<script id="fst-unitplan.html" type="text/ng-template">
    <ion-view title="" ng-controller="ProjectdetailsCtrl">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Unit Plan
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>


        <ion-content  >
            <!--div class="row">
                <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/purplefourcircle.png"/></p>
                <a class="col col-50 item-select" ng-click="ExeSelectUnits()"><h4 ng-if="exeunit == undefined">Unit Plan</h4><h4 ng-if="exeunit != undefined">{{exeunit}}</h4></a>
                <div  class="col"><span ng-click="enableEditor()" ><img class="pull-right" style="width:45px" src="img/builder/teloowcalender.png"/></span></div>
            </div-->
            <div class="item row">
                <div class="col">
                    <label style="border-width:0px;" class="item item-input item-select" ng-click="ExeSelectUnits()">
                        <img class="image-icon" src="img/builder/purplefourcircle.png"/>
                        <div class="col" ng-if="exeunit == undefined">Select Block, Floor, Unit </div>
                        <div class="col" ng-if="exeunit != undefined">{{exeunit}}
                        </div>
                    </label>
                </div>
                <!--div class="col col-20">
                    <img style="width:40px;" src="img/builder/teloowcalender.png"/>
                </div-->
            </div>
            <div ng-if="exeunitimg !=  undefined" style="margin-bottom:44px;">
                <ion-scroll zooming="true" direction="xy" scrollbar-x="false" scrollbar-y="false" >

                        <div class="item item-body">
                            <img class="full-image" ng-if="exeunitimg != ''" ng-src="{{image_url}}{{exeunitimg}}"/>
                            <img class="full-image" ng-if="exeunitimg == ''" ng-src="img/no_image.png"/>
                        </div>

                </ion-scroll>

                <div class="row" >
                    <p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:5px;" src="img/builder/red_home_rupee.png"/></p>
                    <div class="col "><h3 style="margin-top: 18px; margin-left: -9px;">Unit Price Plan</h3></div>
                    <!--a class="col"  ng-click="geoLoc(consumerDetail.builder_user_id)"><img class="pull-right" style="width:45px" src="img/builder/locationmap.png"/></a-->
                </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
                <div class="list">
                    <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                        <img class="image-icon" src="img/builder/area.png"/>
                        <div class="col col-50 overflow">Unit Area</div>
                        <div class="col overflow" >
                            <b>{{exeunitarea}} </b>
                        </div>
                    </label>
                    <label class="item item-input">
                        <img class="image-icon" src="img/builder/fourcircle.png"/>
                        <div class="col col-50 overflow">Unit Type</div>
                        <div class="col  overflow" >
                           <b> {{exeunittype}}</b>
                        </div>
                    </label>
                    <label class="item item-input">
                        <img class="image-icon" src="img/builder/squrerupee.png"/>
                        <div class="col col-50 overflow">Rate/sqft</div>
                        <div class="col overflow" >
                            <b>&#8377; {{exeunitperprice}}</b>
                        </div>
                    </label>
                    <label class="item item-input">
                        <img class="image-icon" src="img/builder/rupee.png" />
                        <div class="col col-50 overflow">Unit Price</div>
                        <div class="col overflow" >
                            <b>&#8377; {{exeunitprice}}</b>
                        </div>
                    </label>

                </div>
          </div>
    </ion-content>
       
        
    </ion-view>
</script>


<script id="fst-SearchUnitAvailability.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Availability List
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" clear-cache="true" ng-controller="ProjectdetailsCtrl">
            <div class="row">
                <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/pinkcirclecheck.png"/></p>
                <div class="col col-75"><h4 style="margin-top: 10px; margin-left: -15px;">Select Block & Floor</h4></div>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input item-select" ng-click="ExeSelectBlocksList()" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/doublebuilding.png"/>
                    <div class="col" ng-if='ExeBlockName == undefined '>Block No</div>
                    <div class="col" ng-if='ExeBlockName != ""'>
                        {{ExeBlockName}}
                    </div>
                </label>
                <label class="item item-input item-select" ng-click="ExeSelectFloorsList()" ng-show="availablefloorlist">
                    <img class="image-icon" src="img/builder/floorelight.png"/>
                    <div class="col" ng-if='ExeFloorName == undefined'>Floor No</div>
                    <div class="col" ng-if='ExeFloorName != ""'>
                        {{ExeFloorName}}
                    </div>
                </label>
                <label class="item item-input" style="border-bottom:none;" ng-show="availableUnitsShow">
                    <img class="image-icon" src="img/builder/fourcircle.png"/>
                    <div class="col">Available Units</div>

                </label>

                    <div class="CSSTableGenerator"  ng-if="ExeAllAvailabilityUnits.length != 0" ng-if='ExeFloorName != ""' >
                        <table   style="margin: auto; margin-top:5px; text-align : center; " ng-show="availableUnitsShow">
                            <tr>
                                <th><b>Unit Number</b></th>
                                <th><b>Unit Name</b></th>
                            </tr>
                            <tr ng-repeat="x in ExeAllAvailabilityUnits | orderBy : 'x.UnitNumber' ">
                                <td>{{ x.UnitNumber }}</td>
                                <td>{{ x.UnitName }}</td>
                            </tr>
                        </table>

                    </div>
                <div ng-if="ExeAllAvailabilityUnits.length == 0" ng-show="availableUnitsShow"><h4 style="text-align: center;">No Units Found</h4></div>

            </div>
        </ion-content>
    </ion-view>
</script>


<script id="fst-salesteam.html" type="text/ng-template">
	<ion-view title="">
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;Project Sales Team
		</ion-nav-back-button>
	</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:30px" src="img/builder/usergroup.png"/></p>
			<div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">List Of Team Members</h4></div>
		</div>
		
		<ion-content has-header="true" ng-controller="ProjectdetailsCtrl">
		
			<div ng-if="getSalesTeamData.length != 0"><p style="margin-top:45%; margin-left:45%;" ng-if= "getSalesTeam.length == 0 "><ion-spinner icon="android" ng-if= "getSalesTeam.length == 0" ></ion-spinner></p>
			<div class="list" style="margin-top: 40px;"><!--ui-sref="fst.salesteamprofile"-->
			
			<div class="item item-avatar item-thumbnail-left"  style="padding-top:0px" ng-repeat="team in getSalesTeam" >

					<img  style="border:3px solid #29ABE0;" ng-if="team.profile_img != ''" ng-src="{{image_url}}{{team.profile_img}}" >
					<img style="border:3px solid #29ABE0;" ng-if="team.profile_img == ''" ng-src="img/no_image.png"></br>
					<h2 ng-if="team.user_role_id==1">{{team.name}} (Builder)</h2>
					<h2 ng-if="team.user_role_id==2">{{team.name}} (PSM)</h2>
					<h2 ng-if="team.user_role_id==3">{{team.name}} (PSE)</h2>
					<h2 ng-if="team.user_role_id==4">{{team.name}} (PSC)</h2>
					<p>{{team.mobile}}</p>
					<p>{{team.email}}</p>
					<div class="button-bar">
						<a class="button-small"  href="tel:{{team.mobile}}"><img class="" style="width:35px; margin-top:5px;" src="img/builder/call.png"></a>
						<a class="button-small"  href="whatsapp://send?text=Hello%20World!"><img class="" style="width:35px; margin-top:5px;" src="img/builder/whatsapplogo.png"/></a>
						<a class="button-small"  href="sms:{{team.mobile}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/chat.png"></a>
						
						
						<a class="button-small"  href="mailto:{{team.email}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/mail.png"></a>
						<a class="button-small"  ng-click="geoLoc(team.builder_user_id,team.name)"><img class="" style="width:35px; margin-top:5px;" src="img/builder/maploc.png"/></a>
					
					
					
					</div>
				</div>
				
				
				
				
			</div>
		</div>
			<div ng-if="getSalesTeamData.length == 0"><h4 style="text-align:center; margin-top:50px;">No Sales Team Found</h4></div>
	</ion-content>
</ion-view>
</script>

<script id="fst-salesTeamLocation.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Location
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content ng-controller="ProjectdetailsCtrl">
			<div id="map_div" data-tap-disabled="true"></div>
		</ion-content>

	</ion-view>

</script>

<script id="fst-salesteamprofile.html" type="text/ng-template">
	<ion-view title=""  ng-controller="ProjectdetailsCtrl">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Project Sales Team
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true">
		<img class="full-image" style="height:220px;" ng-if="seletedTeam.timeline_img != ''" ng-src="{{image_url}}{{seletedTeam.timeline_img}}">
		<img class="full-image" style="height:220px;"ng-if="seletedTeam.timeline_img == ''" ng-src="img/no_image.png">
		<div style="text-align:center;" class="row">
			<div class="col"><img class="team-profile" ng-if="seletedTeam.profile_img != ''" ng-src="{{image_url}}{{seletedTeam.profile_img}}" /><img class="team-profile" ng-if="seletedTeam.profile_img == ''" ng-src="img/no_image.png" /></br><h4>{{seletedTeam.UserName}}</h4>
			<p><img style="width:10px;" src="img/builder/blocation.png"/>{{seletedTeam.CityName}}</p>
			</div>
		</div>
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:45px" src="img/builder/pen.png"/></p>
			<div class="col col-75"><h3>Details</h3></div>

		</div>
		<div class="list">
			<label class="item item-input">
				<img class="image-icon" src="img/builder/mobile.png"/>
				<div class="input-label">
				  {{seletedTeam.mobile}}
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/msg.png"/>
				<div class="input-label">
				 	{{seletedTeam.email}}
				</div>
			</label>
		</div>
			<!--div class="button-bar ">
				<a class="button button-positive" href="tel: {{seletedTeam.mobile}}"><img style="margin-top:10px;  height:27px " src="img/builder/call.png"/></a>
				<a class="button button-positive" href="mailto : {{seletedTeam.email}}"><img style="margin-top:10px; height:27px " src="img/builder/chat.png"/></a>
				<a class="button button-positive" href="skype: jitu32?call"><img style="margin-top:10px; height:27px " src="img/builder/mail.png"/></a>
			</div-->
	</ion-content>
	<ion-footer-bar align-title="left" style="background-color:#3B5999;">
	
		<div class="button-bar button-clear">
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="tel:{{seletedTeam.mobile}}"><img style="width:30px;" src="img/builder/call.png"></a>
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="sms:{{seletedTeam.mobile}}"><img style="width:30px;"  src="img/builder/chat.png"></a>
			<a class="button button-clear" style="background-color:#3B5999;" href="mailto:{{seletedTeam.email}}" target="_blank"><img style="width:30px;"  src="img/builder/mail.png"></a>
		</div>

	</ion-footer-bar>
</ion-view>

</script>
<script id="fst-demandnote.html" type="text/ng-template">
	<ion-view title = "">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customers
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
			<div class="col"><h3>Customers List</h3></div>
		</div>
		<ion-content has-header="true" ng-controller="ProjectdetailsCtrl">

			<div ng-if="GetAllCustdemand.length != 0"><p style="margin-top:45%; margin-left:45%;" ng-if= "GetAllCust.length == 0 "><ion-spinner icon="android" ng-if= "GetAllCust.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px; margin-bottom: 40px;">
				<a class="item item-avatar item-thumbnail-left" ui-sref="fst.demandnoteimage" ng-click="selected_cust(customer.consumer_id)" ng-repeat="customer in GetAllCust">
					<img style="border: 3px solid #52CBFF;" ng-if="customer.profile_image != ''" ng-src="{{image_url}}{{customer.profile_image}}" >
					<img style="border: 3px solid #52CBFF;" ng-if="customer.profile_image == ''" ng-src="img/no_image.png"></br>
					<h2 style="margin-top:10px;">{{customer.name}}</h2>

				</a>
			</div>
			</div>
			<div ng-if="GetAllCustdemand.length == 0"  style="margin-top:55px;"><h4 style="text-align:center;">No Customer Found</h4></div>
		</ion-content>
	</ion-view>
</script>


<script id="fst-homeloan.html" type="text/ng-template">
	<ion-view title="Home loan">
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i> Project DSA
		</ion-nav-back-button>
		</ion-nav-bar>
      <ion-content has-header="true" ng-controller="ProjectdetailsCtrl">
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/userredtype.png"/></p>
			<div class="col col-75"><h4>Expand Bank Name for DSA details</h4></div>
		</div>
		<div ng-if="GetAllProjectDsaList.length != 0"><p style="margin-top:45%; margin-left:45%;" ng-if= "GetAllDsa.length == 0 "><ion-spinner icon="android" ng-if= "GetAllDsa.length == 0 " ></ion-spinner></p>
		  <div class="card" ng-repeat="dsalist in GetAllDsa">
			  <div class="item item-divider">
				<span class=""><img class="image-icon" src="img/builder/house.png"/>&nbsp;{{dsalist.dsaName}}</span>			
			  </div>
			   <div class="item item-body row">				  				   				  
				  <div class="col">&nbsp;{{dsalist.bank_name}}</div>
			  </div>
			  <div class="item item-body row">
				 
				  <div class="col col-50"><span class="step size-24 icon ion-ios-telephone">&nbsp;{{dsalist.mobile}}</span></div>				  				  
				  <div class="col"><span class="step size-24 icon ion-email">&nbsp;{{dsalist.email}}</span></div>
			  </div>
			<div class="row responsive-sm">	
				</br>
				<div class="button-bar button-positive">					
				  <a class="tab-item button button-positive" href="tel:+91-{{dsalist.mobile}}"><img class="image-icon" src="img/builder/msg.png"/>Call</a>
				  <a class="tab-item button button-positive"><img class="image-icon" src="img/builder/msg.png"/>Chat</a>
				  <a class="tab-item button button-positive"><img class="image-icon" src="img/builder/msg.png"/>Enquire</a>
				</div>
			</div>
		</div>
		</div>
		<div ng-if="GetAllProjectDsaList.length == 0"  style="margin-top:55px;"><h4 style="text-align:center;">No DSA Found</h4></div>  
	</ion-content>
</ion-view>
</script>



<script id="fst-demandnoteimage.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customers
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content ng-controller="ProjectdetailsCtrl">
			<div class="list card">
				<div class="item item-body">
					<img class="full-image" ng-src="{{image_url}}{{DeImage}}"/>
					<img class="full-image" ng-if="DeImage == ''" ng-src="img/no_image.png"/>
				</div>
			</div>
		</ion-content>
	</ion-view>
</script>
