 <ion-view title="<span style='margin-left: -140px;'>Add Lead</span>">
   <ion-nav-buttons side="left">
         <button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
     </ion-nav-buttons>
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;My Leads
		</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true" ng-controller="fstEnquiryCtrl" >
		  <form name="leadForm"  novalidate>
			  <div class="row">
				  <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/teamplus.png"/></p>
				  <div class="col "><h3 style="margin-top: 10px; margin-left: -18px;">Add Lead</h3></div>
			  </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
				<div class="list">
				
					<label class="item item-input item-select" ng-click="Lead_project()" style="border-top:none; " ng-disabled="">
						<img class="image-icon" src="img/builder/building-block.png"/>
						<div class="col col-50 overflow" ng-if="lProject == undefined">Project Name</div>
						<div class="col overflow" ng-if="lProject != undefined">{{lProject}}
						</div>
					</label>
					<label class="item item-input" style="padding: 6px 0 10px 16px;">
						<img class="image-icon" src="img/builder/owner.png"/><input type="text" ng-init="$parent.lead.name = ''"  ng-model="$parent.lead.name" placeholder="Enter Name" name="name" required/>
					</label>
					<span ng-show="submitted && leadForm.name.$error.required" style="margin-left:50px;color:red;">Please Enter Name</span>
					<label class="item item-input">
						<img class="image-icon" src="img/builder/mobile.png"/><input type="tel"   ng-model="$parent.lead.mob_no" placeholder="Enter Phone No" name="mob" ng-minlength="10" ng-maxlength="10" required/>
					</label>
					<span ng-show="submitted && leadForm.mob.$error.required" style="margin-left:50px;color:red;">Please Enter Mobile Number</span>
					<span ng-show="submitted && leadForm.mob.$error.minlength" style="margin-left:50px;color:red;" >Please Enter a valid Mobile Number</span>
					<span ng-show="submitted && leadForm.mob.$error.maxlength"  style="margin-left:50px;color:red;">Please Enter a valid Mobile Number</span>
					<label class="item item-input">
						<img class="image-icon" src="img/builder/msg.png"/><input type="email" ng-init="$parent.lead.email = '' " ng-model="$parent.lead.email" name="email" placeholder="Enter Email Id">
					</label>
			  		<span ng-show="leadForm.email.$invalid && !leadForm.email.$pristine" style="margin-left:50px;color:red;" class="help-block">Please Enter a valid Email Id</span>
					
		
					
					<label class="item item-input" style="padding: 6px 0 10px 16px;">
						<img class="image-icon" src="img/builder/houserupee.png"/><input type="text" ng-init="$parent.lead.budget = ''"  ng-model="$parent.lead.budget" placeholder="Enter the Budget" name="budget" required/>
					</label>
					<span ng-show="submitted && leadForm.name.$error.required" style="margin-left:50px;color:red;">Please Enter Budget</span>
					
					
					<label class="item item-input item-select" ng-click="getallunitytypeemm()" ng-disabled="">
						<img class="image-icon" src="img/builder/building-block.png"/>
						<div class="col col-50 overflow" ng-if="unittype == undefined">Unit Size</div>
						<div class="col overflow" ng-if="unittype != undefined">{{unittype}}
						</div>
					</label>
					
					<label class="item item-input item-select" ng-click="ManagerSourceList()"  ng-disabled="leadprodisable">
						  <img class="image-icon" src="img/builder/search.png"/>
						  <div class="col col-50 overflow">Source Of Enquiry</div>
						  <div class="col  overflow">{{MSourceName}}</div>

					</label>
					
					
					<!--<label class="item item-input item-select" ng-click="ManagerSourceList()" ng-disabled="leadstatusdisable">
						<img class="image-icon" src="img/builder/home-search.png"/>
						<div class="col col-50 overflow" ng-if="MSourceName == undefined">Property Requirement</div>
						<div class="col overflow" ng-if="MSourceName != undefined" >{{MSourceName}}
						</div>
					</label>-->
					<!--span class="error" ng-show="submitted && lStatus == undefined"  style="margin-left:50px;color:red;">Property Requirement is required.</span-->
					<!--<label class="item item-input">
						<img lass="image-icon" src="img/builder/home-search.png"/><input type="text" ng-model="lead.req"  placeholder="Property Requirement">
					</label>-->
				</div>
				  <!--button style="margin-bottom:0px;" class="button button-full button-block button-positive" ng-click="mylead_button(lead)">Submit</button-->
		  </form>
	</ion-content>
	<ion-footer-bar align-title="left" style="background-color:#3B5999;" ng-controller="fstEnquiryCtrl">
		<div class="button-bar button-clear">
			<a class="button button-clear" style="background-color:#3B5999;" ng-click="mylead_button(lead)">Submit</a>
		</div>
	</ion-footer-bar>
</ion-view>