
<ion-view title="">
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;Choose Preferred Bank
		</ion-nav-back-button>
		</ion-nav-bar>
	<ion-nav-buttons side="right">
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>

  <ion-content ng-controller="BuilderRegCtrl">
	  <div ng-if="AllBanks != 0">
	  <p style="margin-top:50%; margin-left: 45%;" ng-if= "AllBanks.length == 0 "><ion-spinner icon="android" ng-if= "AllBanks.length == 0 " ></ion-spinner></p>
    <ul class="list">
	  <li class="item item-checkbox"  ng-repeat="bank in AllBanks">
		 <label class="checkbox">
		   <input  type="checkbox"  ng-model="bank.checked"
				  ng-checked="bank.checked" ng-value="">
		 </label><img style="float:left;margin-right:20px;width:12%" ng-src="{{image_url}}{{bank.BankLogo}}"/>
		 <p>{{bank.BankName}}</p>
	  </li>
	  
	</ul>
		<button class="button button-full button-positive" ng-click="preferredbank_save()">Save</button>
	  </div>
	  <div ng-if="AllBanks == 0"><h4>No Bank Found..</h4></div>
  </ion-content>
</ion-view>
