<style>
.footer
{
	position: fixed;
    bottom: 0;
    width: 100%;
}
</style>

<ion-view title="Profile" >
	<ion-content class="home-content" style="position:absolute;left:0;right:0;top:0px;bottom:0px;" has-header="true" scrollbar-y="false">
		<div class="row">
			<div class="col" style="">
			<h5 class="head-role" style="font-family:inherit">Builder Sales CRM</h5></br>
			
			</div>
		</div>
		
		<!--<div class="row" style="margin-top: -34px;">
			<div class="col"><h4 class="head-role">My Role</h4></div>
		</div>-->
		<div class="row">
			<div class="col col-20"></div>
			<div class="col">
				<div onclick="toggle_visibility('foo');" class="list list-inset select-arrow">
					<div>My Role </div>
				</div>
				<div style="display:none;" id="foo" class="list list-inset select-item">
					<div ng-click="roleChange(role.id)"  class="item itemss selected-item" ng-repeat=" role in roles">
						<span ng-model = "role.id">{{role.name}}</span>
					</div>

				</div>
			</div>
			<div class="col col-20"></div>
		</div>
		<div class="row footer">
		
		<img src="img/whatsloan.png" class="img-responsive head-imge" style="" alt="Error in Display Image"/>
		</div>
	</ion-content>
</ion-view>