
<div class="modal image-modal transparent" ng-click="closeModal()">
	<ion-content>


		<ion-slide>
			<ion-slide-box  class="image_zoom" >

				<ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false" zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%" delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">
					<img ng-src="{{image.src}}" class="fullscreen-image" style="height:200px !important; " />
				</ion-scroll>
			</ion-slide-box>
			</ion-slide>
		</ion-slide>
	</ion-content>
</div>