<ion-view title=''>
    <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;Register
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
    <ion-content cache-view="false">
		<form name="userForm"  novalidate>
			<div class="row" >
				<div class="col" style="margin-top: -30px;"><p style="text-align:center;" ><img class="image-icon" src="img/builder/camera.png" style="position: relative;left: 55px;top: 52px;" /></p><p style="text-align:center;" ><img  ng-click="showSheet()" style="margin-top:0px !important;"class="team-profile" ng-src="{{profile}}" src="img/builder/bluehome.png" id="builderProImag"/></p></div>
			</div>

			<div class="row">
				<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;"  src="img/builder/pen.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Builder Details</h3></div>
			</div><hr   class="pull-right" style="margin-top: -5px; width: 96%;"/>

			<div class="list">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/building.png"/><input type="text" name="builder_name"   ng-model="data.builder_name" placeholder="Builder Name" ng-required="true" ng-minlength="4" ng-maxlength="100">
				</label>
				<span ng-show="submitted && userForm.builder_name.$error.required" style="margin-left:50px;color:red;">Builder Name is required</span>
				<!--span ng-show="userForm.builder_name.$error.minlength" style="margin-left:50px;color:red;" >Builder is too short</span>
				<span ng-show="userForm.builder_name.$error.maxlength"  style="margin-left:50px;color:red;">Builder is too long</span-->
				<label class="item item-input">
					<img class="image-icon" src="img/builder/owner.png"/><input type="text" ng-model="data.owner_name" name="owner_name" placeholder="Owner Name" ng-required="true" ng-minlength="4" ng-maxlength="100">
				</label>
				<span ng-show="submitted && userForm.owner_name.$error.required" style="margin-left:50px;color:red;">Owner Name is required</span>
				<!--span ng-show="userForm.owner_name.$error.minlength" style="margin-left:50px;color:red;" >Owner Name is too short</span>
				<span ng-show="userForm.owner_name.$error.maxlength"  style="margin-left:50px;color:red;">Owner Name is too long</span-->
				<label class="item item-input item-select" ng-click="businesstype()">
					<img class="image-icon" src="img/builder/qmark.png"/>
					<div class="input-label col col-50" ng-if="Selectedbusinessname == ''">Type of Organization</div>
					<div class="col" ng-if="Selectedbusinessname != ''">{{Selectedbusinessname}}
					</div>
				</label>
				<span ng-if ="submitted && Selectedbusinessname == ''" style="margin-left:50px;color:red;">Type of Organization is required</span>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/xcard.png"/><input type="text" ng-init="data.pan_no = ''" ng-model="data.pan_no" placeholder="Company PAN No" required/>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/vat.png"/><input type="text" ng-init="data.vat_no = ''"  ng-model="data.vat_no" placeholder="VAT No.(Optional)">
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/vat.png"/><input type="text" ng-init="data.service_tax = ''" ng-model="data.service_tax" placeholder="Service Tax No.(Optional)">
				</label>
				<!--label class="item item-input item-select">
					<img class="image-icon" src="img/builder/calender.png"/>
					<div class="input-label">Year of Start</div>
					<select  ng-model="data.year" name="year" ng-options="year for year in allyear" required/>
					</select>
				</label-->
				<label class="item item-input item-select" ng-click="yearList()">
					<img class="image-icon" src="img/builder/calender.png"/>
					<div class="input-label col col-67">Year of Starting Business</div>
					<div class="col" >{{reg_year}}
					</div>
				</label>

				<span class="error" ng-if="submitted && reg_year == undefined" style="margin-left:50px;color:red;">Year of start must be required.</span>
				<label class="item item-input item-stacked-label" style="border-bottom:none;">
					<span class="input-label"><img class="image-icon" src="img/builder/home.png"/>About Us</span>

				</label>
				<div class="card" style="border-radius: 10px;">
					<textarea  ng-init="data.about_us=''" ng-model="data.about_us"  placeholder="About Us" style="width: 100% !important; height:100px !important; padding: 10px;"></textarea>
				</div>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/globe.png"/><input type="url" name="website" ng-init="data.website_url=''" ng-model="data.website_url" placeholder="Builder Website URL">
				</label>
				<span ng-show="submitted && userForm.website.$error.url" style="margin-left:50px;color:red;">Enter a valid website.</span>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/msg.png"/><input type="email" name="email" ng-init="data.office_email=''" ng-model="data.office_email" placeholder="Office Email Id" required/>
				</label>
				<span ng-show="userForm.email.$invalid && !userForm.email.$pristine" style="margin-left:50px;color:red;" class="help-block">Enter a valid email.</span>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/phone.png"/><input ng-init="data.office_phone=''" ng-model="data.office_phone" type="tel" placeholder="Office Landline No">
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/mobile.png"/><input  ng-model="data.office_mob" type="tel" name="office_mob" placeholder="Mobile No" ng-required="true" ng-minlength="10" ng-maxlength="10"/>
				</label>
				<span ng-show="submitted && userForm.office_mob.$error.required" style="margin-left:50px;color:red;">Mobile No. is required</span>
				<span ng-show="submitted && userForm.office_mob.$error.minlength" style="margin-left:50px;color:red;" >Mobile Number is not Valid</span>
				<span ng-show="submitted && userForm.office_mob.$error.maxlength"  style="margin-left:50px;color:red;">Mobile Number is not Valid</span>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/location.png"/><input type="text" ng-init="data.office_address=''" ng-model="data.office_address" placeholder="Office Address" required/>
				</label>
				<!--<label class="item item-input item-select">
					<img class="image-icon" src="img/builder/location.png"/>
					<div class="input-label">
						Select City
					</div>
					<select ng-model="data.CityId" name="city" ng-options="i.CityId as i.CityName for i in AllCities" required>
					</select>
				</label>-->
				<!--div  ui-sref="fst.city" class="item item-input">
					<div style="padding:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/location.png"/><h2 id="para1">Select City</h2></div>
					<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
				</div-->
				<label class="item item-input item-select" ng-click="cityList()">
					<img class="image-icon" src="img/builder/location.png"/>
					<div class="input-label col col-50">Select City</div>
					<div class="col" >{{builderRegcity}}
					</div>
				</label>
				<span class="error" ng-if="submitted && builderRegcity == ''" style="margin-left:50px;color:red;">City is required.</span>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/credai.png"/><input type="number" ng-init="data.credai_no=''" ng-model="data.credai_no" placeholder="CREDAI No." />
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/position.png"/><input type="text" ng-init="data.position=''" ng-model="data.position" placeholder="Position" required/>
				</label>
				<label class="item item-input">
					<div class="input-label">
						Select a Document to Upload
					</div>
				</label>
				<!--div class="row">
					<div class="col" >
						<label ng-repeat=" proof in AllIdProofs">
							<input type="radio" ng-init="$parent.data.id_proof_name=''" ng-model="$parent.data.id_proof_name"  value="{{proof.id_proof_id}}" name="id_proof_name">
							{{proof.name}}
						</label><br/>
					</div>
				</div-->
				<div class="idProof" ng-repeat=" proof in AllIdProofs" >
					<div class="row" ng-if="$even" style="padding:0px;">
						<div class="col"  >
							<!--a class="" href="#" ng-click="showImage($index)">
                                <img style="width:100% !important"  ng-src="{{Images[$index].src}}" class="image-list-thumb"/>
                            </a-->
							<input type="radio" ng-init="$parent.data.id_proof_name=''" ng-model="$parent.data.id_proof_name"  value="{{AllIdProofs[$index].id_proof_id}}" name="id_proof_name">
							{{AllIdProofs[$index].name}}
						</div>
						<div class="col" >

							<input type="radio" ng-init="$parent.data.id_proof_name=''" ng-model="$parent.data.id_proof_name"  value="{{AllIdProofs[$index+1].id_proof_id}}" name="id_proof_name">
							{{AllIdProofs[$index+1].name}}


						</div>
					</div>
				</div>
				<div class="item item-input" ng-show="data.id_proof_name">
					<img class="image-icon" src="img/builder/card.png"/>
					<div style="padding:0px;"class="col ">ID Proof</div>
					<div class="col "><img ng-src="{{id_proof}}" class="pull-right" style="height:50px; width:50px;" id="builderIdImage"/></div>
					<div class="col button-right"><button class="button button-small button-calm" ng-click="upload_Id()">Upload</button></div>
				</div>

				<div class="item item-divider"></div>

				<!--label class="item item-input item-select">
					<img class="image-icon" src="img/builder/uhome.png"/>
					<div class="input-label">
						Bank Name
					</div>
					<select ng-init="data.BankId = ''" ng-model="data.BankId" ng-options="i.BankId as i.BankName for i in AllBanks">
					</select>
				</label-->
				<div class="row">
					<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;"  src="img/builder/pen1.png"/></p>
					<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Bank Details (Optional)</h3></div>
				</div><hr   class="pull-right" style="margin-top: -5px; width: 96%;"/>


				<label class="item item-input item-select" ng-click="bankList()" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/uhome.png"/>
					<div class="input-label col col-60">Bank Name</div>
					<div class="col" style="white-space: initial; text-overflow: ellipsis !important; text-align:justify;">{{builderselectbank}}
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/location.png"/><input type="text" ng-init="data.branch_name = ''" ng-model="data.branch_name" placeholder="Branch Name">
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/xcard.png"/><input type="number" ng-init="data.acc_no = ''" ng-model="data.acc_no" placeholder="Account No">
				</label>
				<div class="item item-divider"></div>
				<div class="row">
					<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;"  src="img/builder/pen2.png"/></p>
					<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Projects Completed</h3></div>
				</div><hr   class="pull-right" style="margin-top: -5px; width: 96%;"/>
				<div class="row">
					<div class="col center-red"><p><b>Residential</b></p>
						<label class="item item-input">
							<img class="image-icon" src="img/builder/building-block.png"/>
							<input type="number" ng-init="data.res_no_project=''" name="res_no_project" ng-model="data.res_no_project" placeholder="No. of Projects" ng-min="0" required/>
						</label>
						<label class="item item-input">
							<img class="image-icon" src="img/builder/area.png"/>
							<input type="number" ng-init="data.res_area_built=''" name="res_area_built" ng-model="data.res_area_built" placeholder="Area(Sq-Ft.)" ng-min="0" required/>
						</label>
					</div>
					<div class="col center-red"><p><b>Commercial</b></p>
						<label class="item item-input">
							<img class="image-icon" src="img/builder/building-block.png"/>
							<input type="number" ng-init="data.com_no_project=''" name="com_no_project" ng-model="data.com_no_project" placeholder="No. of Projects"ng-min="0" required/>
						</label>
						<label class="item item-input">
							<img class="image-icon" src="img/builder/area.png"/>
							<input type="number" ng-init="data.com_area_built=''" name="com_area_built" ng-model="data.com_area_built" placeholder="Area(Sq-Ft.)"ng-min="0" required/>
						</label>
					</div>
				</div>
				<span ng-show="userForm.res_no_project.$error.min" style="margin-left:50px;color:red;" >Number of  Residential Project is not valid</span>
				<span ng-show="userForm.res_area_built.$error.min" style="margin-left:50px;color:red;" >Area of Residential is not valid</span>
				<span ng-show="userForm.com_no_project.$error.min" style="margin-left:50px;color:red;" >Number of Commercial Project is not valid</span>
				<span ng-show="userForm.com_area_built.$error.min" style="margin-left:50px;color:red;" >Area of Commercial is not valid</span>
				<div class="item item-divider"></div>
				<div class="item item-input">
					<img class="image-icon" src="img/builder/uhome.png"/>
					<div class="col ">Preferred Banks</div>
					<div class="col button-right"><a href="#/preferredbank"><button class="button button-small button-calm">Choose</button></a></div>
				</div>
				<div class="item item-input">
					<img class="image-icon" src="img/builder/uhome.png"/>
					<div class="col ">Existing DSA Bank Codes</div>
					<div class="col button-right"><a href="#/bankcode"><button class="button button-small button-calm">Choose</button></a></div>
				</div>
				<div class="item item-input">
					<img class="image-icon" src="img/builder/house.png"/>
					<div class="col ">DSA Partners</div>
					<div class="col button-right"><a href="#/dsapartner"><button class="button button-small button-calm">Choose</button></a></div>
				</div>
				<div class="item item-input">
					<img class="image-icon" src="img/builder/owner.png"/>
					<div class="col ">Timeline Image</div>
					<div class="col pull-right"><img ng-src="{{timeline}}" style="height:50px; weight:50px;" id="timeImage"/></div>
					<div class="col button-right"><button class="button button-small button-calm" ng-click="timeline_image()">Upload</button></div>
				</div>
				<div class="item item-divider"></div>
				<div class="item item-input">
					<img class="image-icon" src="img/builder/pencil.png"/>
					<div class="col">Terms & Condition</div>
					<div class="col button-right"><button class="button button-small button-calm" ng-click="terms_button()">Upload</button></div>
				</div>
				<span>{{term}}</span>
				<div class="item item-input">
					<img class="image-icon" src="img/builder/policy.png"/>
					<div class="col">Privacy Policy</div>
					<div class="col button-right"><button class="button button-small button-calm" ng-click="privacy_button()">Upload</button></div>
				</div>
				<span>{{privacy}}</span>
				<ul class="list">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" ng-model="data.agree">
						</label>
						<h3 style="white-space: initial; text-overflow: ellipsis !important; text-align:justify; height: 36px;">I Agree to the Terms & Conditions of the App and CRM</h3>
					</li>
				</ul>

			</div>
		</form>
		<button class="button button-full button-positive"  style="position: absolute; margin-bottom: 0px !important; "ng-click="register(data)" >Submit</button>
    </ion-content>
</ion-view>
