<ion-view title='<img class="head-img" src=""/>'><!--img/builder/header.png-->
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;{{headername}}
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	<ion-content  overflow-scroll = "false" scrollbar-y = "false">
		<!--div class="row" >
			<p style="margin-top: 6px; margin-left: 10px; margin-right: 0px;"><img class="image-icon" ng-src="{{headericon}}"/></p>
			<div class="col"><h3 style="font-size: 20px; margin-top: 0px;">{{headername}} Sign In</h3></div>
		</div-->
		<div class="row" >
			<p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:2px;"/></p>
			<div class="col "><h4 style="margin-top: 13px; margin-left: -40px;font-size:15px">Please Enter Mobile No. & Password </h4></div>
		</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>

		<form name="userForm">
		<div class="list">
			<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon"  src="img/builder/mobile.png"/><input name="mobile" type="tel" ng-init="data.mobile_no = ''" placeholder="Mobile No." ng-model="data.mobile_no" ng-minlength="10" ng-maxlength="10" required/>
			</label>

			<span ng-show="userForm.mobile.$error.minlength" style="margin-left:50px;color:red;" >Please Enter a valid Mobile No.</span>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/lock.png"/><input type="password" name="password" ng-init="data.password = ''" placeholder="Password" ng-model="data.password" ng-minlength="4">
			</label>
			<span ng-show="userForm.password.$error.minlength" style="margin-left:50px;color:red;" >Please Enter correct Password</span>
		</div>
		<div id="link-container" ng-show="RegLink">
		<span style="margin-left:20px;color:red;"><a ui-sref="forgotpassword">Forgot Password?</a></span>
		</div>
		</form>
		<div id="button-container">
			<button class="button button-calm" type="submit" ng-click="login(data)" style="border-radius:5px; margin-top: 45px;">&nbsp;&nbsp;&nbsp;&nbsp;Sign In&nbsp;&nbsp;&nbsp;&nbsp;</button>
		</div>

		<!--<div id="link-container" ng-show="RegLink" style=" margin-top: 20px;">
			<a ui-sref="register" ><h4 id="link"><u>Register with WhatsLoan</u></h4></a>
		</div>-->
		</div>
	</ion-content>
</ion-view>

<script id="otp.html" type="text/ng-template">
	<ion-view>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Sign In
			</ion-nav-back-button>
		</ion-nav-bar>

		<ion-content overflow-scroll = "true" scrollbar-y = "false" >
			<div class="list">
				<p style="margin-top:40%; text-align:center;" >Please enter One Time Password(OTP) sent on {{mobileno}}</p>
				<label class="item item-input" >
					<img class="image-icon"  src="img/builder/mobile.png"/><input name="otp" type="text" ng-init="data.otp = ''" placeholder="OTP" ng-model="data.otp"/>
				</label>

			</div>
			<div class="row">
				<div class="col">
					<button class="button button-full  button-positive" ng-click="resend_otp()">
						Resend
					</button>
				</div>
				<div class="col">
					<button class="button button-full  button-positive" ng-click="otp_submit(data)">
						Submit
					</button>
				</div>

			</div>
		</ion-content>
	</ion-view>
</script>
