<ion-view title='Search'>
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
	<ion-content has-header="true" ng-controller="SndSearchUserCtrl"><!--
		<div class="row">
			<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/search_sky.png"/></p>
			<div class="col col-75"><h3 style="margin-top: 10px; margin-left: -15px;">Search</h3></div>
		</div>-->
		<hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
		<div class="list">
			<div class="button-bar button-clear">
		<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/search.png"/>
				<input type="text" ng-init="$parent.data.search = ''" ng-model="$parent.data.search" ng-keyup="searchcustomer($parent.data.search)" placeholder="Search By Name or Number" >

			</label>
			
					  						
					   <select class="item item-input item-select item-calm" ng-model="blisterPackTemplateSelected" ng-change="changedValue(blisterPackTemplateSelected)"data-ng-options="blisterPackTemplate as blisterPackTemplate.name for blisterPackTemplate in userSearchType">
					   
						  <option value="{{blisterPackTemplate.id}}">{{blisterPackTemplate.searchType}}</option>
						  
					   </select>

			
			</div>
			
			
			<div ng-if="AllSalespsmCustomerslist.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "AllSalespsmCustomerslist.length == 0 "><ion-spinner icon="android" ng-if= "AllSalespsmCustomerslist.length == 0 " ></ion-spinner></p>

				<div class="list"  style="margin-top: 40px; margin-bottom: 40px;">
					<div class="item item-avatar item-thumbnail-left" ng-repeat="customer in AllSalespsmCustomerslist">
						<img style="border :3px solid #52CBFF;" ng-if="customer.consumerProfileImage != ''" ng-src="{{image_url}}{{customer.consumerProfileImage}}">
						<img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage == ''" ng-src="img/no_image.png">
						</br>
						<h2>{{customer.consumerName}}</h2>
						<h2>{{customer.consumerMobile}}</h2>
						<h2>{{customer.consumerEmail}}</h2>
					</div>
				</div>
			</div>
			<div ng-if="AllSalespsmCustomerslist.length == 0" style="margin-top:55px;">
				<h4 style="text-align:center;" >No Customer Found..</h4>
			</div>
		
			<!--button class="button button-full button-calm" type="submit" ng-click="search_button(data)" style="position:fixed; margin-bottom:0px;">&nbsp;&nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;&nbsp;</button-->
		</div>


	</ion-content>
	<ion-footer-bar align-title="left" style="background-color:#FFFFFF;">
	
		<div class="">
			<a class="button button-clear" style="background-color:#3B5999; color:#fff;" ng-click="search_button(data)">Submit</a>
		</div>
	</ion-footer-bar>


</ion-view>

<script id="snd-searchCustomer.html" type="text/ng-template">
	<ion-view title = "">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Search Customers
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
			<div class="col"><h3>Customers List</h3></div>
		</div>
		<ion-content has-header="true" ng-controller="SndSearchUserCtrl">

			<div ng-if="searchUserDetail.length != 0 ">
			<p style="margin-top:45%; margin-left:45%;" ng-if= "searchUserDetail.length == 0 "><ion-spinner icon="android" ng-if= "searchUserDetail.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px; margin-bottom: 40px;">
				<a class="item item-avatar item-thumbnail-left"   ng-repeat="customer in searchUserDetail">
					<img  ng-if="customer.consumerProfileImage != ''" ng-src="{{image_url}}{{customer.consumerProfileImage}}" >
					<img ng-if="customer.consumerProfileImage == ''" ng-src="img/no_image.png"></br>
					<h2 style="margin-top:10px;">{{customer.consumerName}}</h2>
					<p>Follow Up Type: {{customer.followupName}}</p>
				</a>
			</div>
			</div>
			<div ng-if="searchUserDetail.length == 0 " style="margin-top:55px;"><h4 style="text-align:center;">No Customer Found..</h4> </div>
		</ion-content>

	</ion-view>
</script>



