<ion-view title="Project Bankwise Report">
      <ion-nav-buttons side="left">
		  <button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
      </ion-nav-buttons>
      <ion-content has-header="true" ng-controller="BankwisereportController">
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greenhome.png"/></p>
			<div class="col"><h3>Choose A Bank</h3></div>
		</div>
		  <p style="text-align:center;" ng-if= "ReportAllBanks.length == 0 "><ion-spinner icon="android" ng-if= "ReportAllBanks.length == 0 " ></ion-spinner></p>
		<ul class="list">
		  <li class="item" ui-sref="fst.bankwisedetails" ng-click="selected_bankwise(bank.BankName, bank.BankId)" ng-repeat="bank in ReportAllBanks">

			  <img style="float:left;margin-right:20px;width:12%; border-radius:2px;" ng-src="{{image_url}}{{bank.BankLogo}}"/><h2 style="margin-top:10px;">{{bank.BankName}}</h2>

		  </li>
		</ul>
	</ion-content>
</ion-view>

<script id="fst-bankwisedetails.html" type="text/ng-template">
	<ion-view title="">
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;Project Bankwise Report
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
    <ion-content has-header="true" ng-controller="BankwisereportController">
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:45px; height:45px;" ng-if="AllBanksWise[0]['logo'] !=''" ng-src="{{image_url}}{{AllBanksWise[0]['logo']}}"/><img style="width:45px; height:45px;" ng-if="AllBanksWise[0]['logo'] ==''" ng-src="img/no_image.png"/></p>
			<div class="col"><h3 style="margin-top:7px;">{{AllBanksWise[0]['name']}}</h3></div>
		</div>
		<div class="list">
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/redshare.png"/></p>
				<div class="col"><h4 style="color:#ED1F24;">Lead</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/one.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					No </div>
					<div class="col col-50"><h2>{{AllBanksWise[0]['loan_login_no']  | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Home Loan Amount</div>
					<div class="col col-50"><h2>&#8377; {{AllBanksWise[0]['loan_login_amount'] | number}}</h2></div>
				</div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/circleA.png"/></p>
				<div class="col"><h4 style="color:#ED1F24;">Sanctions</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/one.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					No </div>
					<div class="col col-50"><h2>{{AllBanksWise[0]['Sanctions_no']  | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Home Loan Amount</div>
					<div class="col col-50"><h2>&#8377; {{AllBanksWise[0]['Sanctions_amount'] | number}}</h2></div>
				</div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/rupeequater.png"/></p>
				<div class="col"><h4 style="color:#ED1F24;">First Disbursal</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/one.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					No </div>
					<div class="col col-50"><h2>{{AllBanksWise[0]['disbursalfreshfiles_no']  | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Home Loan Amount</div>
					<div class="col col-50"><h2>&#8377; {{AllBanksWise[0]['disbursalfreshfiles_amount'] | number}}</h2></div>
				</div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/rupeehalfly.png"/></p>
				<div class="col"><h4 style="color:#ED1F24;">Part Disbursal</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/one.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					No </div>
					<div class="col col-50"><h2>{{AllBanksWise[0]['disbursalpartfiles_no']  | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Home Loan Amount</div>
					<div class="col col-50"><h2>&#8377; {{AllBanksWise[0]['disbursalpartfiles_amount'] | number}}</h2></div>
				</div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/rupeecirclered.png"/></p>
				<div class="col"><h4 style="color:#ED1F24;">Final Disbursal</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/one.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					No </div>
					<div class="col col-50"><h2>{{AllBanksWise[0]['finaldisbursal_no']  | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Home Loan Amount</div>
					<div class="col col-50"><h2>&#8377; {{AllBanksWise[0]['finaldisbursal_amount'] | number}}</h2></div>
				</div>
			</label>
			<div class="item item-divider"></div>
			<div class="row">
				<p style="margin:12px 10px 10px;"><img class="image-icon" src="img/builder/rupeicon_100.png"/></p>
				<div class="col"><h4 style="color:#ED1F24;">Balance</h4></div>
			</div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/one.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					No </div>
					<div class="col col-50"><h2>{{AllBanksWise[0]['balance_no']  | number}}</h2></div>
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupee.png"/>
				<div class="row">
					<div style="padding-left:0px;" class="col col-50 overflow">
					Home Loan Amount</div>
					<div class="col col-50"><h2>&#8377; {{AllBanksWise[0]['balance_amount'] | number}}</h2></div>
				</div>
			</label>
		</div>
	</ion-content>
</ion-view>
</script>
