<ion-view title="">
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i> Unit Plan
		</ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	<ion-content has-header="true" ng-controller="SndUnitPlanCtrl">
		<div class="item row">
			<div class="col">
				<label style="border-width:0px;" class="item item-input item-select" ng-click="getunitplan()">
					<img class="image-icon" src="img/builder/buildingpink.png"/>
					<div class="col col-50" ng-if="unitplan == undefined">Select Unit Plan</div>
					<div class="col col-50"  ng-if="unitplan != undefined">{{unitplan}}
					</div>
				</label>
			</div>
			<!--div class="col col-20">
					<img style="width:40px;" src="img/builder/teloowcalender.png"/>
			</div-->
		</div>
		<ion-scroll zooming="true" direction="xy" scrollbar-x="false" scrollbar-y="false" >
			<div ng-show="projectsalesplan">
				<div class="item item-image">
					<img class="image-full" ng-if="SelectedUnitPlan != '' " ng-src="{{image_url}}{{SelectedUnitPlan}}"/>
					<img class="image-full" ng-if="SelectedUnitPlan == '' " ng-src="img/no_image.png"/>
				</div>
			</div>
		</ion-scroll>
		<div ng-show="projectsalesprice">
			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:7px;" src="img/builder/red_home_rupee.png"/></p>
				<div class="col "><h3 style="margin-top: 18px; margin-left: -9px;">Unit Price Plan</h3></div>
				<!--a class="col"  ng-click="geoLoc(consumerDetail.builder_user_id)"><img class="pull-right" style="width:45px" src="img/builder/locationmap.png"/></a-->
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="list">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/area.png"/>
					<div class="col overflow">Unit Area</div>
					<div class="col overflow"><b> {{SelectedUnitArea | number}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/fourcircle.png"/>
					<div class="col overflow">Unit Type</div>
					<div class="col overflow"><b> {{SelectedUnitType}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/squrerupee.png"/>
					<div class="col overflow">Unit Per Sqft Price</div>
					<div class="col overflow"><b>&#8377; {{SelectedUnitPerPrice | number}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/rupee.png"/>
					<div class="col overflow">Unit Price</div>
					<div class="col overflow"><b>&#8377; {{SelectedUnitPrice | number}}</b></div>
				</label>
			</div>
		</div>
	</ion-content>
</ion-view>
