<style>
.row {
    padding: 1px;
}
.col {
    padding: 0px;
}
</style>

<ion-view title="Customer Queries">
      <ion-nav-buttons side="left">
		  <button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
      </ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:30px" src="img/builder/greengroup.png"/></p>
			<div class="col"><h4>Select Customer to continue</h4></div>
		</div>
      <ion-content has-header="true" ng-controller="consumerSalesReportCtrl" >


			  <div ng-if="cosumersalesReport.length != 0">
				  <p style="margin-top:50%; margin-left:45%;" ng-if= "AllSalesRequestCust.length == 0 "><ion-spinner icon="android" ng-if= "AllSalesRequestCust.length == 0 " ></ion-spinner></p>

				  <div class="list"  style="margin-top: 40px; margin-bottom: 40px;">
					  <a class="item item-avatar item-thumbnail-left" ng-click="selected_custPendingDetails($index , cust.consumerId )" ng-repeat="cust in AllSalesRequestCust">
						  <img  style="border: 3px solid #52CBFF;" ng-if="cust.consumerProfileImage != ''" ng-src="{{image_url}}{{cust.consumerProfileImage}}">
						  <img  style="border :3px solid #52CBFF;" ng-if="cust.consumerProfileImage == ''" ng-src="img/no_image.png">
						  </br>
						  <h2>{{cust.consumerName}}</h2>
					  </a>
				  </div>
			  </div>
			  <div ng-if="cosumersalesReport.length == 0" style="margin-top: 50px;">
				  <h4 style="text-align:center;" >No Customer Found..</h4>
			  </div>

	</ion-content>
</ion-view>


<script id="snd-pendingDetails.html" type="text/ng-template">

	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customer Queries
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content  ng-controller="consumerSalesReportCtrl">
			<img class="full-image" style="height:220px;" ng-if="SalesCustomerDetails.consumerTimelineImage != ''" ng-src="{{image_url}}{{SalesCustomerDetails.consumerTimelineImage}}">
			<img class="full-image" style="height:220px;"ng-if="SalesCustomerDetails.consumerTimelineImage == ''" ng-src="img/no_image.png">
			<div style="text-align:center;" class="row">
				<div class="col"><img class="team-profile" ng-if="SalesCustomerDetails.consumerProfileImage != ''" ng-src="{{image_url}}{{SalesCustomerDetails.consumerProfileImage}}" /><img class="team-profile"  ng-if="SalesCustomerDetails.consumerProfileImage == ''" ng-src="img/no_image.png" /></br>
					<h4>{{SalesCustomerDetails.consumerName}}</h4>
					<!--<img style="width:10px;" src="img/builder/blocation.png"/>&nbsp;{{SalesCustomerDetails.CityName}}-->
				</div>
			</div>
			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="list" style="margin-bottom:20px;">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/mobile.png"/>
					<div class="input-label">
						{{SalesCustomerDetails.consumerMobile}}
					</div>
				</label>
				<label class="item item-input" style="height:50px;">
					<img class="image-icon" src="img/builder/msg.png"/>
					<div class="input-label">
						{{SalesCustomerDetails.consumerEmail}}
					</div>
				</label>
				<div class="list card" ng-repeat="pendindDetails in AllCustomerRequestDetails">

					<div class="item item-body" >
						<img class="full-image" ng-if="pendindDetails.image != ''" src="{{image_url}}{{pendindDetails.image}}" style="height:220px;;">
						<img class="full-image" ng-if="pendindDetails.image == ''" src="img/no_image.png" style="height:220px;;">
						<p>
							{{pendindDetails.description}}
						</p>

					</div>

					<div class="item tabs tabs-secondary tabs-icon-left">
						<button class="button button-full button-positive" style=" margin-top: 0px; margin-bottom: 0px;"  ng-click="showImages(pendindDetails.consumerSalesRequestId)">
							Update
						</button>
					</div>

				</div>
			</div>
		</ion-content>
		
		<ion-footer-bar align-title="left" class="" style="height: 56px;" ng-controller="consumerSalesReportCtrl">
		  <div class="button-bar" style="">
					<a class="button"  href="tel:{{SalesCustomerDetails.consumerMobile}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/call.png"></a>
					<a class="button"  href="whatsapp://send?abid=username&text=Hello%2C%20World!"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button"  href="sms:{{SalesCustomerDetails.consumerMobile}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button"  href="mailto:{{SalesCustomerDetails.consumerEmail}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/mail.png"></a>
					<a class="button" href="skype:{{SalesCustomerDetails.consumerMobile}}?chat"><img class="" style="width:31px; margin-top:5px;margin-left: -8px;" src="img/builder/skype.png"/></a>
				
					
				</div>
		</ion-footer-bar>

	</ion-view>

</script>

<script id="templates/modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-calm">
			<h1 class="title"></h1>
			<button class="button button-clear button-clam" ng-click="closeModal()">Cancel</button>
		</ion-header-bar>
		<ion-content >
			<div class="list">
				<label class="item item-input">
					<img class="image-icon" src="img/builder/remarkicon.png"/><input type="text" ng-init="data.remark = ''"  ng-model="data.remark" placeholder="Remarks">
				</label>
				<label class="item item-input item-select" ng-click="customerStatusType()">
					<img class="image-icon" src="img/builder/rotate.png"/>
					<div class="input-label col col-50">Status Type</div>
					<div class="col">{{CStatusName}}
					</div>
				</label>

			</div>
			<button class="button button-full  button-positive" ng-click="updateStatusButton(data)">
				Update
			</button>
		</ion-content>
	</ion-modal-view>
</script>

