
<ion-view title="<span style='margin-left: -230px;'>Sales Campaign</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>

	<ion-content class="campaign-content" has-header="true" ng-controller="SndSalesCampaignCtrl">
		<div class="row">
			<div class="col"><h3 style="color:#fff;"><img style="width:25px" src="img/builder/loud_speaker_green.png"/> Sales Campaign</h3><hr class="white-line"/></div>
		</div>
		<div class="row" ui-sref="snd.AddCampaign">
			<div class="col">
				<div class="list list-inset campaign">
					<div>Add Sales Campaign</div>
				</div>
			</div>
		</div>
		<div ui-sref="snd.campaignlist" ng-click="getAllSalesCampaign()" class="row">
			<div class="col">
				<div class="list list-inset campaign">
					<div>View All Sales Campaigns</div>
				</div>
			</div>
		</div>
		<div ui-sref="snd.campaignapproval" ng-click="getAllSalesCampaignAppr()" class="row">
			<div class="col">
				<div class="list list-inset campaign">
					<div>Sales Campaign Approval</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>

<script id="snd-campaignlist.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;View All Sales Campaigns
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="SndSalesCampaignCtrl">
			<div class="row">
				<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/yaellownote_withplus.png"/></p>
				<div class="col col-75"><h3 class="dotdata" style="margin-top: 10px; margin-left: -15px;">View All Sales Campaigns</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>

			<div ng-if="allsalescamp.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "AllSalesCampaign.length == 0 "><ion-spinner icon="android" ng-if= "AllSalesCampaign.length == 0 " style=" " ></ion-spinner></p>
					<ul class="list"  >
						<li class="item" ui-sref="snd.campaigndetails" ng-click="getCampaignDetails($index, campaign.projectSalesCampaignId)" ng-repeat="campaign in AllSalesCampaign" style="border-top:none; padding: 6px 0 10px 16px;">
							<b>{{campaign.activity}}</b>
						</li>
					</ul>
			</div>
			<div ng-if="allsalescamp.length == 0" >
				<h4 style="text-align:center;" >No Sales Campaign Found..</h4>
			</div>
		</ion-content>
	</ion-view>
</script>

<script id="snd-campaigndetails.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;View Sales Campaign
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="SndSalesCampaignCtrl">
			<div class="row">
				<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greennotification.png"/></p>
				<div class="col"><h3>{{SalesCampaignDetails[0].activity}}</h3></div>
			</div>
			<div class="list">
				<label class="item item-input">
					<img class="image-icon" src="img/builder/calender6.png"/><div class="col"> From&nbsp;&nbsp;<b>{{SalesCampaignDetails[0].fromDate | date:'dd/MM/yyyy'}}</b></div>
					<img class="image-icon" src="img/builder/calender10.png"/><div class="col"> To&nbsp;&nbsp;<b>{{SalesCampaignDetails[0].toDate | date:'dd/MM/yyyy'}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/horn-light-grey.png"/>
					<div class="col overflow">Activity</div>
					<div class="col overflow"><b>{{SalesCampaignDetails[0].activity}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/squrerupee.png"/>
					<div class="col overflow">Budget</div>
					<div class="col overflow"><b>&#8377; {{SalesCampaignDetails[0].budget | number}}</b></div>
				</label>
				<!--label class="item item-input">
					<img class="image-icon" src="img/builder/location.png"/><div class="col"> City&nbsp;&nbsp;<b>Bangalore</b></div>
					<img class="image-icon" src="img/builder/location.png"/><div class="col"> Location&nbsp;&nbsp;<b>Hsr Layout</b></div>
				</label-->
				<label class="item item-input">
					<img class="image-icon" src="img/builder/circlecheck.png"/>
					<div class="col overflow">Approved By</div>
					<div class="col overflow"><b>{{SalesCampaignDetails[0].ApprovedByName}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/building-block.png"/>
					<div class="col overflow">Project Name</div>
					<div class="col overflow"><b>{{SalesCampaignDetails[0].ProjectName}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/location.png"/>
					<div class="col overflow">Campaign Location</div>
					<div class="col overflow"><b>{{SalesCampaignDetails[0].campaignLocation}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/remarkicon.png"/>
					<div class="col overflow">Remarks</div>
					<div class="col overflow"><b>{{SalesCampaignDetails[0].remarks}}</b></div>
				</label>
				<div class="item item-divider"></div>
				<div class="row">
					<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/blueflag.png"/></p>
					<div class="col"><h3>Promotional Requirements</h3></div>
				</div>
				<label class="item item-input">
					<img style="height:25px" src="img/builder/arrow.png"/>
					<div class="col"><b>{{SalesCampaignDetails[0].promotionalMaterialRequired}}</b></div>
				</label>
				<div style="padding-top:0px;padding-bottom:0px;" ui-sref="snd.attendance" ng-click="getAllAttendence(SalesCampaignDetails[0].projectSalesCampaignId)" class="item item-input">
					<div style="padding-top:0px;padding-bottom:0px;padding-left:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/owner.png"/><h2>Attendance</h2></div>
					<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
				</div>
				<div class="item item-toggle" ng-hide="manager_attend_toggle">
					 <div ng-if="attendeeStatus.length == 0">
                                            <div class="item item-toggle" ng-hide="attend_toggle">
                                                    I Will Attend
                                                    <label class="toggle toggle-balanced">
                                                            <input type="checkbox" ng-model="attend" ng-click="Attend_button(attend, slected_campaign_details.projectSalesCampaignId)">
                                                            <div class="track"  >
                                                                    <div class="handle"></div>
                                                            </div>
                                                    </label>
                                            </div>
                                        </div>
                                
                                        <div ng-if="attendeeStatus.length == 1">
                                                <h4 style="color:red; margin-left:22px;" >Attended</h4>
                                        </div>
				</div>
			</div>
		</ion-content>
	</ion-view>
</script>

<script id="snd-attendance.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;View All Attendance
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="SndSalesCampaignCtrl">
			<div class="row">
				<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
				<div class="col"><h3>All Attendance</h3></div>
			</div>
			<div ng-if="Attendee.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "Attendee.length == 0 "><ion-spinner icon="android" ng-if= "Attendee.length == 0 " ></ion-spinner></p>
					<ul class="list">
						<li class="item" ng-repeat="attend in Attendee">
							<b>{{attend.attendBy}}</b>
						</li>
					</ul>
			</div>
			<div ng-if="Attendee.length == 0">
				<h4 style="text-align:center;" >No Attendance Found..</h4>
			</div>
		</ion-content>
	</ion-view>
</script>

<script id="snd-campaignapproval.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back "></i>&nbsp;Sales Campaign Approval
			</ion-nav-back-button>
		</ion-nav-bar>
		<!--ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons-->
		<!--div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greenhome.png"/></p>
			<div class="col"><h3 class="dotdata">Unapproved Sales Campaigns</h3></div>
		</div-->
		<ion-content has-header="true" ng-controller="SndSalesCampaignCtrl">
			<div class="row">
				<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/greenhome.png"/></p>
				<div class="col col-75"><h4 class="dotdata" style="margin-top: 10px; margin-left: -15px;">Sales Campaign to be Approved </h4></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div ng-if="allsalesunapprove.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "AllSalesCampaignAppr.length == 0 "><ion-spinner icon="android" ng-if= "AllSalesCampaignAppr.length == 0 " ></ion-spinner></p>
					<div class="list">
						<label class="item item-input" ui-sref="snd.campaignApprdetails" ng-click="getCampaignApprDetails($index,campaign.projectSalesCampaignId)" ng-repeat="campaign in AllSalesCampaignAppr" style="border-top:none;">
							<b>{{campaign.activity}}</b>
						</label>
					</div>
			</div>
			<div ng-if="allsalesunapprove.length == 0" >
				<h4 style="text-align:center;" >No Campaign Found..</h4>
			</div>
		</ion-content>
	</ion-view>
</script>

<script id="snd-campaignApprdetails.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;View Sales Campaign
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="SndSalesCampaignCtrl">
			<div class="row">
				<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greennotification.png"/></p>
				<div class="col"><h3>{{SalesCampaignApprDetails[0].activity}}</h3></div>
			</div>
			<div class="list">
				<label class="item item-input">
					<img class="image-icon" src="img/builder/calender6.png"/><div class="col"> From&nbsp;&nbsp;<b>{{SalesCampaignApprDetails[0].fromDate | date:'dd/MM/yyyy'}}</b></div>
					<img class="image-icon" src="img/builder/calender10.png"/><div class="col"> To&nbsp;&nbsp;<b>{{SalesCampaignApprDetails[0].toDate | date:'dd/MM/yyyy'}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/horn-light-grey.png"/>
					<div class="col overflow">Activity</div>
					<div class="col overflow"><b>{{SalesCampaignApprDetails[0].activity}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/squrerupee.png"/>
					<div class="col overflow">Budget</div>
					<div class="col overflow"><b>&#8377; {{SalesCampaignApprDetails[0].budget | number}}</b></div>
				</label>
				<!--label class="item item-input">
					<img class="image-icon" src="img/builder/location.png"/><div class="col overflow"> City&nbsp;&nbsp;<b>Bangalore</b></div>
					<img class="image-icon" src="img/builder/location.png"/><div class="col overflow"> Location&nbsp;&nbsp;<b>Hsr Layout</b></div>
				</label-->
				<!--label class="item item-input">
					<img class="image-icon" src="img/builder/circlecheck.png"/>
					<div class="col overflow">Approved By</div>
					<div class="col overflow"><b>{{SalesCampaignApprDetails[0].ApprovedByName}}</b></div>
				</label-->
				<label class="item item-input">
					<img class="image-icon" src="img/builder/building-block.png"/>
					<div class="col overflow">Project Name</div>
					<div class="col overflow"><b>{{SalesCampaignApprDetails[0].ProjectName}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/location.png"/>
					<div class="col overflow">Campaign Location</div>
					<div class="col overflow"><b>{{SalesCampaignApprDetails[0].campaignLocation}}</b></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/remarkicon.png"/>
					<div class="col overflow">Remarks</div>
					<div class="col overflow"><b>{{SalesCampaignApprDetails[0].remarks}}</b></div>
				</label>
				<div class="item item-divider"></div>
				<div class="row">
					<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/blueflag.png"/></p>
					<div class="col overflow"><h3>Promotional Requirements</h3></div>
				</div>
				<label class="item item-input">
					<img style="height:25px;" src="img/builder/arrow.png"/>
					<div class="col overflow"><b>{{SalesCampaignApprDetails[0].promotionalMaterialRequired}}</b></div>
				</label>
				<div style="padding-top:0px;padding-bottom:0px;" ui-sref="snd.attendance" ng-click="getAllUserToBeAttend(SalesCampaignApprDetails[0].projectSalesCampaignId)" class="item item-input">
					<div style="padding-top:0px;padding-bottom:0px;padding-left:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/owner.png"/><h2>To Be Attended By</h2></div>
					<div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
				</div>
				<div class="item item-toggle" ng-hide="manager_approve_toggle">
					Approve
					<label class="toggle toggle-balanced">
						<input type="checkbox" ng-model="check" ng-click="Manager_Approve_button(check, SalesCampaignApprDetails[0].projectSalesCampaignId)">
						<div class="track"  >
							<div class="handle"></div>
						</div>
					</label>
				</div>
			</div>

		</ion-content>
	</ion-view>
</script>

<script id="snd-tobeattendance.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;View All Attendance
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" ng-controller="SndSalesCampaignCtrl">
			<div class="row">
				<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greenhome.png"/></p>
				<div class="col"><h3>All Attendance</h3></div>
			</div>
			<ul class="list">
				<li class="item" ng-repeat="attendby in ApprAttendance">
					<b>{{attendby.consumerName}}</b>
				</li>
			</ul>
		</ion-content>
	</ion-view>
</script>



<script id="snd-AddCampaign.html" type="text/ng-template">
	<ion-view title="" ng-controller="SndSalesCampaignCtrl">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Add Sales Campaign
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content has-header="true" >
			<div class="row">
				<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/pinkspeakerplus.png"/></p>
				<div class="col col-75"><h3 class="dotdata" style="margin-top: 10px; margin-left: -15px;">Add Sales Campaign</h3></div>
			</div><hr class="pull-right" style="margin-top: -10px; width: 96%;"/>
			<div class="list">
				<div class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/calender6.png"/>
					<div class="col">
						<input  type="text" onfocus="(this.type='date')" name="from_date" id="date1" placeholder="From" ng-init="$parent.data.from_date = ''" ng-model="$parent.data.from_date"  min="{{todayDate |date:'yyyy-MM-dd'}}">
					</div>
					<img class="image-icon" src="img/builder/calender10.png"/>
					<div class="col">
                                            
                                            <input  type="text" onfocus="(this.type='date')" placeholder="To"   ng-init="$parent.data.to_date = ''" ng-model="$parent.data.to_date" class="textbox-n" id="date2" min="{{todayDate |date:'yyyy-MM-dd'}}">
					</div>
				</div>

				<label class="item item-input">
					<img class="image-icon" src="img/builder/horn-light-grey.png"/>
					<div class="col overflow">
						<input type="text"  ng-init="$parent.data.activity = ''" ng-model="$parent.data.activity" placeholder="Activity"/>
					</div>

				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/squrerupee.png"/>
					<div class="col overflow">
						<input type="number"  ng-init="$parent.data.budget = ''"  ng-model="$parent.data.budget" placeholder="Budget"/>
					</div>

				</label>
				<!--label class="item item-input ">
					<img class="image-icon" src="img/builder/map-location.png"/>
					<div class="col overflow item-select">
						<input type="text" ng-model="data.city" placeholder="City"/>
					</div>
					<img class="image-icon" src="img/builder/map-location.png"/>
					<div class="col overflow item-select">
						<input type="text" ng-model="data.location" placeholder="Location"/>
					</div>
				</label-->

				<label class="item item-input item-select" ng-click="campprojectname()">
					<img class="image-icon" src="img/builder/building-block.png"/>
					<div class="col" ng-if='salecamprojectName == undefined '>Project Name</div>
					<div class="col" ng-if='salecamprojectName != ""'>
						{{salecamprojectName}}
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/map-location.png"/>
					<div class="col overflow">
						<input type="text" ng-init="$parent.data.cam_loc = ''" ng-model="$parent.data.cam_loc" placeholder="Campaign Location"/>
					</div>

				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/flag_grey.png"/>
					<div class="col overflow">
						<input type="text" ng-init="$parent.data.promotional_materials = ''"  ng-model="$parent.data.promotional_materials" placeholder="Promotional Materials"/>
					</div>

				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/remarkicon.png"/>
					<div class="col overflow">
						<input type="text"  ng-init="$parent.data.remark = ''" ng-model="$parent.data.remark" placeholder="Remark"/>
					</div>

				</label>

			</div>
		</ion-content>
		<ion-footer-bar align-title="left" style="background-color:#3B5999;">
			<div class="button-bar button-clear">
				<a class="button button-clear" style="background-color:#3B5999; color:#fff;" ng-click="add_sales_compaign(data)">Submit</a>
			</div>
		</ion-footer-bar>
	</ion-view>
</script>
