<ion-view title=''>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	<ion-content has-header="true" ng-controller="SndHomePageController">
		<!-- <h3>Project Sales Manager Section's home</h3>
		<a class="button button-fullwidth" nav-clear ui-sref="root">Back to the Root</a> -->

		<div ng-hide="editorEnabled">
			<img class="full-image"  style="height:220px;" ng-if="ManagerProfileDetails.BuilderUserTimelineImage != '' " src="{{SMeditTl}}" ng-src='{{image_url}}{{ManagerProfileDetails.BuilderUserTimelineImage}}'/>
			<img class="full-image"   style="height:220px;" ng-if="ManagerProfileDetails.BuilderUserTimelineImage == '' " src="{{SMeditTl}}" ng-src='img/no_image.png'/>
		</div>
		<div ng-show="editorEnabled">
			<img ng-click="smedittimeline()" class="full-image" style="height:220px;" ng-if="ManagerProfileDetails.BuilderUserTimelineImage != ''" src="{{SMeditTl}}" id="SMTimeLine" ng-src="{{image_url}}{{ManagerProfileDetails.BuilderUserTimelineImage}}">
			<img  ng-click="smedittimeline()" class="full-image" style="height:220px;" ng-if="ManagerProfileDetails.BuilderUserTimelineImage == ''" src="{{SMeditTl}}" id="SMTimeLine" ng-src="img/no_image.png">
		</div>
		<div style="text-align:center;" class="row">
			<div class="col">
				<div ng-hide="editorEnabled">
					<img class="team-profile"  ng-if="ManagerProfileDetails.BuilderUserProfileImage != '' " src="{{SMeditPro}}"  ng-src='{{image_url}}{{ManagerProfileDetails.BuilderUserProfileImage}}' />
					<img class="team-profile"  ng-if="ManagerProfileDetails.BuilderUserProfileImage == '' " src="{{SMeditPro}}"  ng-src='img/no_image.png'/>
				</div>
				<div  ng-show="editorEnabled">
					<p style="text-align:center;" ><img class="image-icon" src="img/builder/camera.png" style="position: relative;left: 55px; bottom: 70px;" /></p>
					<img class="team-profile" style="margin-top: -194px; !important;" ng-click="smProfileImg()" ng-if="ManagerProfileDetails.BuilderUserProfileImage != '' " src="{{SMeditPro}}" id="SMEditPro" ng-src='{{image_url}}{{ManagerProfileDetails.BuilderUserProfileImage}}' />
					<img class="team-profile" style="margin-top: -194px; !important;" ng-click="smProfileImg()" ng-if="ManagerProfileDetails.BuilderUserProfileImage == '' " src="{{SMeditPro}}" id="SMEditPro" ng-src='img/no_image.png'/>
				</div>
				</br><h4><span ng-hide="editorEnabled" >{{ManagerProfileDetails.OwnerName}}</span><span ng-show="editorEnabled"><input type="text" ng-model="ManagerProfileDetails.OwnerName" class="overflow" style="text-align: center;display: inline-block;font-size: 1em;" ></span></h4>
				<span><img style="width:10px;" src="img/builder/blocation.png"/></span>&nbsp;&nbsp;<span style="color:#737373;" ng-hide="editorEnabled" ng-if="editCityName == undefined">{{ManagerProfileDetails.CityName}}</span><span style="color:#737373;" ng-hide="editorEnabled" ng-if="editCityName != undefined">{{editCityName}}</span>
				<div class="item item-select city" ng-click="editCityList()" ng-show="editorEnabled" style="border: none; display: inline;padding: 5px 10px; ">
					<span style="color:#737373;" ng-if="editCityName == undefined">{{ManagerProfileDetails.CityName}}
					</span>
					<span style="color:#737373;" ng-if="editCityName != undefined">{{editCityName}}
					</span>
				</div>
                                </br>
                               
			</div>
		</div>
                                                          
		<div class="row" ng-hide="editorEnabled">
			<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			<button  class="button button-clear pull-right" ng-click="salesManagerProfileEdit()" ><img style="margin-top:15px;width:25px" src="img/builder/edit.png"/></button>
		</div><hr ng-hide="editorEnabled" class="pull-right" style="margin-top: -5px; width: 96%;"/>
		<div class="row" ng-show="editorEnabled">
			<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;"  src="img/builder/pen.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			<button class="button button-clear pull-right" ng-click="saveManagerProfileEdit()" ><img style="margin-top:15px;width:25px" src="img/builder/save_icon64.png"/></button>
		</div><hr  ng-show="editorEnabled" class="pull-right" style="margin-top: -5px; width: 96%;"/>
               
		<div class="list">
                        
             <!--<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/direction.png"/>
				<div class="input-label col col-50">
                                    
					Track Me
				</div>
                                <div class="input-label col col-50" style="margin-left: 52px;">
                                    
					<md-toggle ng-model="geotrack.checked" 
                                           ng-change="geotrackStatus(); ">        
                                        </md-toggle>
				</div>
			</label>-->
			
			<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;" >
				<img class="image-icon" src="img/builder/direction.png"/>
				<div class="input-label col col-50">
                                    
					Track Me Always
				</div>
				
                 <div class="input-label col col-122" style="margin-left: 52px;">
                               
					<md-toggle ng-model="geotrack.checked" ng-change="geotrackStatus();">        
                    </md-toggle>
				</div>
				
			</label>
			
			<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;" ng-show="trackingss">
					<img class="image-icon" src="img/builder/direction.png"/>
					<div class="input-label col col-50">
										
						Share My Location
					</div>
					 <div class="input-label col col-122" style="">
							
						  <button class="button button-small button-balanced pull-right" ng-click="sharemylocation()">
							   Share
						  </button>
						
					</div>
			</label>
			<label class="item item-input" style="padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/mobile.png"/>
				<div class="input-label">
					{{ManagerProfileDetails.MobileNo}}
				</div>
			</label>
			<label class="item item-input" style="height:50px;">
				<img class="image-icon" src="img/builder/msg.png"/>
				<div class="input-label" ng-hide="editorEnabled">
					{{ManagerProfileDetails.OwnerEmail}}
				</div>
				<div class="col" ng-show="editorEnabled">
					<input type="text" ng-model="ManagerProfileDetails.OwnerEmail" name="email" ng-show="editorEnabled">
				</div>
				</label>
                        
                        
                        
				
			
			<div class="item item-input" ng-hide="editorEnabled">
				<img class="image-icon" src="img/builder/card.png"/>
				<div class="col ">Identity Proof</div>
				<div class="col" ><button class="button button-small button-small button-calm pull-right" ui-sref="snd.idproof">View</button></div>
			</div>
			<div class="item item-divider"></div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/choose_unit.png"/><div class="col overflow">Chosen Units</div>
				<div class="col"><button class="button button-small button-calm pull-right" ui-sref="snd.bookingInterest">View</button></div>
			</div>
			
			<div class="item item-input">
				<img class="image-icon" src="img/builder/purpleshare.png"/><div class="col col-50 overflow">Enquiry Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right"  data="2" ng-click="followuptype($event)" ui-sref="snd.FollowUpProject">View</button></div>
			</div>

			<div class="item item-input">
				<img class="image-icon" src="img/builder/greenrunman.png"/><div class="col col-50 overflow">Site Visit Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="3" ng-click="followuptype($event)" ui-sref="snd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/orangebooking.png"/><div class="col col-50 overflow">Booking Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right"  data="4" ng-click="followuptype($event)" ui-sref="snd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/brownhandshek.png"/><div class="col col-50 overflow">Sale Agreement Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right"  data="5" ng-click="followuptype($event)" ui-sref="snd.FollowUpProject">View</button></div>
			</div>
			<!--div class="item item-input">
				<img class="image-icon" src="img/builder/pinkhand.png"/><div class="col col-50 overflow">Collection Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right"  ui-sref="snd.CollectionFollowUpProject">View</button></div>
			</div-->
			<div class="item item-input">
				<img class="image-icon" src="img/builder/redhome.png"/><div class="col col-50 overflow">Bank Loan Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="6" ng-click="followuptype($event)" ui-sref="snd.FollowUpProject">View</button></div>
			</div>
			
			<div class="item item-input">
				<img class="image-icon" src="img/builder/brownxxx.png"/><div class="col col-50 overflow">Registration Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="8" ng-click="followuptype($event)" ui-sref="snd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/purplehandover.png"/><div class="col col-50 overflow">Handover Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="7" ng-click="followuptype($event)" ui-sref="snd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/skyblueflag.png"/><div class="col col-50 overflow">Post Sale Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="9" ng-click="followuptype($event)" ui-sref="snd.FollowUpProject">View</button></div>
			</div>
			
		</div>
	</ion-content>
	<!-- <div class="tabs tabs-icon-only">
        <a nav-clear class="tab-item disable-user-behavior active" title="Home" nav-clear ui-sref="snd.home">
          <i class="icon ion-home"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Chat" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="snd.chat">
          <i class="icon ion-chatbubbles"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Drink" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="snd.drink">
          <i class="icon ion-wineglass"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div> -->
</ion-view>

<script  id="snd-bookingInterest.html" type="text/ng-template">
	<ion-view title="" ng-controller="SndHomePageController">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Chosen Units
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
			<div class="col"><h4>Select Project to continue</h4></div>
		</div>
		<ion-content has-header="true" ng-controller="SndHomePageController">
			<div ng-if="sndsalesproject.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "SALESpsmchosenunits.length == 0 "><ion-spinner icon="android" ng-if= "SALESpsmchosenunits.length == 0 " ></ion-spinner></p>
				<div class="list" style="margin-top: 40px;">
					<a ng-click="selected_Interestproject(sales.project_id)"  class="item item-thumbnail-left" ng-repeat="sales in SALESpsmchosenunits">
						<img class="project-continue" ng-if="sales.main_image != ''" ng-src="{{image_url}}{{sales.main_image}}">
						<img class="project-continue" ng-if="sales.main_image == ''" ng-src="img/no_image.png">
						</br>
						<h2 style="margin-top:10px;">{{sales.name}}</h2>
					</a>
				</div>
			</div>
			<div ng-if="sndsalesproject.length == 0" style="margin-top: 50px;">
				<h4 style="text-align:center;" >No Projects Found..</h4>
			</div>
		</ion-content>
	</ion-view>
</script>
<script id="snd-bookingInterestCustomer.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customers
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
			<div class="col"><h3>Customers List</h3></div>
		</div>

		<ion-content ng-controller="SndHomePageController">
			<div ng-if="allBookingCustomerData.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "SMAllBookingInterestDetail.length == 0 "><ion-spinner icon="android" ng-if= "SMAllBookingInterestDetail.length == 0 " ></ion-spinner></p>
				<ul class="list" style="margin-top: 40px;">
					<li class="item item-avatar item-thumbnail-left" ng-repeat="customer in SMAllBookingInterestDetail"  ng-click="selectedInterestCustomerDetails($index)">
						<img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage != ''" src="{{image_url}}{{customer.consumerProfileImage}}">
						<img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage == ''" src="img/no_image.png"></br>
						<h2 style="float:left; margin-top: 15px;" >{{customer.consumerName}}</h2>
					</li>
				</ul>
			</div>
			<div ng-if="allBookingCustomerData.length == 0" style="margin-top: 50px;"><h4 Style="text-align:center;">No Customer Found..</h4></div>
		</ion-content>
	</ion-view>
</script>


<script id="snd-consumersBookingInterestdetails.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customer Details
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content  ng-controller="SndHomePageController">
			<img class="full-image" style="height:220px;" ng-if="selectedInterestCustDetails.consumerTimelineImage != ''" ng-src="{{image_url}}{{selectedInterestCustDetails.consumerTimelineImage}}">
			<img class="full-image" style="height:220px;"ng-if="selectedInterestCustDetails.consumerTimelineImage == ''" ng-src="img/no_image.png">
			<div style="text-align:center;" class="row">
				<div class="col"><img class="team-profile" ng-if="selectedInterestCustDetails.consumerProfileImage != ''" ng-src="{{image_url}}{{selectedInterestCustDetails.consumerProfileImage}}"/><img class="team-profile"  ng-if="selectedInterestCustDetails.consumerProfileImage == ''" ng-src="img/no_image.png" /></br><h4>{{selectedInterestCustDetails.consumerName}}</h4>
					<!--img style="width:10px;" src="img/builder/blocation.png"/>&nbsp;Bangalore-->
				</div>
			</div>
			<div class="row">
				<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;"  src="img/builder/pen.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="list">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/mobile.png"/>
					<div class="input-label">
						{{selectedInterestCustDetails.consumerMobile}}
					</div>
				</label>
				<label class="item item-input" style="height:50px;">
					<img class="image-icon" src="img/builder/msg.png"/>
					<div class="input-label">
						{{selectedInterestCustDetails.consumerEmail}}
					</div>
				</label>
				<div class="item item-divider"></div>
				<div class="row" >
					<p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:5px;"  src="img/builder/purplefourcircle.png"/></p>
					<div class="col "><h3 style="margin-top: 15px; margin-left: -7px;">Unit Details</h3></div>
				</div><hr  class="pull-right" style="margin-top: -5px; width: 96%;"/>
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/twobuild.png"/>
					<div class="col col-50">Block</div>
					<div class="input-label">
						<b>{{selectedInterestCustDetails.block_name }}</b>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/fourblock.png"/>
					<div class="col col-50">Floor</div>
					<div class="input-label">
						<b>{{selectedInterestCustDetails.floorName }}</b>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/fourcircle.png"/>
					<div class="col col-50">Unit</div>
					<div class="input-label">
						<b>{{selectedInterestCustDetails.unitName }}</b>
					</div>
				</label>
			</div>
		</ion-content>

	</ion-view>
</script>


<script  id="snd-FollowUpProject.html" type="text/ng-template">
	<ion-view title="" ng-controller="SndHomePageController">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;{{navbartitle}}
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
			<div class="col"><h4>Select Project to continue</h4></div>
		</div>
		<ion-content has-header="true" ng-controller="SndHomePageController">
			<div ng-if="sndleadproject.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "SMAllFollowUpProject.length == 0 "><ion-spinner icon="android" ng-if= "SMAllFollowUpProject.length == 0 " ></ion-spinner></p>
				<div class="list" style="margin-top: 40px;">
					
					<a ng-click="selected_smvisitproject(sales.project_id)"  class="item item-thumbnail-left" ng-repeat="sales in SMAllFollowUpProject">						
						<img class="project-continue" ng-if="sales.main_image != ''" ng-src="{{image_url}}{{sales.main_image}}">
						<img class="project-continue" ng-if="sales.main_image == ''" ng-src="img/no_image.png">
						
						</br>
						<h2 style="margin-top:10px;">{{sales.name}} <span class="badge badge-assertive">{{sales.consumercount}}</span></h2>
					</a>					         														
				</div>				
			</div>
			<div ng-if="sndleadproject.length == 0" style="margin-top: 50px;">
				<h4 style="text-align:center;" >No Projects Found..</h4>
			</div>
		</ion-content>
	</ion-view>
</script>

<script id="snd-visitCustomer.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customers
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
			<div class="col"><h4>Select Customer to continue</h4></div>
		</div>

		<ion-content ng-controller="SndHomePageController">
			<div ng-if="SMAllFollowupDetail.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "SMAllFollowupDetail.length == 0 "><ion-spinner icon="android" ng-if= "SMAllFollowupDetail.length == 0 " ></ion-spinner></p>
				<ul class="list" style="margin-top: 40px;">
					<li class="item item-avatar item-thumbnail-left" ng-repeat="customer in SMAllFollowupDetail"  ng-click="selectedcustomerDetails($index)">
						<img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage != ''" src="{{image_url}}{{customer.consumerProfileImage}}">
						<img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage == ''" src="img/no_image.png"></br>
						<h2 style="float:left; margin-top: 15px;" >{{customer.consumerName}}</h2>
					</li>
				</ul>
			</div>
			<div ng-if="SMAllFollowupDetail.length == 0" style="margin-top: 50px;"><h4 Style="text-align:center;">No Customer Found..</h4></div>
		</ion-content>
	</ion-view>
</script>


<script id="snd-consumersfollowupdetails.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customer Follow Up
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content  ng-controller="SndHomePageController">
		<img class="full-image" style="height:220px;" ng-if="selectedCustDetails.consumerTimelineImage != ''" ng-src="{{image_url}}{{selectedCustDetails.consumerTimelineImage}}">
		<img class="full-image" style="height:220px;"ng-if="selectedCustDetails.consumerTimelineImage == ''" ng-src="img/no_image.png">
		<div style="text-align:center;" class="row">
			<div class="col"><img class="team-profile" ng-if="selectedCustDetails.consumerProfileImage != ''" ng-src="{{image_url}}{{selectedCustDetails.consumerProfileImage}}"/><img class="team-profile"  ng-if="selectedCustDetails.consumerProfileImage == ''" ng-src="img/no_image.png" /></br><h4>{{selectedCustDetails.consumerName}}</h4>
				<!--img style="width:10px;" src="img/builder/blocation.png"/>&nbsp;Bangalore-->
			</div>
		</div>
		<div class="row">
			<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;"  src="img/builder/pen.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
		</div><hr  class="pull-right" style="margin-top: -5px; width: 96%;"/>
		<div class="list">
			<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/mobile.png"/>
				<div class="input-label">
					{{selectedCustDetails.mobile}}
				</div>
			</label>
			<label class="item item-input" style="height:50px;">
				<img class="image-icon" src="img/builder/msg.png"/>
				<div class="input-label">
					{{selectedCustDetails.email}}
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/calender.png"/>
				<div class="col col-50">Meeting Date</div>
				<div class="input-label">
					{{selectedCustDetails.FollowUpDate | date:'dd/MM/yyyy'}}
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/remarkicon.png"/>
				<div class="col col-50">Remarks</div>
				<div class="input-label">
					{{selectedCustDetails.Remarks}}
				</div>
			</label>
			<div class="item item-divider"></div>
			<label class="item item-input item-select" ng-click="consumerFollowUpStatus()">
				<img class="image-icon" src="img/builder/rotate.png"/>
				<div class="col" ng-if='MFollowupName == undefined '>Follow Up Status</div>
				<div class="col" ng-if='MFollowupName != ""'>
					{{MFollowupName}}
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/calender6.png"/>
				<div class="col">
					<input  type="text" onfocus="(this.type='date')" name="from_date" id="date1" placeholder="Follow Up Date" ng-init="data.followUpDate = ''" ng-model="data.followUpDate"  min="{{todayDate |date:'yyyy-MM-dd'}}">
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/remarkicon.png"/>
				<div class="col"><input type="text" placeholder="Remarks" ng-init="data.followUpRemarks = ''"  ng-model="data.followUpRemarks"></div>

			</label>

		</div>
		<button class="button button-full button-positive" style="margin-bottom:0px;" ng-click="followUp_Update_button(data,selectedCustDetails.project_follow_up_id)">
			Submit
		</button>
	</ion-content>
<ion-footer-bar align-title="left" style="background-color:#3B5999;">
	
		<div class="button-bar button-clear">
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="tel:{{selectedCustDetails.mobile}}"><img style="width:30px;" src="img/builder/call.png"></a>
			
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="whatsapp://send?text=Hello%20World!"><img style="width:30px;" src="img/builder/whatsapplogo.png"></a>
			
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="sms:{{selectedCustDetails.mobile}}"><img style="width:30px;"  src="img/builder/chat.png"></a>
			
			<a class="button button-clear" style="background-color:#3B5999;" href="mailto:{{selectedCustDetails.email}}" target="_blank"><img style="width:30px;"  src="img/builder/mail.png"></a>
		</div>

	</ion-footer-bar>
</ion-view>
</script>


<script id="snd-idproof.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Identity Proof
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true" ng-controller="SndHomePageController">
			<div class="list card">
				<ion-scroll zooming="true" direction="xy" scrollbar-x="false" scrollbar-y="false">
					<div class="item item-body">
						<img class="full-image" ng-if="ManagerProfileDetails.IdProof != ''" ng-src="{{image_url}}{{ManagerProfileDetails.IdProof}}">
						<img class="full-image" ng-if="ManagerProfileDetails.IdProof == ''"  ng-src="img/no_image.png">
					</div>
				</ion-scroll>
			</div>

		</ion-content>
	</ion-view>
</script>


