<ion-side-menus>
    <ion-side-menu-content ng-controller="NavController">
      <ion-nav-bar class="bar-calm nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view name="snd" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" ng-controller="NavController">
		<ion-header-bar class="bar bar-header bar-calm" style="background-color: #83bfe5; color:#fff;">
		<h1 class="title">Project Sales Manager</h1>
		</ion-header-bar>
		<ion-content ng-controller="LoginCtrl" has-header="true">
        <!-- <ul class="list">
          <a ui-sref="snd.home" nav-clear class="item" ng-click="toggleLeft()">Home</a>
          <a ui-sref="snd.chat" nav-clear class="item" ng-click="toggleLeft()">Chat</a>
          <a ui-sref="snd.drink" nav-clear class="item" ng-click="toggleLeft()">Drink</a>
        </ul> -->
			<div class="list">
				<a class="item menu-close" ui-sref="snd.home" ng-click="toggleLeft()">
					<img class="menu-image" src="img/builder/usericon.png"/><h2>Profile</h2>
				</a>
				<div class="item item-divider"></div>
				<a class="item menu-close" ui-sref="snd.psmteam">
					<img class="menu-image" src="img/builder/salesexe.png"/><h2>View Team</h2>
				</a>
				<a class="item item-icon-right menu-close" ui-sref="snd.projectdetails">
					<img class="menu-image" src="img/builder/circlemenu.png"/><h2>Project Details</h2>
				</a>
				
				<a class="item menu-close" ui-sref="snd.addLead">
					<img class="menu-image" src="img/builder/teamplus.png"/><h2>Add Lead</h2>
				</a>
					<a class="item item-icon-right menu-close" ui-sref="snd.consumersalesrequest">
					<img class="menu-image" src="img/builder/salesexe.png"/><h2 style="overflow:visible;">Customer Queries</h2>
				</a>
				<a class="item menu-close" ui-sref="snd.usersearch">
					<img class="menu-image" src="img/builder/searchdark.png"/><h2>Search Customer</h2>
				</a>
				<div class="item item-divider"></div>
				<a onclick="toggle_report('report');" class="item item-icon-right" >
					<img class="menu-image" src="img/builder/conneted.png"/><h2>Reports</h2>
					<i  class="icon ion-ios-plus-empty" style="display:block; margin-top:0px;  height:11.25px;" id="reportplus"></i>
					<i  class="icon ion-ios-minus-empty" style="display:none; margin-top:0px;  height:11.25px;" id="reportminus"></i>
				</a>
				<div id="report" style="display:none;">
					<a class="item item-icon-right menu-close" ui-sref="snd.projectcontinuesales">
						<!--<img class="menu-image" src="img/builder/conneted.png"/>--><h2 style="margin-left:20%;">Project Sales Report</h2>
					</a>
					<a class="item item-icon-right menu-close" ui-sref="snd.projectcontinuesalesexe">
						<!--<img class="menu-image" src="img/builder/salesexe.png"/>--><h2 style="overflow:visible;margin-left:20%;" >PSE Sales Report</h2>
					</a>
					<a class="item item-icon-right menu-close" ui-sref="snd.bankwisereport">
						<!--<img class="menu-image" src="img/builder/building-u.png"/>--><h2 style="margin-left:20%;">Bankwise Report</h2>
						<!--<i class="icon ion-ios-plus-empty"></i>-->
					</a>
				</div>
			
				<a class="item item-icon-right menu-close" ui-sref="snd.salescampaign">
					<img class="menu-image" src="img/builder/loudspeaker.png"/><h2>Sales Campaign</h2>
				</a>
				<div class="item item-divider"></div>
				<a class="item menu-close" ng-click="sales_logout()">
					<img class="menu-image" src="img/builder/out.png"/><h2>Sign Out</h2>
				</a>
				<div class="item item-input" style="border-bottom:none;">          </div>
			</div>
		</ion-content>
    </ion-side-menu>
</ion-side-menus>
