<style>
.row {
    padding: 1px;
}
.col {
    padding: 0px;
}
</style>
<ion-view title="<span style='margin-left: -210px;'>PSE Sales Resport</span>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
	<div class="row bar bar-subheader">
		<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
		<div class="col"><h4>Select a Project to continue</h4></div>
	</div>
	<ion-content has-header="true">

		<div ng-if="allsalesprojectlist.length != 0">
			<p style="margin-top:45%; margin-left:45%;" ng-if= "AllSalesExeProjects.length == 0 "><ion-spinner icon="android" ng-if= "AllSalesExeProjects.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px;margin-bottom: 40px;">
				<a ng-click="selected_ExeProject(salesExe.project_id)" ui-sref="snd.salesProjectExecutive" class="item item-thumbnail-left" ng-repeat="salesExe in AllSalesExeProjects">
				<img class="project-continue" ng-if="salesExe.main_image != ''" ng-src="{{image_url}}{{salesExe.main_image}}">
				<img class="project-continue" ng-if="salesExe.main_image == ''" ng-src="img/no_image.png">
				</br>
				<h2 style="margin-top:15px;">{{salesExe.name}}</h2>
				</a>
			</div>
		</div>
		<div ng-if="allsalesprojectlist.length == 0" style="margin-top:55px;"><h4 style="text-align:center;">No Project Found..</h4></div>
	</ion-content>
</ion-view>
<script id="snd-salesProjectExecutive.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>PSE Sales Report
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/usergroup.png"/></p>
			<div class="col"><h4 style="margin-top: 6px;">Select PSE to continue</h4></div>
		</div>
		<ion-content has-header="true" ng-controller="SndProjectSalesExeCtrl">
			<div  ng-if="projectexecutivelist.length != 0">
				<p style="margin-top:45%; margin-left:45%;" ng-if= "ProjectExecutives.length == 0 "><ion-spinner icon="android" ng-if= "ProjectExecutives.length == 0 " ></ion-spinner></p>
				<div class="list" style="margin-top: 40px;margin-bottom: 40px;">
					<a class="item item-avatar item-thumbnail-left" ui-sref="snd.ex-report" ng-click="selected_salesProj_Report(executive.builderUserId)" ng-repeat="executive in ProjectExecutives">
						<img   style="border: 3px solid #52CBFF;" ng-if="executive.salesExecutiveImg != ''" ng-src="{{image_url}}{{executive.salesExecutiveImg}}">
						<img style="border: 3px solid #52CBFF;" ng-if="executive.salesExecutiveImg == ''" ng-src="img/no_image.png">
						</br>
						<h2 style="margin-top:15px;">{{executive.salesExecutiveName}}</h2>
					</a>
				</div>
			</div>
			<div ng-if="projectexecutivelist.length == 0"><h3 style="text-align:center;">No Sales Executive Found..</h3></div>
		</ion-content>
	</ion-view>
</script>
<script id="snd-ex-report.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;PSE Sales Report
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
      	<ion-content has-header="true" ng-controller="SndProjectSalesExeCtrl">
			<img class="full-image"  style="height:220px;" ng-if="ExereportProfile[0].timeline_img != '' " ng-src='{{image_url}}{{ExereportProfile[0].timeline_img}}'/>
			<img class="full-image"   style="height:220px;" ng-if="ExereportProfile[0].timeline_img == '' " ng-src='img/no_image.png'/>
			<div style="text-align:center;" class="row">
				<div class="col" >
					<!--<img style="margin-top:20px;width:120px;" src="img/builder/bprofile.png"/>-->
					<img class="team-profile" ng-if="ExereportProfile[0].profile_img != '' " ng-src='{{image_url}}{{ExereportProfile[0].profile_img}}' />
					<img class="team-profile" ng-if="ExereportProfile[0].profile_img == '' " ng-src='img/no_image.png'/>
					</br><h4>{{ExereportProfile[0].UserName}}</h4>
					<p><img style="width:10px;" src="img/builder/blocation.png"/> {{ExereportProfile[0].CityName}}</p>
				</div>
			</div>
			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
				<!--<a class="col"  ng-click="geoLoc(ExereportProfile[0].builder_user_id)"><img class="pull-right" style="width:35px; margin-top:5px;" src="img/builder/locationmap.png"/></a>-->
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="list" style="margin-bottom:50px;">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/mobile.png"/>
					<div class="input-label">
						{{ExereportProfile[0].mobile}}
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/msg.png"/>
				  <div class="input-label">
					 {{ExereportProfile[0].email}}
				  </div>
				</label>
				<div class="item item-divider"></div>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/redshare.png"/>
					<div class="col col-33 overflow">Leads</div>
					<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
					<div class="col "><h2 style="margin-bottom:16px;">{{SalesProjectReport[0]['leads_no'] | number}}</h2><h2>&#8377; {{SalesProjectReport[0]['leads_amount'] | number}}</h2></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/walker.png"/>
					<div class="col col-33 overflow">Project Visit</div>
					<div class="col col-20"><h2>No</h2></div>
					<div class="col "><h2>{{SalesProjectReport[0]['project_visit_no'] | number}}</h2></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/batch.png"/>
					<div class="col col-33 overflow">Bookings</div>
					<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
					<div class="col "><h2 style="margin-bottom:16px;">{{SalesProjectReport[0]['booking_no'] | number}}</h2><h2>&#8377; {{SalesProjectReport[0]['booking_amount'] | number}}</h2></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/hand.png"/>
					<div class="col col-33 overflow">Sale Agreement</div>
					<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
					<div class="col "><h2 style="margin-bottom:16px;">{{SalesProjectReport[0]['sales_agreement_no'] | number}}</h2><h2>&#8377; {{SalesProjectReport[0]['sales_agreement_amount'] | number}}</h2></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/redragister.png"/>
					<div class="col col-33 overflow">Sales Total</div>
					<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
					<div class="col "><h2 style="margin-bottom:16px;">{{SalesProjectReport[0]['sales_total_no'] | number}}</h2><h2>&#8377; {{SalesProjectReport[0]['sales_total_amount'] | number}}</h2></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/redhome.png"/>
					<div class="col col-33 overflow">WL Banks</div>
					<div class="col col-20"><h2>No</h2></div>
					<div class="col"><h2>{{SalesProjectReport[0]['wl_banks_no'] | number}}</h2></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/handloan.png"/>
					<div class="col col-33 overflow">Collections</div>
					<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
					<div class="col"><h2 style="margin-bottom:16px;">{{SalesProjectReport[0]['collections_no'] | number}}</h2><h2>&#8377; {{SalesProjectReport[0]['collections_amount'] | number}}</h2></div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/handcircle.png"/>
					<div class="col col-33 overflow">Final Collection</div>
					<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
					<div class="col "><h2 style="margin-bottom:16px;">{{SalesProjectReport[0]['final_collection_no'] | number}}</h2><h2>&#8377; {{SalesProjectReport[0]['final_collection_amount'] | number}}</h2></div>
				</label>
				<div class="item item-divider white-divider"></div>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/redcard.png"/>
					<div class="col col-33 overflow">Registration</div>
					<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
					<div class="col "><h2 style="margin-bottom:16px;">{{SalesProjectReport[0]['registration_no'] | number}}</h2><h2>&#8377; {{SalesProjectReport[0]['registration_amount'] | number}}</h2></div>
				</label>
				<div class="item item-divider white-divider"></div>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/handloan.png"/>
					<div class="col col-33 overflow">Handover</div>
					<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
					<div class="col "><h2 style="margin-bottom:16px;">{{SalesProjectReport[0]['handover_no'] | number}}</h2><h2>&#8377; {{SalesProjectReport[0]['handover_amount'] | number}}</h2></div>
				</label>
			</div>
		</ion-content>
		<!--ion-footer-bar class="bar bar-subfooter bar-calm" >
			<div class="button-bar button-clear">
				<a  class="button button-clear" ui-sref="thrd.Enquiry">Add Enquiry</a>
			</div>
		</ion-footer-bar-->

		<ion-footer-bar align-title="left" class="" style="height: 56px;" ng-controller="SndProjectDetailsCtrl">
		  <div class="button-bar" style="">
					<a class="button"  href="tel:{{ExereportProfile[0].mobile}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/call.png"></a>
					<a class="button"  href="whatsapp://send?abid=username&text=Hello%2C%20World!"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button"  href="sms:{{ExereportProfile[0].mobile}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button"  href="mailto:{{ExereportProfile[0].email}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/mail.png"></a>
					<a class="button" href="skype:{{ExereportProfile[0].mobile}}?chat"><img class="" style="width:31px; margin-top:5px;margin-left: -8px;" src="img/builder/skype.png"/></a>
					<a class="button"  ng-click="geoLoc(ExereportProfile[0].builder_user_id)"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/maploc.png"/></a>
					
				</div>
		</ion-footer-bar>
	</ion-view>
</script>

<script id="snd-salesTeamLocation.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Location
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content ng-controller="SndteamviewCtrl">
			<div id="map_div" data-tap-disabled="true"></div>
		</ion-content>

	</ion-view>

</script>

