 <ion-view title="" ng-controller="ExeEnquiryCtrl">

     <ion-nav-bar class="bar-calm">
         <ion-nav-back-button class="button-clear">
             <i class="icon ion-ios-arrow-back"></i>&nbsp;Enquiry
         </ion-nav-back-button>
     </ion-nav-bar>
     <ion-nav-buttons side="right">
         <span style="margin-top:8px; color:black;font-size:10px;"></span>
         &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
         <img style="height:32px;" src=""/>
     </button>
     </ion-nav-buttons>
      <ion-content >
          <div class="row">
              <p style="margin:17px 10px 10px;"><img style="width: 30px;margin-right: 12px;margin-top: 5px;" src="img/builder/pen.png"/></p>
              <div class="col "><h3 style="margin-top: 10px; margin-left: -15px;">Enquiry Details</h3></div>
          </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
          <form name="enquiryForm"  novalidate>
          <div class="list">
              <label class="item item-input item-select" ng-click="ExeEnquiryProList()" style="border-top:none; padding: 6px 0 10px 16px;">
                  <img class="image-icon" src="img/builder/building-block.png"/>
                  <div class="col col-50 overflow">Project Name</div>
                  <div class="col  overflow">{{EProjectName}}</div>

              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/owner.png"/>
                  <input type="text"  ng-init="$parent.data.ename ='' " ng-model="$parent.data.ename" placeholder="Name">
              </label>

              <label class="item item-input">
                  <img class="image-icon" src="img/builder/msg.png"/>
                  <input type="email" ng-init="$parent.data.eemail ='' " ng-model="$parent.data.eemail" placeholder="Email Id" name="email" >
              </label>
              <span ng-show="enquiryForm.email.$invalid && !enquiryForm.email.$pristine" style="margin-left:50px;color:red;" class="help-block">Enter a valid email.</span>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/mobile.png"/>
                  <input type="tel" ng-init="$parent.data.econtact ='' " ng-model="$parent.data.econtact" placeholder="Phone No" name="mob" ng-required="true" ng-minlength="10" ng-maxlength="10">
              </label>
              <span ng-show="enquiryForm.mob.$error.minlength" style="margin-left:50px;color:red;" >Mobile Number is not valid</span>
              <span ng-show="enquiryForm.mob.$error.maxlength"  style="margin-left:50px;color:red;">Mobile Number is not valid</span>
              <!--label class="item item-input">
                  <img class="image-icon" src="img/builder/calender.png"/>
                  <input type="date"  id="startingDate"  value="{{ data.startingDate | date: 'yyyy-MM-dd' }}" name="startingDate" ng-model="data.startingDate " date-parser="dd.MM.yyyy" />
              </label-->
              <label class="item item-input item-select" ng-click="ExeSourceList()">
                  <img class="image-icon" src="img/builder/search.png"/>
                  <div class="col col-50 overflow">Source Of Enquiry</div>
                  <div class="col  overflow">{{ESourceName}}</div>

              </label>

          </div>

         <!-- <div id="button-container">
              <button class="button button-calm" ng-click="project_enquiry(data)" style="border-radius:5px;">Submit</button>
          </div>-->
          </form>

      </ion-content>
     <ion-footer-bar align-title="left" style="background-color:#3B5999;">
         <div class="button-bar button-clear">
             <a class="button button-clear" style="background-color:#3B5999; color:#fff;" ng-click="project_enquiry(data)">Submit</a>
         </div>
     </ion-footer-bar>

    </ion-view>