<ion-side-menus>
	<ion-side-menu-content ng-controller="NavController">

	<ion-nav-bar class="bar-calm nav-title-slide-ios7">
	  <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-view name="thrd" animation="slide-left-right"></ion-nav-view>

	</ion-side-menu-content>
	<ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-calm" style="background-color: #83bfe5; color:#ffffff;">
          <h1 class="title" style="color:#ffffff;">Project Sales Executive</h1>
        </ion-header-bar>
        <ion-content ng-controller="LoginCtrl" overflow-scroll = "true" scrollbar-y = "false">
          <!-- <ul class="list">
            <a ui-sref="thrd.first" class="item" ng-click="toggleLeft()">Single: First</a>
            <a ui-sref="thrd.second" class="item" ng-click="toggleLeft()">Single: Second</a>
          </ul> -->
			<div class="list">
				<a class="item menu-close" ui-sref="thrd.ExeProfile" ng-click="toggleLeft()">
					<img class="menu-image" src="img/builder/usericon.png"/><h2>Profile</h2>
				</a>
				<div class="item item-divider"></div>
				<a class="item menu-close" ui-sref="thrd.pscteam">
					<img class="menu-image" src="img/builder/salesexe.png"/><h2>View Team</h2>
				</a>
				<a class="item item-icon-right menu-close" ui-sref="thrd.ExeProjectDetails">
					<img class="menu-image" src="img/builder/circlemenu.png"/><h2>Project Details</h2>
				</a>
				<a class="item menu-close" ui-sref="thrd.addLead">
					<img class="menu-image" src="img/builder/teamplus.png"/><h2>Add Lead</h2>
				</a>
				<a class="item item-icon-right menu-close" ui-sref="thrd.consumersalesrequest">
					<img class="menu-image" src="img/builder/salesexe.png"/><h2 style="overflow:visible;">Customer Queries</h2>
				</a>
				<a class="item menu-close" ui-sref="thrd.usersearch">
					<img class="menu-image" src="img/builder/searchdark.png"/><h2>Search Customer</h2>
				</a>
				<div class="item item-divider"></div>
				<a class="item item-icon-right menu-close" ui-sref="thrd.ExeProjectSalesReport">
					<img class="menu-image" src="img/builder/conneted.png"/><h2>Project Sales Report</h2>
				</a>
					<a class="item item-icon-right menu-close" ui-sref="thrd.bankwisereport">
					<img class="menu-image" src="img/builder/building-u.png"/><h2>Bankwise Report</h2>
					<!--<i class="icon ion-ios-plus-empty"></i>-->
				</a>
				<a class="item item-icon-right menu-close" ui-sref="thrd.ExeSalesCampaign">
					<img class="menu-image" src="img/builder/loudspeaker.png"/><h2>Sales Campaign</h2>
				</a>
			
				<div class="item item-divider"></div>
				<a class="item menu-close" ng-click="slaes_exe_logout()">
					<img class="menu-image" src="img/builder/out.png"/><h2>Sign Out</h2>
				</a>
				<div class="item item-input" style="border-bottom:none;">          </div>
			</div>
        </ion-content>
	</ion-side-menu>
</ion-side-menus>
