<style>
    
    .list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.button-bar{
	    padding-left: 48px;
}
.card, .list-inset {
   
    margin: 0px -15px -1px -15px;
  
	}
</style>

<ion-view title="<span style='margin-left: -130px;'>Project Details</span>">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
    </ion-nav-buttons>
		
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>

      <ion-content  ng-controller="ExeProjectDetailsCtrl">

          <div style="text-align:center;" class="row">
              <div class="col"  >
                  <div>
                      <p>
                          <img style="margin-top:10px; width:140px; height:140px; border-radius:100%; border: 5px solid rgba(179, 179, 179, 0.5)" ng-if="Exeprofile[0].builderLogo != ''" ng-src='{{image_url}}{{Exeprofile[0].builderLogo}}' />
                          <img style="margin-top:10px; width:140px; height:140px; border-radius:100%; border: 5px solid rgba(179, 179, 179, 0.5)" ng-if="builderLogo == ''" ng-src='img/no_image.png' />
                      </p>
                  </div>
                  <h4>{{Exeprofile[0].BuilderName}}</h4>
                  <img style=" width:10px;" src="img/builder/blocation.png"/> <span style="margin-top:0px;">{{Exeprofile[0].CityName}}</span>
              </div>
        </div>
          <!--div class="row">
              <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/redcirclemenu.png"/></p>
              <div class="col"><h3>Project Details</h3></div>
              <!--div style="text-align:right;" class="col col-10"><span ng-click="enableEditor()" ><img style="margin-top:5px;width:25px" src="img/builder/edit.png"/></span></div-->
          <!--/div-->
          <div class="row">
              <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/redcirclemenu.png"/></p>
              <div class="col "><h3 style="margin-top: 10px; margin-left: -15px;">Project Details</h3></div>
          </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
          <div class="list">
              <label class="item item-input item-select" ng-click="ExeProjList()" style="border-top:none; padding: 6px 0 10px 16px;">
                  <img class="image-icon" src="img/builder/building-block.png"/>
                  <div class="col" ng-if='exeProject == undefined '>Project Name</div>
                  <div class="col" ng-if='exeProject != ""'>
                     {{exeProject}}
                  </div>
              </label>
              <div ng-show="exeprojdetailshow">
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/calender.png"/>
                  <div class="col  overflow">Launch Date</div>
                  <div class="col overflow" >
                      <b>{{GetSmallDetails[0].LaunchDate | date:"dd/MM/yyyy"}}</b>
                  </div>
              </label>
			    <label class="item item-input">
                  <img class="image-icon" src="img/builder/calender10.png"/>
                  <div class="col overflow">Possession Date</div>
                  <div class="col overflow" >
                      <b>{{GetSmallDetails[0].PossessionDate | date:"dd/MM/yyyy"}}</b>
                  </div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/area.png"/>
                  <div class="col  overflow">Total Land Area</div>
                  <div class="col overflow" >
                      <b>{{GetSmallDetails[0].total_land_area}}&nbsp;</b><!--{{GetSmallDetails[0].DevSize}}-->
                  </div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/fourcircle.png"/>
                  <div class="col overflow">Total Units </div>
                  <div class="col overflow" >
                      <b>{{GetSmallDetails[0].TotalUnits | number}}</b>
                  </div>
              </label>
			  <label class="item item-input">
                  <img class="image-icon" src="img/builder/fourcircle.png"/>
                  <div class="col overflow">Units Sold</div>
                  <div class="col  overflow" >
                      <b>{{GetSmallDetails[0].UnitsSold | number}}</b>
                  </div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/flowergray.png"/>
                  <div class="col overflow">Units Available</div>
                  <div class="col  overflow" >
                      <b>{{GetSmallDetails[0].UnitsForSale | number}}</b>
                  </div>
              </label>
               <!--<label class="item item-input" ng-repeat="bhk in ExeGetUnitTypeDetails" >
                  <img class="image-icon" src="img/builder/building-block.png" />
                  <div class="col overflow">{{bhk.UnitName}} Units</div>
                  <div class="col overflow" >
                      <b>{{bhk.UnitCount}}</b>
                  </div>
              </label>-->

              <div  class="item item-input" ui-sref="thrd.approved">
                  <div style="padding:0px;" class="col col-75"><img style="float:left;" class="image-icon" src="img/builder/uhome.png" /><h2>Project Approved Banks</h2></div>
                  <div class="col button-right"><a class="button icon-right ion-chevron-right button-clear button-dark"></a></div>
              </div>
              <div class="item item-divider"></div>
              <div class="item item-input">
                  <img class="image-icon" src="img/builder/campassgray.png"/><div class="col col-50 overflow">Master Plan</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ng-click="exemaster_plan()">View</button></div>
              </div>
              <div class="item item-input">
                  <img class="image-icon" src="img/builder/fourblock.png"/><div class="col col-50 overflow">Floor Plan</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.unitfloorplan" >View</button></div>
              </div>
              <div class="item item-input">
                  <img class="image-icon" src="img/builder/houserupee.png"/><div class="col col-50 overflow">Unit Plan</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.unitplan">View</button></div>
              </div>
              <!--div class="item item-input">
                  <img class="image-icon" src="img/builder/rupeegray.png"/><div class="col col-50 overflow">Unit Price Plan</div>
                  <div class="col"><button class="button button-small button-calm" ng-click="update_Id_button()">View</button></div>
              </div-->
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/circlecheck.png"/><div class="col col-50 overflow">Availability List</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.SearchUnitAvailability">View</button></div>
              </label>
              <div class="item item-divider"></div>
			  <div class="item item-input">
                  <img class="image-icon" src="img/builder/customergray.png"/><div class="col col-50 overflow">Project Sales Team</div>
                  <div class="col"><button class="button button-small button-calm pull-right"  ui-sref="thrd.salesteam">View</button></div>
              </div>
			  <div class="item item-input">
                  <img class="image-icon" src="img/builder/share.png"/><div class="col col-50 overflow">Project Leads</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ng-click="getleads()" ui-sref="thrd.projectleads">View</button></div>
              </div>
                <div class="item item-input">
                  <img class="image-icon" src="img/builder/grayman.png"/><div class="col col-50 overflow">Project Site Visits</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.SiteVisit">View</button></div>
              </div>
              <div class="item item-input">
                  <img class="image-icon" src="img/builder/bookingbc.png"/><div class="col col-50 overflow">Project Bookings</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.allbooking">View</button></div>
              </div>
			  <!-- <div class="item item-input">
                  <img class="image-icon" src="img/builder/userhomeblue.png"/><div class="col col-50 overflow">Project Customer List</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.customerlist">View</button></div>
              </div>-->
			  
			  <div class="item item-input">
                  <img class="image-icon" src="img/builder/usericon.png"/><div class="col col-50 overflow">Project DSA</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ng-click="getdsabank()" ui-sref="thrd.homeloan">View</button></div>
              </div>
              <!--<div class="item item-input">
                  <img class="image-icon" src="img/builder/handshakegray.png"/><div class="col col-50 overflow">Project Sale Agreement</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.allbookingforagreements">View</button></div>
              </div>
              <div class="item item-input">
                  <img class="image-icon" src="img/builder/rupeegray.png"/><div class="col col-50 overflow">Payment Demand Note</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.customerbydemandnote">View</button></div>
              </div>-->
             		
		<div class="item item-divider"></div>
				<div class="row">
				<p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/buildingchek.png"/></p>
				<div class="col "><h3 style="margin-top: 10px; margin-left: -15px;">Net Receivables From Bank</h3></div>
			 </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			 <label class="item item-input item-select" ng-click="Net_Bank()"  ng-disabled="detailbanksdisable" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/uhome.png"/>
				<div class="col overflow">Choose a Bank</div>
				<div class="col overflow"  >{{pBank}}
				</div>
			</label>
			
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupeearrow.png"/>
				<div class="col col-33 overflow">Loan Login Files</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['loan_login_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['loan_login_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input" >
				<img class="image-icon" src="img/builder/acircle.png"/>
				<div class="col col-33 overflow">Sanctions</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['Sanctions_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['Sanctions_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/rupeeplus.png"/>
				<div class="col col-33 overflow">Disbursal Fresh Files</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['disbursalfreshfiles_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['disbursalfreshfiles_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input" >
				<img class="image-icon" src="img/builder/halfciclw.png"/>
				<div class="col col-33 overflow">Disbursal Part Files</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['disbursalpartfiles_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['disbursalpartfiles_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input" >
				<img class="image-icon" src="img/builder/halfciclw.png"/>
				<div class="col col-33 overflow">Final Disbursal</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['finaldisbursal_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['finaldisbursal_amount'] | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/halfciclw.png"/>
				<div class="col col-33 overflow">Balance</div>
				<div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
				<div class="col"><h2 style="margin-bottom:16px;">{{NetRec[0]['balance_no'] | number}}</h2><h2>&#8377; {{NetRec[0]['balance_amount'] | number}}</h2></div>
			</label>
			
			
			
			
			
			
			
		       <!--<label class="item item-input">
                  <img class="image-icon" src="img/builder/rupeearrow.png"/>
                  <div class="col col-33 overflow">Loan Logins</div>
                  <div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
                  <div class="col"><h2 style="margin-bottom:16px;">{{GetCollections[0].loan_login_no}}</h2><h2>&#8377; {{GetCollections[0].loan_login_amount|number}}</h2></div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/acircle.png"/>
                  <div class="col col-33 overflow">Loan Sanctions</div>
                  <div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
                  <div class="col"><h2 style="margin-bottom:16px;">{{GetCollections[0].Sanctions_no}}</h2><h2>&#8377; {{GetCollections[0].Sanctions_amount|number}}</h2></div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/rupeeplus.png"/>
                  <div class="col col-33 overflow">Disbursal Fresh</div>
                  <div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
                  <div class="col"><h2 style="margin-bottom:16px;">{{GetCollections[0].disbursalfreshfiles_no}}</h2><h2>&#8377; {{GetCollections[0].disbursalfreshfiles_amount|number}}</h2></div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/halfciclw.png"/>
                  <div class="col col-33 overflow">Disbursal Part</div>
                  <div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
                  <div class="col"><h2 style="margin-bottom:16px;">{{GetCollections[0].disbursalpartfiles_no}}</h2><h2>&#8377; {{GetCollections[0].disbursalpartfiles_amount|number}}</h2></div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/rupeefullcircle.png"/>
                  <div class="col col-33 overflow">Final Disbursal</div>
                  <div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
                  <div class="col"><h2 style="margin-bottom:16px;">{{GetCollections[0].finaldisbursal_no}}</h2><h2>&#8377; {{GetCollections[0].finaldisbursal_amount|number}}</h2></div>
              </label>

              <label class="item item-input">
                  <img class="image-icon" src="img/builder/notebunndle.png"/>
                  <div class="col col-33 overflow">Balance</div>
                  <div class="col col-20"><h2 style="margin-bottom:16px;">No</h2><h2>Amt</h2></div>
                  <div class="col"><h2 style="margin-bottom:16px;">{{GetCollections[0].balance_no}}</h2><h2>&#8377; {{GetCollections[0].balance_amount|number}}</h2></div>
              </label>-->
             <!-- <div class="item item-divider"></div>

              <div class="row">
                  <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/userhomeblue.png"/></p>
                  <div class="col "><h3 style="margin-top: 10px; margin-left: -15px;">Project DSA</h3></div>
              </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>

                  <div  >
                      <div class="item item-thumbnail-left" style="border-bottom:none;border-top:none;" >
                          <img style="border-radius:3px;"  ng-src="img/no_image.png"></br>
                          <h2>Project DSA</h2>John
                      </div>

                      <h4 class="padding" style=" border-top:none;"><b>Details</b></h4>
                      <label class="item item-input">
                          <img class="image-icon" ng-src="img/builder/mobile.png"/>+91 900870098
                      </label>
                      <label class="item item-input">
                          <img class="image-icon" src="img/builder/msg.png"/>john@gmail.com
                      </label>
                </div>-->
              <div class="item item-divider"></div>
              <div class="row">
                  <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/reddot.png"/></p>
                  <div class="col "><h3 style="margin-top: 10px; margin-left: -15px;">Project Sales Target</h3></div>
              </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
              <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                  <img class="image-icon" src="img/builder/sevendot.png"/>
                  <div class="col col-33 overflow">Weekly</div>
                  <div class="col col-20"><h2>Amt</h2></div>
                  <div class="col"><h2>&#8377; {{SalesTarget[0].weekly_amount | number}}</h2></div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/circlecut.png"/>
                  <div class="col col-33 overflow">Monthly</div>
                  <div class="col col-20"><h2>Amt</h2></div>
                  <div class="col"><h2>&#8377; {{SalesTarget[0].monthly_amount | number}}</h2></div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/circlecut1.png"/>
                  <div class="col col-33 overflow">Quarterly</div>
                  <div class="col col-20"><h2>Amt</h2></div>
                  <div class="col"><h2>&#8377; {{SalesTarget[0].quarterly_amount | number}}</h2></div>
              </label>
              <div class="item item-divider"></div>
              <div class="row">
                  <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/purpleflag.png"/></p>
                  <div class="col "><h3 style="margin-top: 10px; margin-left: -15px;">My Project Sales Actual</h3></div>
              </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
              <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                  <img class="image-icon" src="img/builder/sevendot.png"/>
                  <div class="col col-33 overflow">Weekly</div>
                  <div class="col col-20"><h2>Amt</h2></div>
                  <div class="col"><h2>&#8377; {{SalesAchieved[0].weekly_amount | number}}</h2></div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/circlecut.png"/>
                  <div class="col col-33 overflow">Monthly</div>
                  <div class="col col-20"><h2>Amt</h2></div>
                  <div class="col"><h2>&#8377; {{SalesAchieved[0].monthly_amount | number}}</h2></div>
              </label>
              <label class="item item-input">
                  <img class="image-icon" src="img/builder/circlecut1.png"/>
                  <div class="col col-33 overflow">Quarterly</div>
                  <div class="col col-20"><h2>Amt</h2></div>
                  <div class="col"><h2>&#8377; {{SalesAchieved[0].quarterly_amount | number}}</h2></div>
              </label>
              <div class="item item-divider"></div>
              <div class="item item-input">
                  <img class="image-icon" src="img/builder/greenrupee.png"/><div class="col col-50 overflow">Incentive Plan</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.incentivePlan">View</button></div>
              </div>
              <div class="item item-input" style="border-bottom:none;">
                  <img class="image-icon" src="img/builder/rupeegreen.png"/><div class="col col-50 overflow">Incentive Earned</div>
                  <div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.incentiveEarn">View</button></div>
              </div>
			<div class="item item-input" style="border-bottom:none;">          </div>
              </div>
          </div>
          <div class="button-bar" ng-show="exeprojdetailshow">
              <!--a class="button button-positive" >Booking Follow Up</a>
              <a class="button button-positive">Site Visit Follow Up</a-->
              <!-- <a class="button button-positive" ui-sref="thrd.Enquiry">Add Enquiry</a>-->
          </div>


      </ion-content>

</ion-view>
<script id="thrd-approved.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Project Approved Banks
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
            <div ng-if="exeapprovebank.length != 0">
                <p style="margin-top:50%; margin-left:45%;" ng-if= "ExeGetApprovedBanks.length == 0 "><ion-spinner icon="android" ng-if= "ExeGetApprovedBanks.length == 0 " ></ion-spinner></p>
                    <ul class="list">
                        <li class="item" ng-repeat="bank in ExeGetApprovedBanks"><img style="float:left;margin-right:20px;width:12%" ng-src="{{image_url}}{{bank.BankLogo}}"/>{{bank.BankName}}</li>
                    </ul>
                </div>
            <div ng-if="exeapprovebank.length == 0"><h3 Style="text-align:center;"> No Bank Found!!!</h3></div>
        </ion-content>
    </ion-view>
</script>

<script id="thrd-homeloan.html" type="text/ng-template">
<ion-view title="">
      <ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;&nbsp;&nbsp;Project DSA
		</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
		<img style="height:32px;" src=""/>
	</button>
	</ion-nav-buttons>
      <ion-content has-header="true" >
		<div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:35px" src="img/builder/usericon.png"/></p>
			<div class="col col-75"><h4>Tap on Bank for DSA Details</h4></div>
		</div>
		
		
          <div ng-controller="ExeProjectDetailsCtrl" ng-if="GetAllProjectDsaList.length != 0"><p style="margin-top:45%; margin-left:45%;" ng-if= "GetAllDsa.length == 0 "><ion-spinner icon="android" ng-if= "GetAllDsa.length == 0 " ></ion-spinner></p>
				
                     <ion-list>
                        <div ng-repeat="dsalist in GetAllProjectDsaList">
                            
                          <ion-item class="item-stable"
                                    ng-click="toggleGroup(dsalist);selected_bankid(dsalist.bank_id)"
                                    ng-class="{active: isGroupShown(dsalist)}">
                              <i class="icon" ng-class="isGroupShown(dsalist) ? 'ion-minus' : 'ion-plus'"></i>
                            &nbsp;
                            {{dsalist.bank_name}}
                          </ion-item>
                          <ion-item class="item-accordion" 
                                    ng-if="GetAllProjectBankDsaList.length != 0" 
                                    ng-show="isGroupShown(dsalist)"  ng-repeat="item in GetAllBankDsa">
                             <div class="card"> 
                              <div class="item item-divider">
							<span class="">Organization : &nbsp;{{item.dsaName}}</span>			
                              </div>
                              <div class="item item-body row">				  				   				  
								<div class="col">Name : &nbsp;{{item.name}}</div>
								
                              </div>
							   <div class="item item-body row">				  				   				  
								<div class="col">Mobile : &nbsp;{{item.mobile}}</div>
								
                              </div>
							    <div class="item item-body row">				  				   				  
								<div class="col">Email : &nbsp;{{item.ofc_email}}</div>
								
                              </div>
							<div class="button-bar button-clear" style="padding: 0px;border-color: #5B6ED8;">
									<a class="button button-clear" style="padding:4px;border-right: 1px solid #E5E5E5;" href="tel:{{dsalist.mobile}}"><img style="width:35px;" src="img/builder/call.png"></a>
									
									<a class="button button-clear" style="padding:4px;border-right: 1px solid #E5E5E5;" href="whatsapp://send?text=Hello%20World!"><img style="width:35px;"  src="img/builder/whatsapplogo.png"></a>
									<a class="button button-clear" style="padding:4px;border-right: 1px solid #E5E5E5;" href="sms:{{dsalist.mobile}}"><img style="width:35px;"  src="img/builder/chat.png"></a>
									<a class="button button-clear" style="padding:4px;border-right: 1px solid #E5E5E5;" href="mailto:{{item.ofc_email}}" target="_blank"><img style="width:35px;"  src="img/builder/mail.png"></a>
								</div>
                             </div>
                          </ion-item>                          
                        </div>
                     </ion-list>
          </div>
		<div ng-controller="ProjectdetailsCtrl" ng-if="GetAllProjectDsaList.length == 0"  style="margin-top:55px;"><h4 style="text-align:center;">No DSA Found..</h4></div>  
	  
	</ion-content>
</ion-view>

</script>

<script id="thrd-salesteam.html" type="text/ng-template">
	<ion-view title="">
	<ion-nav-bar class="bar-calm">
		<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios-arrow-back"></i>&nbsp;Project Sales Team
		</ion-nav-back-button>
	</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:30px" src="img/builder/usergroup.png"/></p>
			<div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">List Of Team Members</h4></div>
		</div>
		
		<ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
		<div ng-if="teamDetail.length != 0 ">
			<p style="margin-top:50%; margin-left:45%;" ng-if= "getAllPscTeam.length == 0 "><ion-spinner icon="android" ng-if= "getAllPscTeam.length == 0 " ></ion-spinner></p>
			<div class="list" style="margin-top: 40px;margin-bottom: 40px;">

				<div class="item item-avatar item-thumbnail-left"   ng-repeat="team in getAllPscTeam">

					<img  style="border:3px solid #29ABE0;" ng-if="team.profile_img != ''" ng-src="{{image_url}}{{team.profile_img}}" >
					<img style="border:3px solid #29ABE0;" ng-if="team.profile_img == ''" ng-src="img/no_image.png">
					<!--<h2 style="margin-top:10px;">{{team.name}}</h2>-->
					<h2 ng-if="team.user_role_id==1">{{team.name}} (Builder)</h2>
					<h2 ng-if="team.user_role_id==2">{{team.name}} (PSM)</h2>
					<h2 ng-if="team.user_role_id==3">{{team.name}} (PSE)</h2>
					<h2 ng-if="team.user_role_id==4">{{team.name}} (PSC)</h2>
					<p>{{team.mobile}}</p>
					<p>{{team.email}}</p>
					<div class="button-bar" style="padding-left: 0px;">
					<a class="button-small"  href="tel:{{team.mobile}}"><img class="" style="width:35px; margin-top:5px;" src="img/builder/call.png"></a>
					<a class="button-small"  href="whatsapp://send?text=Hello%20World!"><img class="" style="width:35px; margin-top:5px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button-small"  href="sms:{{team.mobile}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button-small"  href="mailto:{{team.email}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/mail.png"></a>
					<a class="button-small"  ng-click="geoLoc(team.builder_user_id,team.name)"><img class="" style="width:35px; margin-top:5px;" src="img/builder/maploc.png"/></a>
					
					
					
					</div>
				</div>
			</div>
		</div>
		<div ng-if="teamDetail.length == 0 " style="margin-top:55px;"><h4 style="text-align:center;">No Team Found..</h4> </div>
	</ion-content>
</ion-view>
</script>

<script id="thrd-SiteVisit.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Project Site Visits
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <div class="row bar bar-subheader">
            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
            <div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">Customer for Site Visit</h4></div>
        </div>

        <ion-content  ng-controller="ExeProjectDetailsCtrl">
			
            <div ng-if="sitevisitecustomer[0].length != 0" >
                <p style="margin-top:50%; margin-left:45%;" ng-if= "sitevisitecustomer[0].length == 0 "><ion-spinner icon="android" ng-if= "sitevisitecustomer[0].length == 0 " ></ion-spinner></p>
                <ul class="list" style="margin-top: 40px; margin-bottom: 40px;">
                    <li class="item item-avatar item-thumbnail-left" ng-repeat="customer in sitevisitecustomer[0]">
					
                        <img style="border: 3px solid #52CBFF;top: 29px;" ng-if="customer.profile_image != ''" src="{{image_url}}{{customer.profile_image}}">
                        <img style="border: 3px solid #52CBFF;top: 29px;" ng-if="customer.profile_image == ''" src="img/no_image.png"></br>
						
                        <h2 style="">{{customer.name}}</h2>
						<h2 style="">{{customer.mobile}}</h2>
						<h2 style="">{{customer.email}}</h2>
						<b>Pick Date : {{customer.pick_date | date:"dd/MM/yyyy" }}</b></br>
						<b>Pick Time : {{customer.pick_time}}</b>
						<div class="button-bar" style="padding-left: 0px;">
							<a class="button-small"  href="tel:{{customer.mobile}}"><img class="" style="width:35px; margin-top:5px;" src="img/builder/call.png"></a>
							<a class="button-small"  href="whatsapp://send?text=Hello%20World!"><img class="" style="width:35px; margin-top:5px;" src="img/builder/whatsapplogo.png"/></a>
							<a class="button-small"  href="sms:{{customer.mobile}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/chat.png"></a>
							<!--<a class="button-small" href="skype:{{team.mobile}}?chat"><img class="" style="width:31px; margin-top:5px;" src="img/builder/skype.png"/></a>-->
							
							<a class="button-small"  href="mailto:{{customer.email}}"><img class="" style="width:35px; margin-top:5px;"  src="img/builder/mail.png"></a>
							<a class="button-small"  ng-click="geoLocdd(customer.consumer_id,customer.name)"><img class="" style="width:35px; margin-top:5px;" src="img/builder/maploc.png"/></a>
					
						</div>
                    </li>
                </ul>
            </div>
            <div ng-if="sitevisitecustomer[0].length == 0" style="margin-top:55px;"><h4 Style="text-align:center;">No Customer Site Visit</h4></div>
        </ion-content>
    </ion-view>
</script>

<script id="thrd-projectleads.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i> Project Leads
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
			</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
			<div class="col"><h3>Customers List</h3></div>
		</div>
		<ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
			
			<div ng-if="leadscustomerlist.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "leadscustomerlist.length == 0 "><ion-spinner icon="android" ng-if= "leadscustomerlist.length == 0 " ></ion-spinner></p>
				<div class="list" style="margin-top: 40px; margin-bottom: 40px;">
				<div class="item item-avatar item-thumbnail-left" ng-repeat="customer in leadscustomerlist">
					<img  style="border:3px solid #29ABE0;" ng-if="customer.profile_image != ''" ng-src="{{image_url}}{{customer.profile_image}}">
					<img  style="border:3px solid #29ABE0;" ng-if="customer.profile_image == ''" ng-src="img/no_image.png">
					</br>
					<h2>{{customer.consumerName}}</h2>
					<h2>{{customer.mobile}}</h2>
					<h2>{{customer.email}}</h2>
					<h2>Status : {{customer.consumerProjectStatusName}}</h2>
				</div>
			</div>
			</div>
			<div ng-if="AllCollsCustomersList.length == 0" style="margin-top:55px;"><h4 Style="text-align:center;"> No Customer Found</h4></div>
		</ion-content>
	</ion-view>
</script>


<script id="thrd-customerlist.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Project Customers List
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <div class="row bar bar-subheader">
            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
            <div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">Select Customer to continue</h4></div>
        </div>

        <ion-content  ng-controller="ExeProjectDetailsCtrl">
	
            <div ng-if="execustomer.length != 0" >
                <p style="margin-top:50%; margin-left:45%;" ng-if= "ExeGetCustomer.length == 0 "><ion-spinner icon="android" ng-if= "ExeGetCustomer.length == 0 " ></ion-spinner></p>
                <ul class="list" style="margin-top: 40px; margin-bottom: 40px;">
                    <li class="item item-avatar item-thumbnail-left" ng-click="getdetailscustomer(customer.consumerId)" ng-repeat="customer in ExeGetCustomer">
                        <img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage != ''" src="{{image_url}}{{customer.consumerProfileImage}}">
                        <img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage == ''" src="img/no_image.png"></br>
                        <h2 style="float:left;" >{{customer.consumerName}}</h2>
                    </li>
                </ul>
            </div>
            <div ng-if="execustomer.length == 0" style="margin-top:55px;"><h4 Style="text-align:center;"> No Customer Found</h4></div>
        </ion-content>
    </ion-view>
</script>

<script id="thrd-customerbydemandnote.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Customers
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <div class="row bar bar-subheader">
            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
            <div class="col"><h3>Customers List</h3></div>
        </div>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
            <div ng-if="execustomerdemand.length != 0">
                <p style="margin-top:50%; margin-left:45%;" ng-if= "ExeGetCustomerforDemand.length == 0 "><ion-spinner icon="android" ng-if= "ExeGetCustomerforDemand.length == 0 " ></ion-spinner></p>
                <ul class="list"  style="margin-top: 40px; margin-bottom: 40px;">
                    <a class="item item-avatar item-thumbnail-left" ng-click="getDemandNote(customer.consumerId)"  ng-repeat="customer in ExeGetCustomerforDemand" ionclick="window.open('https://docs.google.com/viewer?url='+this.id,  '_blank','location=no');">
                        <img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage != ''" src="{{image_url}}{{customer.consumerProfileImage}}">
                        <img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage == ''" src="img/no_image.png"></br>
                        <h2 style="float:left;" >{{customer.consumerName}}</h2>
                    </a>
                </ul>
            </div>
            <div ng-if="execustomerdemand.length == 0" style="margin-top:55px;"><h4 Style="text-align:center;"> No Customer Found!!!</h4></div>
        </ion-content>
    </ion-view>
</script>


<script id="thrd-demandnotes.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Demand Notes
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">

                <ion-scroll zooming="true" direction="xy" style=" height: 100%;">
                    <div class="list card">
                        <div class="item item-body">
                            <img class="full-image" ng-if="CustomerDemandNotes != ''" ng-src="{{image_url}}{{CustomerDemandNotes}}"/>
                            <img class="full-image" ng-if="CustomerDemandNotes == ''" ng-src="img/no_image.png"/>
                        </div>
                    </div>
                </ion-scroll>
            </div>

        </ion-content>
    </ion-view>
</script>
<!--masterplan -->

<script id="thrd-masterplan.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Master Plan
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
                <ion-scroll zooming="true" direction="xy" scrollbar-x="false" scrollbar-y="false" style=" height: 100%;">
                    <div class="list card">
                        <div class="item item-body">
                            <img class="full-image" ng-if="exemaster != ''" ng-src="{{image_url}}{{exemaster}}"/>
                            <img class="full-image" ng-if="exemaster == ''" ng-src="img/no_image.png"/>
                        </div>
                    </div>
                </ion-scroll>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="thrd-allbooking.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Project Bookings
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <div class="row bar bar-subheader">
            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
            <div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">Select Customer to continue</h4></div>
        </div>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
            <div ng-if="bookingdata.length != 0">
               <!-- <p style="margin-top:50%; margin-left:45%;" ng-if= "ExeAllBooking.length == 0 "><ion-spinner icon="android" ng-if= "ExeAllBooking.length == 0 " ></ion-spinner></p>
                <div class="list" style="margin-top: 40px; margin-bottom: 40px;">
                    <a class="item item-avatar item-thumbnail-left"   ng-repeat="booking in ExeAllBooking" ng-click="CustomerDetails(booking.bookingId, booking.consumerId)">
                        <img style="border: 3px solid #52CBFF;" ng-if="booking.consumerProfileImage != ''" ng-src="{{image_url}}{{booking.consumerProfileImage}}">
                        <img style="border: 3px solid #52CBFF;" ng-if="booking.consumerProfileImage == ''" src="img/no_image.png"></br>
                        <h2 >{{booking.consumerName}}</h2>
                        <p>Unit Name&nbsp;{{booking.unitName}}</p>
                    </a>
                </div>-->
				
				<p style="margin-top:50%; margin-left:45%;" ng-if= "ExeAllBooking.length == 0 "><ion-spinner icon="android" ng-if= "ExeAllBooking.length == 0 " ></ion-spinner></p>
                <div class="list" style="margin-top: 40px; margin-bottom: 40px;">
                    <a class="item item-avatar item-thumbnail-left"   ng-repeat="booking in ExeAllBooking" ng-click="CustomerDetails(booking.bookingId, booking.consumerId)">
                        <img style="border: 3px solid #52CBFF;top: 28px;" ng-if="booking.consumerProfileImage != ''" ng-src="{{image_url}}{{booking.consumerProfileImage}}">
                        <img style="border: 3px solid #52CBFF;" ng-if="booking.consumerProfileImage == ''" src="img/no_image.png"></br>
                        <h2 ><b>{{booking.consumerName}}</b></h2>
						<p><img class="image-icon" src="img/builder/twobuild.png"> Block :&nbsp;<b>{{booking.blockName}}</b></p>
						 <p ng-if="booking.floorName !=0"><img class="image-icon" src="img/builder/fourblock.png">Floor :&nbsp;<b>{{booking.floorName}}</b></p>
                        <p><img class="image-icon" src="img/builder/houserupee.png"> Unit :&nbsp;<b>{{booking.unitName}}</b></p>
						
						<p>Booked On :&nbsp;{{booking.bookedon | date:'MMM-dd-yyyy' }}</p>
						<p ng-if="booking.is_confirmed == 0" style="color:orange">Pending</p>
						<p ng-if="booking.is_confirmed == 1" style="color:green">Confirmed On : {{booking.confirmedon | date:"dd/MM/yyyy" }}</p>
						<p ng-if="booking.is_confirmed == 2" style="color:red">Rejected On : {{booking.confirmedon | date:"dd/MM/yyyy" }}</p>
                    </a>
                </div>
            </div>
            <div ng-if="bookingdata.length == 0"  style="margin-top:55px;"><h4 Style="text-align:center;"> No Customer Found</h4></div>
        </ion-content>
    </ion-view>
</script>

<script id="thrd-allbookingforagreements.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Sales Agreement
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <div class="row bar bar-subheader">
            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
            <div class="col"><h3>Customers List</h3></div>
        </div>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">

            <div ng-if="bookingdatalist.length != 0">
                <p style="margin-top:50%; margin-left:45%;" ng-if= "ExeAllBooking.length == 0 "><ion-spinner icon="android" ng-if= "ExeAllBooking.length == 0 " ></ion-spinner></p>
                    <ul class="list" style="margin-top: 40px; margin-bottom: 40px;">
                        <a class="item item-avatar item-thumbnail-left"   ng-click="select_agreement(booking.consumerId)" ng-repeat="booking in ExeAllBooking">
                            <img style="border: 3px solid #52CBFF;" ng-if="booking.consumerProfileImage != ''" src="{{image_url}}{{booking.consumerProfileImage}}">
                            <img style="border: 3px solid #52CBFF;" ng-if="booking.consumerProfileImage == ''" src="img/no_image.png"></br>
                            <h2 style="float:left;" >{{booking.consumerName}}</h2>
                        </a>
                    </ul>
					
					

            </div>
            <div ng-if="bookingdatalist.length == 0"  style="margin-top:55px;">
                <h4 style="text-align:center;" >No Customer Found!!!</h4>
            </div>
        </ion-content>
    </ion-view>
</script>



<script id="thrd-agreements.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Project Sale Agreement
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">

                <ion-scroll zooming="true" direction="xy" style=" height: 100%;">
                    <div class="list card">
                        <div class="item item-body">
                            <img class="full-image" ng-if="CustomerAgreement != ''" ng-src="{{image_url}}{{CustomerAgreement}}"/>
                            <img class="full-image" ng-if="CustomerAgreement == ''" ng-src="img/no_image.png"/>
                        </div>
                    </div>
                </ion-scroll>
            </div>

        </ion-content>
    </ion-view>
</script>



<script id="thrd-incentiveEarn.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Incentive Earned
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">

            <div class="row" >
                <p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:5px;" src="img/builder/rupeegreen.png"/></p>
                <div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Incentive Earned</h3></div>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/sevendot.png"/>
                    <div class="col overflow">Weekly</div>
                    <div class="col">&#8377; {{ExeIncentiveEarn.weekly_amount|number }}</div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/circlecut.png"/>
                    <div class="col overflow">Monthly</div>
                    <div class="col">&#8377; {{ExeIncentiveEarn.monthly_amount|number }}</div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/circlecut1.png"/>
                    <div class="col overflow">Quarterly</div>
                    <div class="col">&#8377; {{ExeIncentiveEarn.quarterly_amount|number }}</div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/fullcircle.png"/>
                    <div class="col overflow">Yearly</div>
                    <div class="col">&#8377; {{ExeIncentiveEarn.yearly_amount|number}}</div>
                </label>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="thrd-incentivePlan.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Incentive Plan
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black; font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
            <div class="row" >
                <p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:7px;"  src="img/builder/greenrupee.png"/></p>
                <div class="col "><h3 style="margin-top: 13px; margin-left: -5px;">Incentive Plan</h3></div>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/sevendot.png"/>
                    <div class="col overflow">Weekly</div>
                    <div class="col">&#8377; {{ExeIncentivePlan.weekly_amount|number }}</div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/circlecut.png"/>
                    <div class="col overflow">Monthly</div>
                    <div class="col">&#8377; {{ExeIncentivePlan.monthly_amount|number }}</div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/circlecut1.png"/>
                    <div class="col overflow">Quarterly</div>
                    <div class="col">&#8377; {{ExeIncentivePlan.quarterly_amount|number}}</div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/fullcircle.png"/>
                    <div class="col overflow">Yearly</div>
                    <div class="col">&#8377; {{ExeIncentivePlan.yearly_amount|number }}</div>
                </label>
            </div>

        </ion-content>
    </ion-view>
</script>

<script id="thrd-unitfloorplan.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Floor Plan
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
            <!--div class="row">
                <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/buildingpink.png"/></p>
                <div class="col col-50 item-select" ng-click="ExeSelectFloors()"><h4 ng-if="exefloor == undefined">Unit Floor Plan</h4><h4 ng-if="exefloor != undefined">{{exefloor}}</h4></div>
                <div  class="col"><span ng-click="enableEditor()" ><img class="pull-right" style="width:45px" src="img/builder/teloowcalender.png"/></span></div>
            </div-->
            <div class="item row">
                <div class="col">
                    <label style="border-width:0px;" class="item item-input item-select" ng-click="ExeSelectFloors()">
                        <img class="image-icon" src="img/builder/buildingpink.png"/>
                        <div class="col" ng-if="exefloor == undefined">Select Block & Floor</div>
                        <div class="col" ng-if="exefloor != undefined">{{exefloor}}
                        </div>
                    </label>
                </div>
                <!--div class="col col-20">
                    <img style="width:40px;" src="img/builder/teloowcalender.png"/>
                </div-->
            </div>

                <ion-scroll zooming="true" direction="xy"  scrollbar-x="false" scrollbar-y="false" style=" height: 100%;">
                    <div class="list card" ng-if="exefloor != undefined">
                        <div class="item item-body">
                            <img class="full-image" ng-if="exefloorimg != ''" ng-src="{{image_url}}{{exefloorimg}}"/>
                            <img class="full-image" ng-if="exefloorimg == ''" ng-src="img/no_image.png"/>
                        </div>
                    </div>
                </ion-scroll>
        </ion-content>
    </ion-view>
</script>


<script id="thrd-unitplan.html" type="text/ng-template">
    <ion-view title="" ng-controller="ExeProjectDetailsCtrl">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Unit Plan
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>


        <ion-content  >
            <!--div class="row">
                <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/purplefourcircle.png"/></p>
                <a class="col col-50 item-select" ng-click="ExeSelectUnits()"><h4 ng-if="exeunit == undefined">Unit Plan</h4><h4 ng-if="exeunit != undefined">{{exeunit}}</h4></a>
                <div  class="col"><span ng-click="enableEditor()" ><img class="pull-right" style="width:45px" src="img/builder/teloowcalender.png"/></span></div>
            </div-->
            <div class="item row">
                <div class="col">
                    <label style="border-width:0px;" class="item item-input item-select" ng-click="ExeSelectUnits()">
                        <img class="image-icon" src="img/builder/purplefourcircle.png"/>
                        <div class="col" ng-if="exeunit == undefined">Select Block, Floor, Unit </div>
                        <div class="col" ng-if="exeunit != undefined">{{exeunit}}
                        </div>
                    </label>
                </div>
                <!--div class="col col-20">
                    <img style="width:40px;" src="img/builder/teloowcalender.png"/>
                </div-->
            </div>
            <div ng-if="exeunitimg !=  undefined" style="margin-bottom:44px;">
                <ion-scroll zooming="true" direction="xy" scrollbar-x="false" scrollbar-y="false" >

                        <div class="item item-body">
                            <img class="full-image" ng-if="exeunitimg != ''" ng-src="{{image_url}}{{exeunitimg}}"/>
                            <img class="full-image" ng-if="exeunitimg == ''" ng-src="img/no_image.png"/>
                        </div>

                </ion-scroll>

                <div class="row" >
                    <p style="margin:17px 10px 10px;"><img style="width:25px; margin-top:5px;" src="img/builder/red_home_rupee.png"/></p>
                    <div class="col "><h3 style="margin-top: 18px; margin-left: -9px;">Unit Price Plan</h3></div>
                    <!--a class="col"  ng-click="geoLoc(consumerDetail.builder_user_id)"><img class="pull-right" style="width:45px" src="img/builder/locationmap.png"/></a-->
                </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
                <div class="list">
                    <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                        <img class="image-icon" src="img/builder/area.png"/>
                        <div class="col col-50 overflow">Unit Area</div>
                        <div class="col overflow" >
                            <b>{{exeunitarea}}</b>
                        </div>
                    </label>
                    <label class="item item-input">
                        <img class="image-icon" src="img/builder/fourcircle.png"/>
                        <div class="col col-50 overflow">Unit Type</div>
                        <div class="col  overflow" >
                           <b> {{exeunittype}}</b>
                        </div>
                    </label>
                    <label class="item item-input">
                        <img class="image-icon" src="img/builder/squrerupee.png"/>
                        <div class="col col-50 overflow">Rate/sqft</div>
                        <div class="col overflow" >
                            <b>&#8377; {{exeunitperprice}}</b>
                        </div>
                    </label>
                    <label class="item item-input">
                        <img class="image-icon" src="img/builder/rupee.png" />
                        <div class="col col-50 overflow">Unit Price</div>
                        <div class="col overflow" >
                            <b>&#8377; {{exeunitprice}}</b>
                        </div>
                    </label>

                </div>
          </div>
    </ion-content>
       
        
    </ion-view>
</script>

<script id="thrd-SearchUnitAvailability.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Availability List
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" clear-cache="true" ng-controller="ExeProjectDetailsCtrl">
            <div class="row">
                <p style="margin:17px 10px 10px;"><img class="image-icon" src="img/builder/pinkcirclecheck.png"/></p>
                <div class="col col-75"><h4 style="margin-top: 10px; margin-left: -15px;">Select Block & Floor</h4></div>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input item-select" ng-click="ExeSelectBlocksList()" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/doublebuilding.png"/>
                    <div class="col" ng-if='ExeBlockName == undefined '>Block No</div>
                    <div class="col" ng-if='ExeBlockName != ""'>
                        {{ExeBlockName}}
                    </div>
                </label>
                <label class="item item-input item-select" ng-click="ExeSelectFloorsList()" ng-show="availablefloorlist">
                    <img class="image-icon" src="img/builder/floorelight.png"/>
                    <div class="col" ng-if='ExeFloorName == undefined'>Floor No</div>
                    <div class="col" ng-if='ExeFloorName != ""'>
                        {{ExeFloorName}}
                    </div>
                </label>
                <label class="item item-input" style="border-bottom:none;" ng-show="availableUnitsShow">
                    <img class="image-icon" src="img/builder/fourcircle.png"/>
                    <div class="col">Available Units</div>

                </label>

                    <div class="CSSTableGenerator"  ng-if="ExeAllAvailabilityUnits.length != 0" ng-if='ExeFloorName != ""' >
                        <table   style="margin: auto; margin-top:5px; text-align : center; " ng-show="availableUnitsShow">
                            <tr>
                                <th><b>Unit Number</b></th>
                                <th><b>Unit Name</b></th>
                            </tr>
                            <tr ng-repeat="x in ExeAllAvailabilityUnits | orderBy : 'x.UnitNumber' ">
                                <td>{{ x.UnitNumber }}</td>
                                <td>{{ x.UnitName }}</td>
                            </tr>
                        </table>

                    </div>
                <div ng-if="ExeAllAvailabilityUnits.length == 0" ng-show="availableUnitsShow"><h4 style="text-align: center;">No Units Found</h4></div>

            </div>
        </ion-content>
    </ion-view>
</script>

//Selected Customer Booking Details

<script id="thrd-customerview.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Customer Details
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
		
            <div style="text-align:center;" class="row">
                <div class="col"  >
                    <div>
                        <p>
                            <img class="team-profile" style="margin-top:0px;" ng-if="exeCustomerDetails[15] != ''" ng-src='{{image_url}}{{exeCustomerDetails[15]}}' />
                            <img class="team-profile" style="margin-top:0px;" ng-if="exeCustomerDetails[15] == ''" ng-src='img/no_image.png' />
                        </p>
                    </div>
                    <h4>{{exeCustomerDetails[1]}}</h4>
                  
                </div>
            </div>

            <div class="row" >
                <p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
                <div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
                <a class="col"  ng-click="geoLoc(exeCustomerDetails.builder_user_id)"><!--<img class="pull-right" style="width:45px" src="img/builder/locationmap.png"/>--></a>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/mobile.png"/>
                    <div class="col ">
                        {{exeCustomerDetails[6]}}
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/msg.png"/>
                    <div class="col ">
                        {{exeCustomerDetails[5]}}
                    </div>
                </label>
             </div>

        </ion-content>
		
		<ion-footer-bar align-title="left" class="" style="height: 56px;" ng-controller="ExeProjectDetailsCtrl">
		  <div class="button-bar" style="">
					<a class="button"  href="tel:{{exeCustomerDetails[6]}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/call.png"></a>
					<a class="button"  href="whatsapp://send?abid=username&text=Hello%2C%20World!"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button"  href="sms:{{exeCustomerDetails[6]}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button"  href="mailto:{{exeCustomerDetails[5]}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/mail.png"></a>
					<a class="button" href="skype:{{exeCustomerDetails[6]}}?chat"><img class="" style="width:31px; margin-top:5px;margin-left: -8px;" src="img/builder/skype.png"/></a>
					<a class="button"  ng-click="geoLocdd(exeCustomerDetails[0],exeCustomerDetails[1])"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/maploc.png"/></a>
					
				</div>
		</ion-footer-bar>
    </ion-view>
</script>

<script id="thrd-customerBookingDetails.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;Customer Details
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear" ui-sref="thrd.modal">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>

        <ion-content has-header="true" ng-controller="ExeProjectDetailsCtrl">
            <div style="text-align:center;" class="row">
                <div class="col"  >
                    <div>
                        <p>
                            <img class="team-profile" style="margin-top:0px;" ng-if="consumerDetail.profileImage != ''" ng-src='{{image_url}}{{consumerDetail.profileImage}}' />
                            <img class="team-profile" style="margin-top:0px;" ng-if="consumerDetail.profileImage == ''" ng-src='img/no_image.png' />
                        </p>
                    </div>
                    <h4>{{consumerDetail.consumerName}}</h4>
                    <img style=" width:10px;" src="img/builder/blocation.png"/> <span style="margin-top:0px;">{{consumerDetail.cityName}}</span>
                </div>
            </div>

            <div class="row" >
                <p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
                <div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
                <a class="col"  ng-click="geoLoc(consumerDetail.builder_user_id)"><!--<img class="pull-right" style="width:45px" src="img/builder/locationmap.png"/>--></a>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/mobile.png"/>
                    <div class="col ">
                        {{consumerDetail.mobile}}
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/msg.png"/>
                    <div class="col ">
                        {{consumerDetail.email}}
                    </div>
                </label>
                <div class="item item-divider"></div>

                <div class="row">
                    <p style="margin:17px 10px 10px;"><img style="width:25px" src="img/builder/impcircle.png"/></p>
                    <div class="col col-75"><h3 style="margin-top: 13px; margin-left: -9px;">Property Details</h3></div>
                </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
                <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/building-block.png"/>
                    <div class="col overflow">Project Name</div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.projectName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/homeplus.png"/>
                    <div class="col overflow">Property Type</div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.properytTypeName}}</b>
                    </div>

                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/direction.png"/>
                    <div class="col overflow">
                        Unit Facing
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.directionName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/twobuild.png"/>
                    <div class="col overflow ">
                        Block No
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.blockName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/fourblock.png"/>
                    <div class="col overflow">
                        Floor No
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.floorName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/fourcircle.png"/>
                    <div class="col ">
                        Unit No
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.unitName}}</b>
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/rotate.png"/>
                    <div class="col overflow">
                        Status
                    </div>
                    <div class="col overflow" >
                        <b>{{consumerBookingDetails.bookingConsumerStatus}}</b>
                    </div>
                </label>

                <div class="item item-divider"></div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="height:25px;" src="img/builder/deviderblue.png"/></p>
                            <div class="col"><h4 style="margin-top:2px;">Master Plan</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/buildingpink.png"/></p>
                            <div class="col"><h4 style="margin-top:2px;">Floor Plan</h4></div>
                        </div><hr style="width:85%;margin-top:-10px;"/>
                    </div>
                </div>


                <div class="row">
                    <div class="col" ng-click="MasterPlanImageView()" >
                        <img   style="border-radius:5px; width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerMasterPlan != ''" class="full-image" ng-src="{{image_url}}{{consumerMasterPlan}}"/>
                        <img   style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;"  ng-if="consumerMasterPlan == ''" class="full-image" src="img/no_image.png"/>
                    </div>
                    <div class="col" style="border-radius:5px;" ui-sref="thrd.unitfloorplan">
                        <img   style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;"  ng-if="consumerFloorPlan != ''" class="full-image" ng-src="{{image_url}}{{consumerFloorPlan}}" />
                        <img   style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;"  ng-if="consumerFloorPlan == ''" class="full-image" src="img/no_image.png"/>
                    </div>
                </div>
                <hr style="width:90%;"/>
                <div class="item item-input" style="border:none;">
                    <img class="image-icon" src="img/builder/brownhomers.png"/>
                    <div class="col ">Payment Schedule</div>
                    <div class="col button-right"><button class="button button-small button-small button-calm" id="{{image_url}}{{consumerPaymentSchedule}}" onclick="window.open('https://docs.google.com/gview?embedded=true&url='+this.id,  '_blank','location=no');">View</button></div>
                </div>
                <div class="row">
                    <!--div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/brownhomers.png"/></p>
                            <div class="col"><h4 style="margin-top:5px;">Payment Schedule</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                    <div class="col">
                        <div class="row"-->
                            <p style="margin:6px 10px 10px;"><img style="width:25px; margin-top:3px;" src="img/builder/green.png"/></p>
                            <div class="col"><h4 style="margin-top:5px;">Margin Money</h4></div>

                </div><hr style="width:90%; margin-top:-10px;"/>
                    <!--/div>
                </div-->


                <div class="row">
                    <!--div class="col">
                        <img   style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerPaymentSchedule != ''" class="full-image" ng-src="{{image_url}}{{consumerPaymentSchedule}}"/>
                        <img   style="border-radius:5px;  width:85%;  height:90px; margin-left:15px; border:1px solid gray;"  ng-if="consumerPaymentSchedule == ''" class="full-image" src="img/no_image.png"/>
                    </div-->
                    <div class="col" style="border-radius:5px;">
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/rupeecircle.png"/>
                            <div class="col overflow">Total:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerMarginMaster.total}}</div>

                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/handtwoline.png"/>
                            <div class="col overflow">Paid:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerMarginMaster.paid}}</div>
                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/notebunndle.png"/>
                            <div class="col overflow">Balance:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerMarginMaster.balance}}</div>
                        </label></div>
                </div> <hr style="width:95%;"/>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/purplecr.png"/></p>
                            <div class="col"><h4 style="margin-top:5px;">Payments</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/red-colom.png"/></p>
                            <div class="col"><h4 style="margin-top:5px;">Demand Details</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                </div>


                <div class="row">
                    <div class="col" style="border-radius:5px;">
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/rupeecircle.png"/>
                            <div class="col overflow">Total:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerPaymentMaster.total}}</div>

                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/handtwoline.png"/>
                            <div class="col overflow">Paid:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerPaymentMaster.paid}}</div>
                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/notebunndle.png"/>
                            <div class="col overflow">Balance:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerPaymentMaster.balance}}</div>
                        </label>
                    </div>
                    <div class="col" style="border-radius:5px;">
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/rupeecircle.png"/>
                            <div class="col overflow">Total:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerDemandsDetail.total}}</div>

                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/handtwoline.png"/>
                            <div class="col overflow">Paid:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerDemandsDetail.paid}}</div>
                        </label>
                        <label class="item item-input " style="border:none;">
                            <img class="image-icon" src="img/builder/notebunndle.png"/>
                            <div class="col overflow">Balance:&nbsp;&nbsp;&nbsp;&nbsp; {{consumerDemandsDetail.balance}}</div>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div style="text-align:center;" class="col" id = "{{image_url}}{{consumerDemandNote}}" onclick="window.open('https://docs.google.com/viewer?url='+this.id,  '_blank','location=no');" ><b ><u style="color:#6D6D6C;cursor:pointer;font-size:21px;">View Demand Note</u></b></div>
                </div>
                <div class="item item-divider"></div>
                <!--div class="row">
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="height:25px;" src="img/builder/brown-box.png"/></p>
                            <div class="col"><h4 style="margin-top:2px;">Sales Agreement</h4></div>
                        </div><hr style="width:85%; margin-top:-10px;"/>
                    </div>
                    <div class="col">
                        <div class="row">
                            <p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/BOX-YELLOW.png"/></p>
                            <div class="col"><h4 style="margin-top:2px;">Sales Deed</h4></div>
                        </div><hr style="width:85%;margin-top:-10px;"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img style="border-radius:5px; width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerProjectFile[1].image != '' " src="{{image_url}}{{consumerProjectFile[1].image}}">
                        <img style="border-radius:5px; width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerProjectFile[1].image == '' " src="img/no_image.png">
                    </div>
                    <div class="col">
                        <img  style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerProjectFile[2].image != '' " src="{{image_url}}{{consumerProjectFile[2].image}}">
                        <img  style="border-radius:5px;  width:85%; height:90px; margin-left:15px; border:1px solid gray;" ng-if="consumerProjectFile[2].image == '' " src="img/no_image.png">
                    </div>
                </div-->
				
                <div class="item item-input" style="border:none;">
                    <img class="image-icon" src="img/builder/brown-box.png"/>
                    <div class="col ">Sale Agreement</div>
                    <div class="col button-right"><button class="button button-small button-small button-calm" id="{{image_url}}{{consumerProjectFile[1].image}}" onclick="window.open('https://docs.google.com/gview?embedded=true&url='+this.id,  '_blank','location=no');">View</button></div>
                </div>
                <div class="item item-input" style="border:none;">
                    <img class="image-icon" src="img/builder/BOX-YELLOW.png"/>
                    <div class="col ">Sale Deed</div>
                    <div class="col button-right"><button class="button button-small button-small button-calm" id="{{image_url}}{{consumerProjectFile[2].image}}" onclick="window.open('https://docs.google.com/gview?embedded=true&url='+this.id,  '_blank','location=no');">View</button></div>
                </div>
                <div class="col" style="text-align: center; padding-left: 10px; margin-top:20px;">

                    <img style="width: 7px" src="img/builder/arrow.png"/> Registration Date <b>{{consumerProjectReg.dateOfReg | date:'dd/MM/yyyy'}}</b>
                </div>
                <div class="col" style="text-align: center;">
                    <img style="width: 7px" src="img/builder/arrow.png"/>
                    Completion Status <b>{{consumerProjectReg.regStatus}}</b>
                </div>

            </div>
            <!--<button class="button button-block button-positive" ui-sref="thrd.priceWaiver" style="margin-bottom:80px; padding:0px;">
                Price Waiver
            </button>-->
        </ion-content>
		
		<ion-footer-bar align-title="left" class="" style="height: 56px;" ng-controller="ExeProjectDetailsCtrl">
		  <div class="button-bar" style="">
					<a class="button"  href="tel:{{consumerDetail.mobile}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/call.png"></a>
					<a class="button"  href="whatsapp://send?abid=username&text=Hello%2C%20World!"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/whatsapplogo.png"/></a>
					<a class="button"  href="sms:{{consumerDetail.mobile}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/chat.png"></a>
					
					
					<a class="button"  href="mailto:{{consumerDetail.email}}"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;"  src="img/builder/mail.png"></a>
					<a class="button" href="skype:{{consumerDetail.mobile}}?chat"><img class="" style="width:31px; margin-top:5px;margin-left: -8px;" src="img/builder/skype.png"/></a>
					<a class="button"  ng-click="geoLocdd(consumerDetail.consumerId,consumerDetail.consumerName)"><img class="" style="width:35px; margin-top:5px;margin-left: -8px;" src="img/builder/maploc.png"/></a>
					
				</div>
		</ion-footer-bar>
    </ion-view>
</script>


<script id="thrd-salesTeamLocation.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Location of {{consumerDetail.consumerName}}
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<ion-content ng-controller="ExeProjectDetailsCtrl">
			<div id="map_div" data-tap-disabled="true"></div>
		</ion-content>

	</ion-view>

</script>
<script id="thrd-priceWaiver.html" type="text/ng-template">
    <ion-view title="" ng-controller="ExeProjectDetailsCtrl">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>Price Waiver
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <ion-content has-header="true" >
            <div class="row" >
                <p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
                <div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
            </div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
            <div class="list">
                <label class="item item-input item-select" ng-click="waiver_type()" style="border-top:none; padding: 6px 0 10px 16px;">
                    <img class="image-icon" src="img/builder/crossrupee.png"/>
                    <div class="col" ng-if="ExeWaiverName == undefined">Waiver For</div>
                    <div class="col" ng-if="ExeWaiverName != undefined">{{ExeWaiverName}}
                    </div>
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/graycircle-box.png"/><input type="number" ng-init="$parent.data.price = ''"  ng-model="$parent.data.price" placeholder="List Price">
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/money.png"/><input type="number" ng-init="$parent.data.reqRate = ''"  ng-model="$parent.data.reqRate" placeholder="Required Rate">
                </label>
                <label class="item item-input">
                    <img class="image-icon" src="img/builder/remarkicon.png"/><input type="text" ng-init="$parent.data.remark = ''"  ng-model="$parent.data.remark" placeholder="Remarks">
                </label>

            </div>
            <!--button class="button button-block button-positive" ng-click="submitWaiver(data)">
                Submit
            </button-->
        </ion-content>
        <ion-footer-bar align-title="left" style="background-color:#3B5999;">
            <div class="button-bar button-clear">
                <a class="button button-clear" style="background-color:#3B5999; color:#fff;" ng-click="submitWaiver(data)">Submit</a>
            </div>
        </ion-footer-bar>
    </ion-view>
</script>

<script id="thrd-cdemandnote.html" type="text/ng-template">
    <ion-view title="">
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-ios-arrow-back"></i>&nbsp;View Demand Note
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-buttons side="right">
            <span style="margin-top:8px; color:black;font-size:10px;"></span>
            &nbsp;&nbsp;<button class="button button-clear">
            <img style="height:32px;" src=""/>
        </button>
        </ion-nav-buttons>
        <ion-content has-header="true">
            <div class="list card">
                <div class="item item-body" ng-controller="ExeProjectDetailsCtrl">
                    <img class="full-image" ng-if="consumerDemandNote != ''" ng-src="{{image_url}}{{consumerDemandNote}}"/>
                    <img class="full-image" ng-if="consumerDemandNote == ''" ng-src="img/no_image.png"/>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>
<!--Image Pop Up-->
<script id="templates/masterplanPopUp.html" type="text/ng-template">
    <div class="modal image-modal transparent" ng-click="closeMasterPlanModal()">
        <ion-content ng-controller="ExeProjectDetailsCtrl">



            <ion-slide  class="image_zoom" >

                <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false" zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"  on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">


                    <img   class="full-image" ng-if="consumerMasterPlan != ''" class="full-image" ng-src="{{image_url}}{{consumerMasterPlan}}" style="height:200px !important; " />
                    <img   class="full-image"  ng-if="consumerMasterPlan == ''" class="full-image" src="img/no_image.png" style="height:200px !important; " />
                </ion-scroll>
            </ion-slide>

        </ion-content>
    </div>
</script>
