<ion-view title='' >
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-clear icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<span style="margin-top:8px; color:black;font-size:10px;"></span>
		&nbsp;&nbsp;<button class="button button-clear">
						<img style="height:32px;" src=""/>
				</button>
	</ion-nav-buttons>
	<ion-content  ng-controller="ExeProfileCtrl" >
		<div ng-hide="editorEnabled">
			<img class="full-image" style="height:220px;"  ng-if="SalesProfileDetails.BuilderUserTimelineImage != ''" src="{{SEeditTl}}" ng-src="{{image_url}}{{SalesProfileDetails.BuilderUserTimelineImage}}">
			<img class="full-image" style="height:220px;"  ng-if="SalesProfileDetails.BuilderUserTimelineImage == ''" src="{{SEeditTl}}" ng-src="img/no_image.png">
		</div>
		<div ng-show="editorEnabled">

			<img ng-click="edittimeline()" class="full-image" style="height:220px;" ng-if="SalesProfileDetails.BuilderUserTimelineImage != ''" src="{{SEeditTl}}" id="salesExeTimeLine" ng-src="{{image_url}}{{SalesProfileDetails.BuilderUserTimelineImage}}">
			<img  ng-click="edittimeline()" class="full-image" style="height:220px;" ng-if="SalesProfileDetails.BuilderUserTimelineImage == ''" src="{{SEeditTl}}" id="salesExeTimeLine" ng-src="img/no_image.png">

		</div>
			<div style="text-align:center;" class="row">
			<div class="col">
				<div ng-hide="editorEnabled">

					<img class="team-profile" ng-if="SalesProfileDetails.BuilderUserProfileImage != ''"   src="{{SEeditPro}}" ng-src="{{image_url}}{{SalesProfileDetails.BuilderUserProfileImage}}" />
					<img class="team-profile"  ng-if="SalesProfileDetails.BuilderUserProfileImage == ''" src="{{SEeditPro}}" ng-src="img/no_image.png" /></br>
				</div>
				<div ng-show="editorEnabled">

					<p style="text-align:center;" ><img class="image-icon" src="img/builder/camera.png" style="position: relative;left: 55px; bottom: 70px;" /></p>
					<img class="team-profile"  style="margin-top: -194px; !important;" ng-click="editprofileImg()" ng-if="SalesProfileDetails.BuilderUserProfileImage != ''"    src="{{SEeditPro}}" id="salesExeProfile" ng-src="{{image_url}}{{SalesProfileDetails.BuilderUserProfileImage}}" />
					<img class="team-profile"  style="margin-top: -194px; !important;" ng-click="editprofileImg()" ng-if="SalesProfileDetails.BuilderUserProfileImage == ''"  src="{{SEeditPro}}" id="salesExeProfile" ng-src="img/no_image.png" /></br>
				</div>
					<h4 ><span ng-hide="editorEnabled">{{SalesProfileDetails.OwnerName}}</span><span ><input type="text" ng-model="SalesProfileDetails.OwnerName" class="overflow" style="text-align: center;display: inline-block;font-size: 1em;" ng-show="editorEnabled"></span></h4>
				<img style="width:10px;" src="img/builder/blocation.png"/>&nbsp;<span style="color:#737373;" ng-hide="editorEnabled">{{SalesProfileDetails.CityName}}</span>
				<div class="item item-select city" ng-click="editCityList()" ng-show="editorEnabled" style="border: none; display: inline;padding: 5px 10px; ">
					<span style="color:#737373;" ng-if="editCityName == undefined">{{SalesProfileDetails.CityName}}
					</span>
					<span style="color:#737373;" ng-if="editCityName != undefined">{{editCityName}}
					</span>
				</div>
                              
			</div>
		</div>
		<!--div class="row" ng-hide="editorEnabled">
			<p style="margin:6px 10px 10px;"><img style="width:45px" src="img/builder/pen.png"/></p>
			<div class="col "><h3>Details</h3></div>
			<button  class="button button-clear pull-right" ng-click="salesExeProfileEdit()" ><img style="margin-top:5px;width:25px" src="img/builder/edit.png"/></button>
		</div>
		<divclass="row"  ng-show="editorEnabled">
			<p style="margin:6px 10px 10px;"><img style="width:45px" src="img/builder/pen.png"/></p>
			<div class="col "><h3>Details</h3></div>
			<button class="button button-clear pull-right" ng-click="saveExeProfileEdit()" ><img style="margin-top:5px;width:25px" src="img/builder/save_icon64.png"/></button>

		</div-->
                 
		<div class="row" ng-hide="editorEnabled">
			<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			<button  class="button button-clear pull-right" ng-click="salesExeProfileEdit()" ><img style="margin-top:15px;width:25px" src="img/builder/edit.png"/></button>
		</div><hr ng-hide="editorEnabled" class="pull-right" style="margin-top: -5px; width: 96%;"/>
		<div class="row" ng-show="editorEnabled">
			<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;"  src="img/builder/pen.png"/></p>
			<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			<button class="button button-clear pull-right" ng-click="saveExeProfileEdit()" ><img style="margin-top:15px;width:25px" src="img/builder/save_icon64.png"/></button>
		</div><hr  ng-show="editorEnabled" class="pull-right" style="margin-top: -5px; width: 96%;"/>

		<div class="list">
                  
            <label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;" >
				<img class="image-icon" src="img/builder/direction.png"/>
				<div class="input-label col col-50">
                                    
					Track Me Always
				</div>
				
                 <div class="input-label col col-50" style="margin-left: 52px;">
                                    
					<md-toggle ng-model="geotrack.checked" ng-change="geotrackStatus();">        
                    </md-toggle>
				</div>
				
			</label>
			
			
			 <label class="item item-input" style="padding: 6px 0 10px 16px;" ng-show="trackingss">
					<img class="image-icon" src="img/builder/direction.png"/>
					<div class="input-label col col-50">
										
						Track When I Share
					</div>
					 <div class="input-label col col-122" style="">
										
						
						  <button class="button button-small button-balanced pull-right" ng-click="sharemylocation()">
							   Share
						  </button>
						
					</div>
			</label>
			
			<label class="item item-input" style="padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/mobile.png"/>
				<div class="input-label">
					{{SalesProfileDetails.MobileNo}}
				</div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/msg.png"/>
				<div class="input-label" ng-hide="editorEnabled">
					{{SalesProfileDetails.OwnerEmail}}
				</div>
				<div class="col" ng-show="editorEnabled">
					<input type="text" ng-model="SalesProfileDetails.OwnerEmail"  ng-show="editorEnabled">
				</div>
			</label>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/card.png"/>
				<div class="col col-50">Identity Proof</div>
				<div class="col" ><button class="button button-small button-small button-calm pull-right" ui-sref="thrd.idproof">View</button></div>
			</div>
			
		<div class="item item-divider"></div>
		<!--div class="row">
			<p style="margin:6px 10px 10px;"><img style="width:45px" src="img/builder/pen.png"/></p>
			<div class="col col-75"><h3>Sales</h3></div>
		</div-->
			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Sales</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
				<img class="image-icon" src="img/builder/menucheked.png"/><div class="col col-50 overflow">No. of Units Sold</div>
				<div class="col"><h2> {{UserSalesReports.noUnitSold | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/circlewatch.png"/><div class="col col-50 overflow">Gross Sale Value</div>
				<div class="col"><h2>&#8377; {{UserSalesReports.grossSaleValue | number}}</h2></div>
			</label>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/handquarter.png"/><div class="col col-50 overflow">Net Sales Value For The Month</div>
				<div class="col"><h2>&#8377; {{UserSalesReports.netSaleValueForTheMonth | number}}</h2></div>
			</label>
			<div class="item item-divider"></div>
			<label class="item item-input">
				<img class="image-icon" src="img/builder/choose_unit.png"/><div class="col col-50 overflow">Chosen Units</div>
				<div class="col"><button class="button button-small button-calm pull-right" ui-sref="thrd.BookingInterest">View</button></div>
			</label>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/purpleshare.png"/><div class="col col-50 overflow">Enquiry Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="2" ng-click="exefollowuptype($event)" ui-sref="thrd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/greenrunman.png"/><div class="col col-50 overflow">Site Visit Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="3" ng-click="exefollowuptype($event)" ui-sref="thrd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/orangebooking.png"/><div class="col col-50 overflow">Booking Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="4" ng-click="exefollowuptype($event)" ui-sref="thrd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/brownhandshek.png"/><div class="col col-50 overflow">Sale Agreement Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right"  data="5" ng-click="exefollowuptype($event)" ui-sref="thrd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/redhome.png"/><div class="col col-50 overflow">Bank Loan Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="6" ng-click="exefollowuptype($event)" ui-sref="thrd.FollowUpProject">View</button></div>
			</div>
			
			<div class="item item-input">
				<img class="image-icon" src="img/builder/brownxxx.png"/><div class="col col-50 overflow">Registration Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="8" ng-click="exefollowuptype($event)" ui-sref="thrd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/purplehandover.png"/><div class="col col-50 overflow">Handover Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="7" ng-click="exefollowuptype($event)" ui-sref="thrd.FollowUpProject">View</button></div>
			</div>
			<div class="item item-input">
				<img class="image-icon" src="img/builder/skyblueflag.png"/><div class="col col-50 overflow">Post Sale Follow Up</div>
				<div class="col"><button class="button button-small button-calm pull-right" data="9" ng-click="exefollowuptype($event)" ui-sref="thrd.FollowUpProject">View</button></div>
			</div>
		</div>
	</ion-content>

</ion-view>

<script id="thrd-BookingInterest.html" type="text/ng-template">
	<ion-view title="" ng-controller="ExeProfileCtrl">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Chosen Units
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
			<div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">Select Project to continue</h4></div>
		</div>
		<ion-content  ng-controller="ExeProfileCtrl">
			<div ng-if="thrdleadproject.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "ExeAllFollowUpProject.length == 0 "><ion-spinner icon="android" ng-if= "ExeAllFollowUpProject.length == 0 " ></ion-spinner></p>
				<div class="list" style="margin-top: 40px;">
					<a ng-click="selected_bookingProject(sales.project_id)"  class="item item-thumbnail-left" ng-repeat="sales in ExeAllFollowUpProject">
						<img class="project-continue" ng-if="sales.main_image != ''" ng-src="{{image_url}}{{sales.main_image}}">
						<img class="project-continue" ng-if="sales.main_image == ''" ng-src="img/no_image.png">
						</br>
						<h2 style="margin-top:10px;">{{sales.name}}</h2>
					</a>
				</div>
			</div>
			<div ng-if="thrdleadproject.length == 0" style="margin-top: 50px;">
				<h4 style="text-align:center;" >No Projects Found..</h4>
			</div>
		</ion-content>
	</ion-view>
</script>

<script id="thrd-bookingInterestCustomer.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customers
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
			<div class="col" style="padding:0px;"><h4 style="margin-top:7px;">Select Customer to Continue</h4></div>
		</div>
		<ion-content has-header="true" ng-controller="ExeProfileCtrl">

			<div ng-if="allBookingInterestCustomerData.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "ExeAllBookingInterestDetail.length == 0 "><ion-spinner icon="android" ng-if= "ExeAllBookingInterestDetail.length == 0 " ></ion-spinner></p>
				<ul class="list" style="margin-top: 40px;margin-bottom: 40px;">
					<li class="item item-avatar item-thumbnail-left" ng-repeat="customer in ExeAllBookingInterestDetail" ng-click="selectedBookingInterestCustomerDetails($index)">
						<img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage != ''" src="{{image_url}}{{customer.consumerProfileImage}}">
						<img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage == ''" src="img/no_image.png"></br>
						<h2 style="float:left; margin-top: 15px;" >{{customer.consumerName}}</h2>
					</li>
				</ul>
			</div>
			<div ng-if="allBookingInterestCustomerData.length == 0" style="margin-top: 50px;"><h4 Style="text-align:center;"> No Customer Found..</h4></div>
		</ion-content>
	</ion-view>
</script>


<script id="thrd-consumersBookingInterestdetails.html" type="text/ng-template">
	<ion-view title=''>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Customer Details
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content  ng-controller="ExeProfileCtrl">
			<img class="full-image" style="height:220px;" ng-if="selectedExeInterestCustDetails.consumerTimelineImage != ''" ng-src="{{image_url}}{{selectedExeInterestCustDetails.consumerTimelineImage}}">
			<img class="full-image" style="height:220px;"ng-if="selectedExeInterestCustDetails.consumerTimelineImage == ''" ng-src="img/no_image.png">
			<div style="text-align:center;" class="row">
				<div class="col"><img class="team-profile" ng-if="selectedExeInterestCustDetails.consumerProfileImage != ''" ng-src="{{image_url}}{{selectedExeInterestCustDetails.consumerProfileImage}}"/><img class="team-profile"  ng-if="selectedExeInterestCustDetails.consumerProfileImage == ''" ng-src="img/no_image.png" /></br><h4>{{selectedExeInterestCustDetails.consumerName}}</h4>
					<!--img style="width:10px;" src="img/builder/blocation.png"/>&nbsp;Bangalore-->
				</div>
			</div>
			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="list">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/mobile.png"/>
					<div class="input-label">
						{{selectedExeInterestCustDetails.consumerMobile}}
					</div>
				</label>
				<label class="item item-input" style="height:44px;">
					<img class="image-icon" src="img/builder/msg.png"/>
					<div class="input-label">
						{{selectedExeInterestCustDetails.email}}
					</div>
				</label>
				<div class="item item-divider"></div>
				<div class="row" >
					<p style="margin:15px 10px 10px;"><img style="width:25px; margin-top:5px;" src="img/builder/purplefourcircle.png"/></p>
					<div class="col "><h3 style="margin-top: 15px; margin-left: -9px;">Unit Details</h3></div>
				</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/twobuild.png"/>
					<div class="col col-50">Block</div>
					<div class="input-label">
						<b>{{selectedExeInterestCustDetails.block_name }}</b>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/fourblock.png"/>
					<div class="col col-50">Floor</div>
					<div class="input-label">
						<b>{{selectedExeInterestCustDetails.floorName }}</b>
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/fourcircle.png"/>
					<div class="col col-50">Unit</div>
					<div class="input-label">
						<b>{{selectedExeInterestCustDetails.unitName }}</b>
					</div>
				</label>
			</div>
		</ion-content>
		<ion-footer-bar align-title="left" style="background-color:#3B5999;">
	
		<div class="button-bar button-clear">
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="tel:{{selectedExeInterestCustDetails.consumerMobile}}"><img style="width:30px;" src="img/builder/call.png"></a>
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="whatsapp://send?text=Hello%20World!"><img style="width:30px;" src="img/builder/whatsapplogo.png"></a>
			
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="sms:{{selectedExeInterestCustDetails.consumerMobile}}"><img style="width:30px;"  src="img/builder/chat.png"></a>
			<a class="button button-clear" style="background-color:#3B5999;" href="mailto:{{selectedExeInterestCustDetails.email}}" target="_blank"><img style="width:30px;"  src="img/builder/mail.png"></a>
		</div>

	</ion-footer-bar>
	</ion-view>
</script>



<script id="thrd-FollowUpProject.html" type="text/ng-template">
	<ion-view title="" ng-controller="ExeProfileCtrl">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;{{navbartitle}}
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/continue.png"/></p>
			<div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">Select Project to continue</h4></div>
		</div>
		<ion-content  ng-controller="ExeProfileCtrl">
			<div ng-if="thrdleadproject.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "ExeAllFollowUpProject.length == 0 "><ion-spinner icon="android" ng-if= "ExeAllFollowUpProject.length == 0 " ></ion-spinner></p>
				<div class="list" style="margin-top: 40px;">
					<a ng-click="selected_exeFollowUpProject(sales.project_id)"  class="item item-thumbnail-left" ng-repeat="sales in ExeAllFollowUpProject">
						<img class="project-continue" ng-if="sales.main_image != ''" ng-src="{{image_url}}{{sales.main_image}}">
						<img class="project-continue" ng-if="sales.main_image == ''" ng-src="img/no_image.png">
						</br>
						<h2 style="margin-top:10px;">{{sales.name}}</h2>
					</a>
				</div>
			</div>
			<div ng-if="thrdleadproject.length == 0" style="margin-top: 50px;">
				<h4 style="text-align:center;" >No Projects Found..</h4>
			</div>
		</ion-content>
	</ion-view>
</script>

<script id="thrd-FollowUpCustomer.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;{{navbartitle}}
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>
		<div class="row bar bar-subheader">
			<p style="margin:6px 10px 10px;"><img style="width:25px" src="img/builder/greengroup.png"/></p>
			<div class="col" style="padding:0px;"><h4 style="margin-top: 7px;">Select Customer to continue</h4></div>
		</div>
		<ion-content has-header="true" ng-controller="ExeProfileCtrl">

			<div ng-if="AllFollowupDetail.length != 0">
				<p style="margin-top:50%; margin-left:45%;" ng-if= "AllFollowupDetail.length == 0 "><ion-spinner icon="android" ng-if= "AllFollowupDetail.length == 0 " ></ion-spinner></p>
				<ul class="list" style="margin-top: 40px;">
					<li class="item item-avatar item-thumbnail-left" ng-repeat="customer in AllFollowupDetail" ng-click="selectedFollowUpCustomerDetails($index)">
						<img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage != ''" src="{{image_url}}{{customer.consumerProfileImage}}">
						<img style="border: 3px solid #52CBFF;" ng-if="customer.consumerProfileImage == ''" src="img/no_image.png"></br>
						<h2 style="float:left; margin-top: 15px;" >{{customer.consumerName}}</h2>
					</li>
				</ul>
			</div>
			<div ng-if="AllFollowupDetail.length == 0" style="margin-top: 50px;"><h4 Style="text-align:center;"> No Customer Found..</h4></div>
		</ion-content>
	</ion-view>
</script>


<script id="thrd-consumersfollowupdetails.html" type="text/ng-template">
	<ion-view title=''  ng-controller="ExeProfileCtrl">
		<ion-nav-bar class="bar-calm" >
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;{{navbartitle}}
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content>
			<img class="full-image" style="height:220px;" ng-if="selectedExeCustDetails.consumerTimelineImage != ''" ng-src="{{image_url}}{{selectedExeCustDetails.consumerTimelineImage}}">
			<img class="full-image" style="height:220px;"ng-if="selectedExeCustDetails.consumerTimelineImage == ''" ng-src="img/no_image.png">
			<div style="text-align:center;" class="row">
				<div class="col"><img class="team-profile" ng-if="selectedExeCustDetails.consumerProfileImage != ''" ng-src="{{image_url}}{{selectedExeCustDetails.consumerProfileImage}}"/><img class="team-profile"  ng-if="selectedExeCustDetails.consumerProfileImage == ''" ng-src="img/no_image.png" /></br><h4>{{selectedExeCustDetails.consumerName}}</h4>
					<!--img style="width:10px;" src="img/builder/blocation.png"/>&nbsp;Bangalore-->
				</div>
			</div>

			<div class="row" >
				<p style="margin:17px 10px 10px;"><img style="width:35px; margin-top:5px;" src="img/builder/pen.png"/></p>
				<div class="col "><h3 style="margin-top: 13px; margin-left: -9px;">Details</h3></div>
			</div><hr class="pull-right" style="margin-top: -5px; width: 96%;"/>
			<div class="list">
				<label class="item item-input" style="border-top:none; padding: 6px 0 10px 16px;">
					<img class="image-icon" src="img/builder/mobile.png"/>
					<div class="input-label">
						{{selectedExeCustDetails.mobile}}
					</div>
				</label>
				<label class="item item-input" style="height:44px;">
					<img class="image-icon" src="img/builder/msg.png"/>
					<div class="input-label">
						{{selectedExeCustDetails.email}}
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/calender.png"/>
					<div class="col col-50">Meeting Date</div>
					<div class="input-label">
						{{selectedExeCustDetails.FollowUpDate | date:'dd/MM/yyyy'}}
					</div>
				</label>
				<label class="item item-input">
				<img class="image-icon" src="img/builder/remarkicon.png"/>
				<div class="col col-50">Remarks</div>
				<div class="input-label">
					{{selectedExeCustDetails.Remarks}}
				</div>
			</label>
				<div class="item item-divider"></div>
				<label class="item item-input item-select" ng-click="consumerExeFollowUpStatus()">
					<img class="image-icon" src="img/builder/rotate.png"/>
					<div class="col" ng-if='EFollowupName == undefined '>Follow Up Status</div>
					<div class="col" ng-if='EFollowupName != ""'>
						{{EFollowupName}}
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/calender6.png"/>
					<div class="col">
						<input  type="text" onfocus="(this.type='date')" name="from_date" id="date1" placeholder="Follow Up Date" ng-init="data.followUpDate = ''" ng-model="data.followUpDate"  min="{{todayDate |date:'yyyy-MM-dd'}}">
					</div>
				</label>
				<label class="item item-input">
					<img class="image-icon" src="img/builder/remarkicon.png"/>
					<div class="col"><input type="text" placeholder="Remarks" ng-init="data.followUpRemarks = ''"  ng-model="data.followUpRemarks"></div>

				</label>

			</div>
			
			<button class="button button-full button-positive" ng-click="Exe_followUp_Update_button(data,selectedExeCustDetails.project_follow_up_id)" style="margin-bottom:0px;">
				Submit
			</button>
		</ion-content>
		
		<ion-footer-bar align-title="left" style="background-color:#3B5999;">
	
		<div class="button-bar button-clear">
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="tel:{{selectedExeCustDetails.mobile}}"><img style="width:30px;" src="img/builder/call.png"></a>
			
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="whatsapp://send?text=Hello%20World!"><img style="width:30px;" src="img/builder/whatsapplogo.png"></a>
			
			<a class="button button-clear" style="background-color:#3B5999;border-right: 1px solid #eee;" href="sms:{{selectedExeCustDetails.mobile}}"><img style="width:30px;"  src="img/builder/chat.png"></a>
			
			<a class="button button-clear" style="background-color:#3B5999;" href="mailto:{{selectedExeCustDetails.email}}" target="_blank"><img style="width:30px;"  src="img/builder/mail.png"></a>
		</div>

	</ion-footer-bar>

	</ion-view>
</script>


<script id="thrd-idproof.html" type="text/ng-template">
	<ion-view title="">
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-ios-arrow-back"></i>&nbsp;Identity Proof
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="right">
			<span style="margin-top:8px; color:black;font-size:10px;"></span>
			&nbsp;&nbsp;<button class="button button-clear">
			<img style="height:32px;" src=""/>
		</button>
		</ion-nav-buttons>

		<ion-content has-header="true" ng-controller="ExeProfileCtrl">
			<div class="list card">
				<ion-scroll zooming="true" direction="xy" scrollbar-x="false" scrollbar-y="false" style="max-height:100%;">
					<div class="item item-body">
						<img class="full-image" ng-if="SalesProfileDetails.IdProof != ''" ng-src="{{image_url}}{{SalesProfileDetails.IdProof}}">
						<img class="full-image" ng-if="SalesProfileDetails.IdProof == ''"  ng-src="img/no_image.png">
					</div>
				</ion-scroll>
			</div>

		</ion-content>
	</ion-view>
</script>

