

.ion-ios-minus-empty:before {

    margin-top: 10px;
}
.ion-ios-plus-empty:before {

    margin-top: 10px;
}

.dotdata{
    display:inline-block;
    width:108%; white-space:
    nowrap;overflow:hidden !important;
     text-overflow: ellipsis;
}
#map {
    width:100%;
    height:100%;
}

#map_div {
    width:100%;
    height:100%;
}

.scroll {
    height: 100%;
}

/*default device*/
 .home{
 	width: 40%;
 }
 .role{
 	width: 25%;
 }
 .head-role {
     color: #364372;
     font-size: 23px;
     margin-top: 30px;
     text-align: center;
 }
 .head-imge{
	 display: block;
    margin-left: auto;
    margin-right: auto;
	 width:200px;
	 height:150px;
 }
 .head-imgtag {
     width:308px;
	 height:50px;
 }

 .home-icon{
 	margin-top:10px;
 	text-align: center;
 }
 .select-arrow {
     background: rgba(0, 0, 0, 0) url("../img/down_arrow_white.gif") no-repeat scroll 156px 15px;
     border: 1px solid #b8c1c4;
     border-radius: 6px;
     text-align: center;
     color: #0b1635;
     font-size: 15px;
     padding: 14px 0px 12px 0px;

 }
 .itemss {
     padding: 10px !important;
 	font-size: 15px !important;
 }
 .select-item {
     background: rgba(0, 0, 0, 0);
     border: 1px solid #b8c1c4;
     border-radius: 6px;
 	text-align: center;
     color: #0b1635;
     font-size: 15px;
 }
 .selected-item {
     background: #bccfd5;
    color: #091233;
 }
/* Empty. Add your own CSS if you like */
.head-img {
    width: 35px;
    margin: 5px;
}
.mynavbar{
  height: 10px !important;
}
.pull-right{
  float: right;
}
.button-halfwidth{
  width: 49%;
}
.button-fullwidth{
  width: 100%;
}
.button-right{
    text-align:right;
}
.left-right{
	padding-left:0px;
	padding-right:0px;
}
.campaign {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 14px 0px 12px 0px;

}
hr.white-line {
    border: 0;
    height: 1px;
    background: #fff;
}
/* Empty. Add your own CSS if you like */

.header-item{
	left: 0px !important;
	right: 0px !important;
	text-align: center !important;
}
.home-content {
    background: url(../img/home.png)!important;
    background-color: black!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
}
.campaign-content {
    background: url(../img/campaign.png)!important;
    opacity: rgba(0, 0, 0, 0.7);
    background-color: black!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;

}
.block-bg{
	background: url(../img/builder/details/bar-1.png) no-repeat center center fixed;
}
.button-small{
    width:65px;
}
.head-main {
    color: #fff;
    font-size: 40px;
    margin-top: 0px;
    text-align: center;
}
.project-continue{
    border-radius: 16px;
    border: 3px solid #52CCFF;
}
.slider-pager .slider-pager-page {
    color: #FFED00 !important;
}
#link-container {
    text-align: center;
}
#button-container {
    text-align: center;
}
#image-title {
    margin-top:7px;
	width:30px;
	height:30px
}
#link {
    color: red;
    display: inline-block;
    padding: 10px;
}
.currency {
  padding-left:70px !important;
}
.image-icon{
	width:22px;
	margin-right:12px;

}
.menu-image{
    float: left;
	width:22px;
	margin-right:12px;
}
.center-red{
	text-align:center;
	color:red;
}
.button-left{
	padding-right: 50px;
}
.white-latter{
	color:#fff;
}
.comment-box{
    border: 1px solid #ccc;
    width: 100%;
    height: 80px;
}
.item-divider {
   min-height: 0px !important;
}
.team-profile{
	    border-radius: 100%;
        width: 140px;
         margin-top: -90px;
        border: 5px solid rgba(179, 179, 179, 0.5);
        height: 140px;
}
.report-bg{
 background-color:#EDE6D9;
}
.white-divider{
 background-color:#fff;
}
.overflow{
	white-space: initial;
	text-overflow: ellipsis !important;
}
/*project details choose item css*/
.choose-item  .item {
    border-radius: 10px;
}
.choose-item  .item-content{
	background-color: #848282;
}
.choose-item  .item-radio input:checked ~.item-content{
	background-color: #29ABE0;
}
/*--------------------------------------- Media css-------------------------------------------------*/
@media only screen and (min-width : 270px) {
	.head-imge{
	 display: block;
    margin-left: auto;
    margin-right: auto;
	 width:200px;
	 height:150px;
 }
}
@media only screen and (min-width : 320px) {/*--- Mobile portrait Samsung Galaxy S4, iPhone 4, iPhone 5 ---*/
.home{
	width:40%;
}
.role{
	width:22%;
}
.head-role {
   color: #364372;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}

.head-imge{
	 display: block;
    margin-left: auto;
    margin-right: auto;
	 width:200px;
	 height:150px;
 }
.head-imgtag {
    
    width:350px;
}
.home-icon{
	margin-top:10px;
	text-align: center;
}
/*.select-arrow {
    background: rgba(0, 0, 0, 0) url("../img/down_arrow_white.gif") no-repeat scroll  130px 7px;
    border: 1px solid #b8c1c4;
    border-radius: 6px;
	text-align: center;
    color: #0b1635;
    font-size: 12px;
    padding: 3px 0px 7px 0px;

}*/

.select-arrow {
    background: rgba(0, 0, 0, 0) url(../img/down_arrow_white.gif) no-repeat scroll 156px 15px;
    border: 1px solid #b8c1c4;
    border-radius: 6px;
    text-align: center;
    color: #0b1635;
    font-size: 15px;
    padding: 14px 0px 12px 0px;
}

.itemss {
    padding: 4px !important;
	font-size: 12px !important;
}
.select-item {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #b8c1c4;
    border-radius: 6px;
	text-align: center;
    color: #0b1635;
    font-size: 12px;
}
.selected-item {
    background: #bccfd5;
    color: #091233;
}
}
@media only screen and (min-width : 360px) {/*---  Samsung Galaxy S5 ,  iPhone 6(375px)---*/
.home{
	width: 48%;
}
.role{
	width: 25%;
}
.head-role {
    color: #364372;
    font-size: 27px;
    margin-top: 30px;
    text-align: center;
}
.head-imge{
	 display: block;
    margin-left: auto;
    margin-right: auto;
	 width:200px;
	 height:150px;
 }
.home-icon{
	margin-top:10px;
	text-align: center;
}
.select-arrow {
    background: rgba(0, 0, 0, 0) url("../img/down_arrow_white.gif") no-repeat scroll 156px 15px;
    border: 1px solid #b8c1c4;
    border-radius: 6px;
    text-align: center;
    color: #0b1635;
    font-size: 15px;
    padding: 14px 0px 12px 0px;

}
.itemss {
    padding: 10px !important;
	font-size: 15px !important;
}
.select-item {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #b8c1c4;
    border-radius: 6px;
	text-align: center;
    color: #0b1635;
    font-size: 15px;
}
.selected-item {
    background: #bccfd5;
    color: #091233;
}
}

@media only screen and (min-width : 380px) {
.head-imge{
	 display: block;
    margin-left: auto;
    margin-right: auto;
	 width:200px;
	 height:150px;
 }
}
@media only screen and (min-width : 400px) {
.head-imge{
	 display: block;
    margin-left: auto;
    margin-right: auto;
	 width:200px;
	 height:150px;
 }
}

@media only screen and (min-width : 420px) {
.head-imge{
	 display: block;
    margin-left: auto;
    margin-right: auto;
	 width:200px;
	 height:150px;
 }
}

@media only screen and (min-width : 690px) {
.head-imge{
	 display: block;
    margin-left: auto;
    margin-right: auto;
	 width:200px;
	 height:150px;
 }
}


@media only screen and (min-width : 412px) {/*--- iphone 6+  ---*/
.home{
	width: 50%;
}
.role{
	width: 27%;
}
.head-role {
    color: #364372;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}


.home-icon{
	margin-top:10px;
	text-align: center;
}
.select-arrow {
    background: rgba(0, 0, 0, 0) url("../img/down_arrow_white.gif") no-repeat scroll 180px 19px;
    border: 1px solid #b8c1c4;
    border-radius: 6px;
    text-align: center;
    color: #0b1635;
    font-size: 17px;
    padding: 18px 0px 17px 0px;

}
.itemss {
    padding: 15px !important;
	font-size: 17px !important;
}
.select-item {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #b8c1c4;
    border-radius: 6px;
	text-align: center;
    color: #0b1635;
    font-size: 17px;
}
.selected-item {
   background: #bccfd5;
    color: #091233;
}
}
@media only screen and (min-width : 480px) {/*---   ---*/
.home{
	width: 50%;
}
.role{
	width: 27%;
}
.head-role {
    color: #364372;
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
}

.home-icon{
	margin-top:10px;
	text-align: center;
}
.select-arrow {
    background: rgba(0, 0, 0, 0) url("../img/down_arrow_white.gif") no-repeat scroll 218px 19px;
    border: 1px solid #b8c1c4;
    border-radius: 6px;
    text-align: center;
    color: #0b1635;
    font-size: 20px;
    padding: 18px 0px 17px 0px;

}
.itemss {
    padding: 15px !important;
	font-size: 20px !important;
}
.select-item {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #b8c1c4;
    border-radius: 6px;
	text-align: center;
    color: #0b1635;
    font-size: 20px;
}
.selected-item {
    background: #bccfd5;
    color: #091233;
}
}
@media only screen and (min-width : 595px) {/*--- Small tablet portrait ---*/
.home{
	width: 50%;
}
.role{
	width: 27%;
}
.head-role {
    color: #364372;
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
}
.home-icon{
	margin-top:10px;
	text-align: center;
}
.select-arrow {
    background: rgba(0, 0, 0, 0) url("../img/down_arrow_white.gif") no-repeat scroll 287px 30px;
    border: 2px solid #b8c1c4;
    border-radius: 6px;
    text-align: center;
    color: #0b1635;
    font-size: 25px;
    padding: 30px 0px 25px 0px;

}
.itemss {
    padding: 30px !important;
	font-size: 25px !important;
}
.select-item {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #b8c1c4;
    border-radius: 6px;
	text-align: center;
    color: #0b1635;
    font-size: 25px;
}
.selected-item {
    background: #bccfd5;
    color: #091233;
}
}
@media only screen and (min-width : 690px) {/*--- Tablet portrait ---*/
.home{
	width: 45%;
}
.role{
	width: 25%;
}
.head-role {
    color: #364372;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}
.home-icon{
	margin-top:10px;
	text-align: center;
}
.select-arrow {
    background: rgba(0, 0, 0, 0) url("../img/down_arrow_white.gif") no-repeat scroll 333px 30px;
    border: 2px solid #b8c1c4;
    border-radius: 6px;
    text-align: center;
    color: #0b1635;
    font-size: 30px;
    padding: 30px 0px 25px 0px;

}
.itemss {
    padding: 30px !important;
	font-size: 30px !important;
}
.select-item {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #b8c1c4;
    border-radius: 6px;
	text-align: center;
    color: #0b1635;
    font-size: 30px;
}
.selected-item {
    background: #bccfd5;
    color: #091233;
}
}
@media only screen and (min-width : 768px) {/*--- /* iPads (portrait and landscape)  ---*/
.home{
	width: 45%;
}
.role{
	width: 25%;
}
.head-role {
    color: #364372;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}
.home-icon{
	margin-top:10px;
	text-align: center;
}
.select-arrow {
    background: rgba(0, 0, 0, 0) url("../img/down_arrow_white.gif") no-repeat scroll 387px 30px;
    border: 2px solid #b8c1c4;
    border-radius: 6px;
    text-align: center;
    color: #0b1635;
    font-size: 30px;
    padding: 30px 0px 25px 0px;

}
.itemss {
    padding: 30px !important;
	font-size: 30px !important;
}
.select-item {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #b8c1c4;
    border-radius: 6px;
	text-align: center;
    color: #0b1635;
    font-size: 30px;
}
.selected-item {
    background: #bccfd5;
    color: #091233;
}
}
@media only screen and (min-width : 1024px) {/*--- Tablet landscape --- */
}
/* spinner */
.spinner svg{
        width:45px;
        height: 45px;
}
eight: 200px; /* slider height you want */
}


.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffaa56; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;


	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){

.home{
	width: 50%;
}
.role{
	width: 27%;
}

.home-icon .home {width:200px; margin:auto;}

}

.image-modal {
	width: 100% !important;
	height: 100%;
	top: 0 !important;
	left: 0 !important;
}

.transparent {
	background-color: rgba(0,0,0,0.5);
	/*background: transparent !important;*/
	/* opacity:0.4; */
}
.slider {
	width: 100%;
	height: 100%;
}
.slide_image{
	padding: 0px !important;
}
.slide_video{
	padding: 0px !important;
}
.side_menu .item{
	color:#fff;
	border:0px !important;

}
.slider-pager {
   /* position: fixed !important;*/

}
.image_zoom{
	text-align:center !important;
	line-height:55 !important;
}

.app_div {
	display:none;
}
.modal_div{
	position:fixed;
	left:0;
	top:0;
    background-color:#000;
    opacity: 0.5;
    text-align:center;
    z-index:1000;
	width:100%;
	height:100%;
}

.item.item-select.city:after{
    right:-10px;
}

.popup-head {
    padding: 15px 10px;
    border-bottom: 2px solid #11C1F3 !important;
    text-align: center;
}

.popup-body {
     padding: 0px !important;
    overflow: auto;
}

.platform-android .action-sheet .action-sheet-title {
    padding: 10px;
    border-bottom: 2px solid #11C1F3;
    color: #11C1F3 !important;
}

input[type="radio"] {
    margin: 8px;
    line-height: normal;
    -webkit-transform: scale(1.4, 1.4);
    /* margin: 1.25em 1.25em 1.25em 0; */
    width: 25px;
    padding: 0px;
    text-align: center;
}

.action-sheet-group .action-sheet-title .imageTitle{
    color: #11C1F3 !important;
}

.button:after {

    bottom: 0px;

}
.cb {
    list-style: none;
    padding: 10px;
    display:inline-block;
    background-color: #000;
    color: #FFF;
    border: 1px solid black;
	border-radius: 5px;
}

.cb-active {
    background-color: #ee1;
}

.flip-toggle .toggle .track {
  width: 85px;
  background-color: #CCC;
  border-color: white; }
.flip-toggle .toggle {
  overflow: hidden; }
  .flip-toggle .toggle .handle {
    background-color: #fff;
    border: 1px light #00345c;
    width: 22px;
    height: 22px;
    top: 10px;
    left: 12px;
    z-index: 20; }
  .flip-toggle .toggle input:checked + .track {
    background-color: #10D272;
    border-color: white; }
  .flip-toggle .toggle input:checked + .track .handle {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    background-color: #fff; }

span.handle-label {
  width: 50px;
  position: absolute;
  height: 21px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  background: 0;
  border-color: transparent;
  color: white; }

.handle-label-a {
  left: -50px;
  margin-right: -1px; }

.handle-label-b {
  right: -50px;
  margin-right: -1px; }
